{
	"animations" : ["/humanoid/any/sbqModules/pussyInfuse/pussyInfuse.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/pussy/sbqOccupant.animation"],
	"settingsConfig" : {
		"overrideSettings" : {
			"any":{"pussySelectOverride" : true}
		}
	},

	"locations" : {
		"womb" : {
			"infuseType" : "pussyInfuse",
			"infuseSize" : true,
			"activeSettings" : [{"infusePrefs":{"pussyInfuse":{"pred":true}}}],
			"maxSize" : 0,
			"maxCount" : 0,
			"struggleSizes" : [0]
		},
		"pussy" : {
			"infuseType" : "pussyInfuse",
			"infuseColors" : true,
			"activeSettings" : [
				{"vorePrefs":{"unbirthVore":{"pred":true}}}
			],
			"maxSize" : 1.5,
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["womb"]
			},
			"climaxEmitters" : {
				"pussy_climax" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["womb"]}
			},
			"leakEmitters" : {
				"pussy_leak_1" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["womb"]},
				"pussy_leak_2" : {"blockingStats":["sbq_hideCrotch","sbq_pussyCovered"],"setting":"pussyLeakiness", "addCount" : ["womb"]}
			}
		}
	},
	"states" : {
		"default" : {
			"actions" : {
				"unbirthVore" : {
					"targetSettings" : {
						"infusePrefs":{"pussyInfuse":{"prey":true}},
						"vorePrefs":{"unbirthVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"pussyInfuse":{"pred":true}},
						"vorePrefs":{"unbirthVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"pussyInfuse" : {
					"targetSettings" : {"infusePrefs":{"pussyInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"pussyInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"pussy",
					"voreAction":"pussyInfuseExternal",
					"finishAction":"pussyInfused"
				},
				"pussyInfused" : {
					"targetSettings" : {"infusePrefs":{"pussyInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"pussyInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"pussy",
					"infuseSlots" : [
						"pussy"
					]
				},
				"pussyInfuseExternal" : {
					"targetSettings" : {
						"infusePrefs":{"pussyInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"pussyInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["unbirthVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "pussy",
					"hideSlots" : {
						"legs" : true
					}
				}
			},
			"interactActions" : {
				"pussyInfuse" : {
					"action":"pussyInfuse",
					"aimPart":"pussy","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			},
			"locations" : {
			}
		}
	},
	"availableVoreTypes" : {
		"unbirthVore" : true
	},
	"availableInfuseTypes": {
		"pussyInfuse" : true
	}
}
