{"type":"layout", "id":"<groupKey><setting>PrefLayout", "mode":"horizontal","children":[
	[
		{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"<setting>", "toolTip":":<setting>EnabledTip"},
		{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"<domOrSub>Behavior", "groupKey":"<groupKey>", "setting":"consentRequired", "toolTip":":<setting>ConsentRequiredTip"}
	],
	{"type":"label", "text":":<groupKey>"},
]}
