{"type":"layout", "id":"<groupKey><setting>PrefLayout", "mode":"horizontal","children":[
	[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"<setting>", "toolTip":":voreEnabledTip"},
	{"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"<setting>Consent", "toolTip":":voreConsentTip"}],
	{"type":"label", "text":":<groupKey>"},
]}
