{
	"default" : { // default infuse data used for any species
		"overrideSettings" : {}, // override settings applied when infused anywhere
		"locations" : {
			"cock" : {
				"overrideSettings" : {"cock":true}, // override settings applied when infused in a specific location
				"locationOverrides" : {}, // override for locationdata
				"globalTags" : {}, // global tags to set in the animator, such as replacing the sprite for the part (will use the species' normal sprite for the part if not defined)
				"colorRemapGlobalTags" : {
					"cockInfusedColorRemap" : [
						["primary","primary"],
						["secondary","secondary"]
					]
				}
			},
			"balls" : {
				"colorRemapGlobalTags" : {
					"ballsInfusedColorRemap" : [
						["primary","secondary"],
						["secondary","primary"]
					]
				}
			},
			"pussy" : {
				"overrideSettings" : {"pussy":true},
				"colorRemapGlobalTags" : {
					"pussyInfusedColorRemap" : [
						["primary","primary"],
						["flesh","secondary"],
						["secondary","secondary"]
					]
				}
			},
			"belly" : {
				"colorRemapGlobalTags" : {
					"bellyInfusedColorRemap" : [
						{"a94783":"d39c6c", "check" : {"visibleNavel":true}},
						{"a94783":"ffc181", "check" : {"visibleNavel":false}},
						["primary","primary"],
						["secondary","secondary"]
					]
				}
			},
			"breasts" : {
				"overrideSettings" : {"breasts":true},
				"colorRemapGlobalTags" : {
					"breastsInfusedColorRemap" : [
						["primary","primary"],
						["flesh","flesh", {"visibleNipples":true}],
						["flesh","primary", {"visibleNipples":false}]
					]
				}
			}
		}
	},
	"sbqAuri_LokiVulpix" : { // example for infuseData used by a specific species that has a different body layout and therefore may need different sprites

	}

}
