{
	"locationOverrides" : {
		// overrides data in every location, useful for preventing unwanted effects from being present in any state
		"secondaryEffects" : {
			"transform" : false
		},
		"digestedEffects" : {
			"transformDigested" : false
		}
	},
	"states":{"default":{"actions":{
		"transform" : false,
		"transformed" : false
	}}}

}
