{
	"hidePredSettings":true,
	"overrideSettings" : {
		"vorePrefs" : {
			"oralVore" : {"pred":false},
			"tailVore" : {"pred":false},
			"absorbVore" : {"pred":false},
			"navelVore" : {"pred":false},

			"analVore" : {"pred":false},
			"unbirthVore" : {"pred":false},
			"breastVore" : {"pred":false},
			"cockVore" : {"pred":false}
		},
		"infusePrefs" : {
			"thighsInfuse" : {"pred":false},
			"bellyInfuse" : {"pred":false},
			"breastInfuse" : {"pred":false},
			"pussyInfuse" : {"pred":false},
			"cockInfuse" : {"pred":false},
			"pawInfuse" : {"pred":false},
			"tailInfuse" : {"pred":false}
		}

	}
}
