{
	"hideInfusePredSettings" : true,
	"overrideSettings" : {
		"infusePrefs" : {
			"thighsInfuse" : {"pred":false},
			"bellyInfuse" : {"pred":false},
			"breastInfuse" : {"pred":false},
			"pussyInfuse" : {"pred":false},
			"cockInfuse" : {"pred":false},
			"pawInfuse" : {"pred":false},
			"tailInfuse" : {"pred":false}
		}
	},
	"groupedDefaultSettings" : {
		"infusePrefs":{"pred":false}
	},
	"states":{"default":{"actions":{
		"thighsInfuse" : false,
		"bellyInfuse" : false,
		"breastInfuse" : false,
		"pussyInfuse" : false,
		"cockInfuse" : false,
		"pawInfuse" : false,
		"tailInfuse" : false
	}}},
	"locationOverrides" : {
		// overrides data in every location, useful for preventing unwanted effects from being present in any state
		"secondaryEffects" : {
			"bellyInfuse" : false,
			"thighsInfuse" : false,
			"breastInfuse" : false,
			"cockInfuse" : false,
			"pussyInfuse" : false,
			"tailInfuse" : false,
			"pawInfuse" : false
		},
		"digestedEffects" : {
			"transformDigested" : false,
			"bellyInfuseDigested" : false,
			"thighsInfuseDigested" : false,
			"breastInfuseDigested" : false,
			"cockInfuseDigested" : false,
			"pussyInfuseDigested" : false,
			"tailInfuseDigested" : false,
			"pawInfuseDigested" : false
		}
	}
}
