{
	"hideTFSettings":true,
	"overrideSettings" : {
		"speciesTF" : false,
		"indefiniteTF" : false,
		"permanentTF" : false,
		"genderTF" : false,
		"accidentalTF" : false,

		"potionTF" : true,
		"magicTF" : true,
		"scienceTF" : true,
		"voreTF" : false,
		"unbirthTF" : false
	},
	"locationsOverride" : {
		// overrides data in every location, useful for preventing unwanted effects from being present in any state
		"secondaryEffects" : {
			"transform" : false
		},
		"digestedEffects" : {
			"transformDigested" : false
		}
	},
	"states":{"default":{"actions":{
		"transform" : false,
		"transformed" : false
	}}}
}
