{
	"hidePreySettings":true,
	"overrideSettings" : {
		"vorePrefs" : {
			"oralVore" : {"prey":false},
			"tailVore" : {"prey":false},
			"absorbVore" : {"prey":false},
			"navelVore" : {"prey":false},

			"analVore" : {"prey":false},
			"unbirthVore" : {"prey":false},
			"breastVore" : {"prey":false},
			"cockVore" : {"prey":false}
		}
	}
}
