{
	"hidePredSettings":true,
	"overrideSettings" : {
		"vorePrefs" : {
			"oralVore" : {"pred":false},
			"tailVore" : {"pred":false},
			"absorbVore" : {"pred":false},
			"navelVore" : {"pred":false},

			"analVore" : {"pred":false},
			"unbirthVore" : {"pred":false},
			"breastVore" : {"pred":false},
			"cockVore" : {"pred":false}
		}
	},
	"groupedDefaultSettings" : {
		"vorePrefs":{"pred":false}
	}
}
