{
	"pred" : {},
	"prey" : {},
	"locations" : {
		"belly" : {
			"sharedWith" : ["womb"],
			"addFill" : ["womb"],
			"maxFill" : 2,
			"struggleSizes" : [0,0.25,0.5,0.75,1,2],
			"interpolateSizes" : [ 0,
				0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
				0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1,
				1.125,1.25,1.375,1.5,1.625,1.75,1.875,2
				//2.125,2.25,2.375,2.5,2.625,2.75,2.875,3
			],
			"interpolateAnims" : { "bellyExpandState" : "expand" }
		},
		"ass" : {
			"maxCount" : 1
		},
		"tail" : {},
		"pussy" : {
			"maxCount" : 1
		},
		"womb" : {
			"sharedWith" : ["belly"],
			"maxFill" : 2,
		},
		"breasts" : {
			"maxFill" : 1,
			"struggleSizes":[0,0.5,1],
			"interpolateSizes":[ 0,
				0.1,0.2,0.3,0.4,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
				0.6,0.7,0.8,0.9,1
			],
			"subLocations" : {
				"<left>" : {"interpolateAnims" : { "breasts_<left>ExpandState" : "expand" }},
				"<right>" : {"interpolateAnims" : { "breasts_<right>ExpandState" : "expand" }},
			},
			"interpolateAnims" : { "breastsExpandState" : "expand" }
		},
		"cleavage" : {
			"maxCount" : 1
		},
		"cock" : {
			"maxFill" : 1,
			"maxCount" : 1,
			"struggleSizes":[0,0.5,1],
			"interpolateSizes":[ 0,
				0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
				0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1
			],
			"interpolateAnims" : { "cockExpandState" : "expand" }
		},
		"balls" : {
			"maxFill" : 2,
			"struggleSizes":[0,0.5,1,2],
			"interpolateSizes":[ 0,
				0.15,0.3,0.5,0.65,0.8,1,
				1.15,1.3,1.5,1.65,1.8,2
			],
			"subLocations" : {
				"<left>" : {"interpolateAnims" : { "balls_<left>ExpandState" : "expand" }},
				"<right>" : {"interpolateAnims" : { "balls_<right>ExpandState" : "expand" }},
			},
			"interpolateAnims" : { "ballsExpandState" : "expand" }
		}
	},
	"scripts" : ["/humanoid/any/voreScripts.lua"],
	"states" : {
		"default" : {
			"actions" : {
				"example" : {
					// compares settings before attempting to perform the action, only defined values need to match
					"settings": {}, // compares with sbq.settings
					// having target settings defined will automatically fail the action if there is no target!
					"targetSettings": {}, // checks the sbqPublicSettings property on the targeted entity to compare
					// if settings checks pass, it will attempt to run a script before going further when defined
					// checks the state for a script with the matching name to run
					// if there is not one specific to the state, it will check for one in the "default"
					// state with a matching name, if there is no script it automatically fails
					"script" : "scriptName", // if the script returns a truthy value, things will continue
					"failureScript" : "scriptName", // if settings or script checks failed, this script will then be called
					// if settings and script were successful it will attempt to start every animation defined here
					"animations" : {
						"animationState" : "animation",
						// if the target is/becomes an occupant the <occupant> tag in any key
						// will automatically be assigned to that occupant's seat
						"<occupant>State" : ["animation", true, false, false],
						// an animation can also be defined as an array to set additional args
						// [1] String the name of the animation
						// [2] Bool the animation is forced to restart
						// [3] Bool the animation should play in reverse
						// [4] Bool whether the anim will not override an active unfinished anim
					},
					// cooldown after a success from settings and script until the action can be attempted again
					// optional arg, if undefined, assumed to be the length of the longest animation
					"cooldown" : 1,
					// cooldown after a failure from settings and script until the action can be attempted again
					// optional arg, if undefined, assumed to be 0
					"failureCooldown" : 0
				},
				"pickLetout" : {
					"script" : "pickLetout"
				},
				"moveToLocation" : {
					"script" : "moveToLocation"
				},
				"oralVore" : {
					"targetSettings" : {
						"oralVorePrey" : true
					},
					"settings" : {
						"oralVorePred" : true
					},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["oralVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"oralVoreLetout" : {
					"targetSettings" : {
						"oralVorePrey" : true
					},
					"settings" : {
						"oralVorePred" : true
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["oralVore",true, true]
					},
					"throughput" : 1.25
				},

				"unbirthVore" : {
					"targetSettings" : {
						"unbirthVorePrey" : true
					},
					"settings" : {
						"unbirthVorePred" : true
					},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["unbirthVore",true]
					},
					"location" : "womb",
					"throughput" : 1.25
				},
				"unbirthVoreLetout" : {
					"targetSettings" : {
						"unbirthVorePrey" : true
					},
					"settings" : {
						"unbirthVorePred" : true
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["unbirthVore",true, true]
					},
					"throughput" : 1.25
				},

				"analVore" : {
					"targetSettings" : {
						"analVorePrey" : true
					},
					"settings" : {
						"analVorePred" : true
					},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["analVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"analVoreLetout" : {
					"targetSettings" : {
						"analVorePrey" : true
					},
					"settings" : {
						"analVorePred" : true
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["analVore",true, true]
					},
					"throughput" : 1.25
				},

				"navelVore" : {
					"targetSettings" : {
						"navelVorePrey" : true
					},
					"settings" : {
						"navelVorePred" : true
					},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["navelVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"navelVoreLetout" : {
					"targetSettings" : {
						"navelVorePrey" : true
					},
					"settings" : {
						"navelVorePred" : true
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["navelVore",true, true]
					},
					"throughput" : 1.25
				},

				"cockVore" : {
					"targetSettings" : {
						"cockVorePrey" : true
					},
					"settings" : {
						"cockVorePred" : true
					},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["cockVore",true]
					},
					"location" : "cock",
					"throughput" : 1.25
				},
				"cockVoreLetout" : {
					"targetSettings" : {
						"cockVorePrey" : true
					},
					"settings" : {
						"cockVorePred" : true
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["cockVore",true, true]
					},
					"throughput" : 1.25
				},

				"breastVore" : {
					"targetSettings" : {
						"breastVorePrey" : true
					},
					"settings" : {
						"breastVorePred" : true
					},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["breastVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"breastVoreLetout" : {
					"targetSettings" : {
						"breastVorePrey" : true
					},
					"settings" : {
						"breastVorePred" : true
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["breastVore",true, true]
					},
					"throughput" : 1.25
				},
			},
			"locations" : {
				"belly" : {
					"entryTypes" : ["oralVore","analVore","navelVore","absorbVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"bellyState" : "s_<s_direction>_press"},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : "s_<s_direction>_release"},
							// minimum, maximum, and whether it is required to pass its check for the other to also succeed
							"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30, false] // count of struggles to trigger action
						},
						"up" : {"indicate":"red", "action":"oralVoreLetout"},
						"down" : {"indicate":"red", "action":"analVoreLetout"},
						"front" : {"indicate":"red", "action":"navelVoreLetout"},
						"back" : {}
					}
				},
				"womb" : {
					"entryTypes" : ["unbirthVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"bellyState" : "s_<s_direction>_press"},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : "s_<s_direction>_release"},
							// minimum, maximum, and whether it is required to pass its check for the other to also succeed
							"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30, false] // count of struggles to trigger action
						},
						"up" : {},
						"down" : {"indicate":"red", "action":"unbirthVoreLetout"},
						"front" : {},
						"back" : {}
					}
				},
				"pussy" : {
					"entryTypes" : ["unbirthVore"],
				},
				"cock" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"cockState" : "s_<s_direction>_press"},
							"holdAnimations" : {"cockState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"cockState" : "s_<s_direction>_release"},
							// minimum, maximum, and whether it is required to pass its check for the other to also succeed
							"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30, false] // count of struggles to trigger action
						},
						"up" : {"indicate":"cyan", "action":"moveToLocation", "actionArgs":["balls"]},
						"down" : {"indicate":"red", "action":"cockVoreLetout"},
						"front" : {},
						"back" : {}
					}
				},
				"balls" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"ballsState" : "s_<s_direction>_press"},
							"holdAnimations" : {"ballsState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"ballsState" : "s_<s_direction>_release"},
							// minimum, maximum, and whether it is required to pass its check for the other to also succeed
							"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30, false] // count of struggles to trigger action
						},
						"up" : {"indicate":"green", "action":"moveToLocation", "actionArgs":["cock"]},
						"down" : {},
						"front" : {},
						"back" : {}
					},
					"subLocations" : {
						"<right>" : {"struggleActions" :{
							"any" : {
								"pressAnimations" : {"balls_<right>State" : "s_<s_direction>_press"},
								"holdAnimations" : {"balls_<right>State" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"balls_<right>State" : "s_<s_direction>_release"},
								// minimum, maximum, and whether it is required to pass its check for the other to also succeed
								"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30, false] // count of struggles to trigger action
							},
							"up" : {"indicate":"green", "action":"moveToLocation", "actionArgs":["cock"]},
							"down" : {},
							"front" : {},
							"back" : {},
							"left" : {"indicate":"cyan", "action":"moveToLocation", "actionArgs":["balls","<left>"]}
						}},
						"<left>" : {"struggleActions" :{
							"any" : {
								"pressAnimations" : {"balls_<left>State" : "s_<s_direction>_press"},
								"holdAnimations" : {"balls_<left>State" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"balls_<left>State" : "s_<s_direction>_release"},
								// minimum, maximum, and whether it is required to pass its check for the other to also succeed
								"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30, false] // count of struggles to trigger action
							},
							"up" : {"indicate":"green", "action":"moveToLocation", "actionArgs":["cock"]},
							"down" : {},
							"front" : {},
							"back" : {},
							"right" : {"indicate":"cyan", "action":"moveToLocation", "actionArgs":["balls","<right>"]}
						}}

					}
				},
				"ass" : {
					"entryTypes" : ["analVore"],
				},
				"tail" : {
					"entryTypes" : ["tailVore"],
				},
				"breasts" : {
					"entryTypes" : ["breastVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"breastsState" : "s_<s_direction>_press"},
							"holdAnimations" : {"breastsState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"breastsState" : "s_<s_direction>_release"},
							// minimum, maximum, and whether it is required to pass its check for the other to also succeed
							"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30, false] // count of struggles to trigger action
						},
						"up" : {},
						"down" : {},
						"front" : {"indicate":"red", "action":"breastVoreLetout"},
						"back" : {}
					},
					"subLocations" : {
						"<right>" : {"struggleActions" :{
							"any" : {
								"pressAnimations" : {"breasts_<right>State" : "s_<s_direction>_press"},
								"holdAnimations" : {"breasts_<right>State" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"breasts_<right>State" : "s_<s_direction>_release"},
								// minimum, maximum, and whether it is required to pass its check for the other to also succeed
								"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30, false] // count of struggles to trigger action
							},
							"up" : {},
							"down" : {},
							"front" : {"indicate":"red", "action":"breastVoreLetout"},
							"back" : {},
						}},
						"<left>" : {"struggleActions" :{
							"any" : {
								"pressAnimations" : {"breasts_<left>State" : "s_<s_direction>_press"},
								"holdAnimations" : {"breasts_<left>State" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"breasts_<left>State" : "s_<s_direction>_release"},
								// minimum, maximum, and whether it is required to pass its check for the other to also succeed
								"time" : [10,15, false], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30, false] // count of struggles to trigger action
							},
							"up" : {},
							"down" : {},
							"front" : {"indicate":"red", "action":"breastVoreLetout"},
							"back" : {},
						}}

					}

				}
			}
		}
	},
	//"occupantAnimationConfig" : ["/humanoid/any/voreOccupant.animation"]
}
