[ "/humanoid/any/basicActions.config", {
	"defaultSettings" : {},
	"overrideSettings" : {
		"locations" : {"grabbed":{"struggleSounds":false}}
	},

	"locations" : {

	},
	"states" : {
		"default" : {
			"actions" : {
				"vore" : {
					"script" : "actionSequence",
					"availableScript" : "actionSequenceAvailable",
					"untilFirstSuccess" : true,
					"availableSuccessCount" : 2,
					"randomizeOrder" : true,
					"actionList" : [
						["oralVore"],
						["cockVore"],
						["breastVore"],
						["unbirthVore"],
						["analVore"],
						["absorbVore"],
						["tailVore"],
						["navelVore"]
					]
				}
			},
			"locations" : {
			},
			"interactActions" : {
				//"defaultVore" : { "action" : "vore" },
			}
		}
	},

	"settingUpdateScripts" : {
		"nipplesVisible" : ["refreshRemapTags"],
		"cockMatchGender" : ["refreshInfusion"],
		"pussyMatchGender" : ["refreshInfusion"],
		"breastsMatchGender" : ["refreshInfusion"],
		"ballsMatchGender" : ["refreshInfusion"],
		"tailSelect" : ["refreshInfusion"],
		"cockSelect" : ["refreshInfusion"]
	},
	"legsVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
	},
	"chestVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV

	},
	"legsHide" : {
		"cockHiddenState" : "none",
		"ballsHiddenState" : "none",
		"pussyHiddenState" : "none"
	},
	"chestHide" : {
		"breastsHiddenState" : "none"
	},

	"pussyShow" : {
		"pussyHiddenState" : "ignore"
	},
	"cockShow" : {
		"cockHiddenState" : "ignore"
	},
	"ballsShow" : {
		"ballsHiddenState" : "ignore"
	},
	"breastsShow" : {
		"breastsHiddenState" : "ignore"
	},

	"pussyHide" : {
		"pussyHiddenState" : "none"
	},
	"cockHide" : {
		"cockHiddenState" : "none"
	},
	"ballsHide" : {
		"ballsHiddenState" : "none"
	},
	"breastsHide" : {
		"breastsHiddenState" : "none"
	},


	"selectValues" : {
		"tailSelect" : [
			"default",
			"nickit_tail",
			"flareon_tail",
			"vaporeon_tail",
			"hellhound_tail"
		],
		"cockSelect" : [
			"default",
			"generic_cock"
		],
		"tailInfuseSelect" : [
			"default",
			"nickit_tail",
			"flareon_tail",
			"vaporeon_tail",
			"hellhound_tail"
		],
		"cockInfuseSelect" : [
			"default",
			"generic_cock"
		],
		"transgender" : [
			"unchanged",
			"random",
			"swap",
			"male",
			"female"
		]
	}
}]
