["/humanoid/any/vore.config",{
	"locations" : {
		"belly" : {
			"struggleSizes" : [0,0.5,1,2],
			"interpolateSizes":[ 0,
				0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1,
				1.125, 1.25, 1.375, 1.5, 1.625, 1.75, 1.875, 2
			]
		}
	},
	"states" : {
		"default" : {
			"locations" : {
				"belly" : {
					"struggleActions" : {
						"front" : {"indicate":"red", "action":"oralVoreLetout"},
						"back" : {"indicate":"red", "action":"analVoreLetout"},
						"up" : {"indicate":false, "action":false},
						"down" : {"indicate":false, "action":false}
					}
				},
				"womb" : {
					"struggleActions" : {
						"front" : {"indicate":false, "action":false},
						"back" : {"indicate":"red", "action":"unbirthVoreLetout"},
						"up" : {"indicate":false, "action":false},
						"down" : {"indicate":false, "action":false}
					}
				}
			}
		}
	},
	"legsVoreWhitelist" : false,
	"chestVoreWhitelist" : false
}]
