{
    "type":"panel", "id" :"panel_<settingId>", "style":"convex","expandMode":[1,0], "children" : [
        {"mode":"v","expandMode":[1,0]},
        [
            {"type":"button", "id" : "remove_<settingId>", "caption":"x","expandMode":[0,0], "size":[11,11],"color":"FF0000"},
            {"type":"label", "text":":<setting>"}
        ],
        [
            {"type":"label", "text":":settingOverrideValue", "inline":true},
            {"type":"checkBox", "id" : "override_<settingId>", "toolTip":":overrideSettingTip"}
        ]
    ]
}
