{
    "type":"panel", "id" :"panel_settingId", "style":"convex","expandMode":[1,0], "children" : [
        {"mode":"v","expandMode":[1,0]},
        [
            {"type":"button", "id" : "add_<settingId>", "caption":"+","expandMode":[0,0], "size":[11,11],"color":"00FF00"},
            {"type":"label", "text":":<setting>"}
        ]
    ]
}
