{
    "type":"panel", "id" :"panel_settingId", "style":"convex","expandMode":[1,0], "children" : [
        {"mode":"v","expandMode":[1,0]},
        [
            [
                {"mode":"h","expandMode":[2,0]},
                {"type":"label", "text":":settingName", "inline":true},
                {"type":"label", "text":":<setting>"}
            ],
            [
                {"mode":"h","expandMode":[2,0]},
                {"type":"label", "text":":settingId", "inline":true},
                {"type":"label", "text":"<settingId>"}
            ],
            {"type":"button", "id" : "add_<settingId>", "caption":"+","expandMode":[0,0], "size":[11,11],"color":"00FF00"}
        ]
    ]
}
