{
    "type":"panel", "id" :"panel_settingId", "style":"convex","expandMode":[1,0], "children" : [
        {"mode":"v","expandMode":[1,0]},
        [
            [
                {"mode":"h","expandMode":[2,0]},
                {"type":"label", "text":":settingName", "inline":true},
                {"type":"label", "text":":<setting>"}
            ],
            [
                {"mode":"h","expandMode":[2,0]},
                {"type":"label", "text":":settingId", "inline":true},
                {"type":"label", "text":"<settingId>"}
            ],
            {"type":"button", "id" : "remove_<settingId>", "caption":"x","expandMode":[0,0], "size":[11,11],"color":"FF0000"}
        ],
        [
            {"type":"label", "text":":settingOverrideValue"},
            {"type":"textBox", "id" : "override_<settingId>", "toolTip":":overrideSettingTip"}
        ],
        [
            {"type":"panel", "id" :"invalidMapPanel_<settingId>", "style":"flat","expandMode":[1,0], "children" : [
                {"mode":"v","expandMode":[1,0]},
                {"type":"label", "text":":settingInvalidMap", "inline":true},
                {"type":"layout", "id" :"_invalidMapLayout_<settingId>", "expandMode":[1,0],"mode":"v"},
                {"type":"button", "id" : "_invalidMapAddButton_<settingId>", "caption":"+","expandMode":[2,0], "size":[11,11],"color":"00FF00"}
            ]}
        ]
    ]
}
