{
    "type":"panel", "id" :"panel_<settingId>", "style":"convex","expandMode":[1,0], "children" : [
        {"mode":"v","expandMode":[1,0]},
        [
            {"type":"button", "id" : "remove_<settingId>", "caption":"x","expandMode":[0,0], "size":[11,11],"color":"FF0000"},
            {"type":"label", "text":":<setting>"}
        ],
        [
            {"type":"label", "text":":settingOverrideValue"},
            {"type":"textBox", "id" : "override_<settingId>", "toolTip":":overrideSettingTip"}
        ],
        [
            [
                {"mode":"h","expandMode":[1,0]},
                {"type":"label", "text":":min", "inline":true},
                {"type":"textBox", "id" : "invalidMin_<settingId>"}
            ],
            [
                {"mode":"h","expandMode":[1,0]},
                {"type":"label", "text":":max", "inline":true},
                {"type":"textBox", "id" : "invalidMax_<settingId>"}
            ]
        ]
    ]
}
