[
	"/humanoid/any/humanoidPred.animation",
	{
		"globalTagDefaults" : {
			"legs_fg_mask" : "/humanoid/avali/frontLegMask/malebody.png"
		},
		"animatedParts":{
			"parts":{
				"belly":{"properties":{
					"offset" : [-0.125,0]
				}},
				"cock":{"properties":{
					"offset" : [-0.25,0]
				}},
				"ballsFront":{"properties":{
					"offset" : [-0.25,0]
				}},
				"ballsBack":{"properties":{
					"offset" : [-0.25,0]
				}},
				"tail":{"properties":{
					"offset" : [-0.25,0]
				}}
			}
		}
	}

]
