[ "/humanoid/any/vore.config", {

	"defaultSettings" : {
		"navelVisible" : true
	},
	"locations" : {
		"tail" : {
			"disabled" : true,
			"settingInfusion" :{
				"tailSelect" :{
					"any" : {
						"globalTags" : {
							"bodyMaskPath" : "/humanoid/avali/removeTailMask/"
						}
					}
				}
			}
		}
	}

}]
