{
	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","flesh"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsCover2" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary1"]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary1"]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary1"]
			]
		}
	}
}
