{
    "animation" : "/humanoid/any/sbqModules/belly_quadruped/belly_quadruped.animation",
    "occupantAnimation" : "/humanoid/any/sbqModules/belly_quadruped/occupant.animation",

    "locations" : {

    },
    "states" : {
        "default" : {
            "actions" : {

            },
            "interactActions" : {

            },
            "locations" : {

            }
        }
    },
    "availableVoreTypes" : {

    },
    "availableInfuseTypes": {

    }
}
