{
    "animations" : ["/humanoid/any/sbqModules/belly_quadruped/belly_quadruped.animation"],
    "occupantAnimations" : ["/humanoid/any/sbqModules/belly_quadruped/sbqOccupant.animation"],

    "locations" : {

    },
    "states" : {
        "default" : {
            "actions" : {

            },
            "interactActions" : {

            },
            "locations" : {

            }
        }
    },
    "availableVoreTypes" : {

    },
    "availableInfuseTypes": {

    }
}
