
[
	{ "name": "furniture", "toolTip" : "Furniture", "icon" : "/objects/sbq/sbqSpawners/sbqSpawnerVappyBed/sbqSpawnerVappyBedIcon.png", "recipes" : [
		{ "result" : "sbqFireplaceTeleporter", "materials" : [ { "item" : "medievalfireplace", "count" : 1 }, { "item" : "teleportercore", "count" : 1 } ] },
		{ "result" : "sbqBigFireplaceTeleporter", "materials" : [ { "item" : "medievalfireplace", "count" : 1 }, { "item" : "teleportercore", "count" : 1 } ] },

		{ "result" : "sbqSpookyPumpkinHead" },
		{ "result" : "sbqMedievalCandle" },
		{ "result" : "sbqMedievalChandelier" }

	]},
	{ "name": "transformation", "toolTip" : "Transformation", "icon" : "/items/active/sbqTransformation/sbqSpeciesPotion/sbqPotion.png", "recipes" : [
		{ "result" : "sbqMysteriousPotion", "materials" : [ { "item" : "money", "count" : 10 }, { "item" : "bottle", "count" : 1 } ] },
		{ "result" : "sbqDuplicatePotion", "materials" : [ { "item" : "money", "count" : 70 }, { "item" : "bottle", "count" : 1 } ] },
		{ "result" : "sbqSpeciesPotion", "materials" : [ { "item" : "money", "count" : 60 }, { "item" : "bottle", "count" : 1 } ] },
		{ "result" : "sbqGenderSwapPotion", "materials" : [ { "item" : "money", "count" : 10 }, { "item" : "bottle", "count" : 1 } ] },
		{ "result" : "sbqReversionPotion", "materials" : [ { "item" : "money", "count" : 1 }, { "item" : "bottle", "count" : 1 } ] },

		// species potions
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionVaporeon", "parameters":{ "species" : "vaporeon", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 80 }, { "item" : "bottle", "count" : 1 }, { "item" : "coralcreep", "count" : 1 } ] },
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionHellhound", "parameters":{ "species" : "hellhound", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 80 }, { "item" : "bottle", "count" : 1 } ] },

		// transformation items
		{ "result" : "sbqPotionAvian", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "bottle", "count" : 1 }, { "item" : "feathercrown", "count" : 10 } ] },
		{ "result" : "sbqPotionSlime", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "bottle", "count" : 1 }, { "item" : "greenslime", "count" : 10 } ] },
		{ "result" : "sbqPotionVaporeon", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "bottle", "count" : 1 }, { "item" : "coralcreep", "count" : 10 } ] },
		//{ "result" : "sbqPotionZoroark", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "bottle", "count" : 1 } ] },
		{ "result" : "sbqPotionXeronious", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "bottle", "count" : 1 }, { "item" : "goldbar", "count" : 10 }, { "item" : "eggshoot", "count" : 10 } ] },
		{ "result" : "sbqConsumableZiellekPearl", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "pearlpea", "count" : 10 }, { "item" : "goldbar", "count" : 10 } ] },
		{ "result" : "sbqPotionFray", "materials" : [ { "item" : "money", "count" : 888 }, { "item" : "bottle", "count" : 1 }, { "item" : "ice", "count" : 10 }, { "item" : "diamond", "count" : 1 } ] },
		// OC potions
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionSandy_Fevix", "parameters":{ "species" : "sbqSandy_Fevix", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 88 } ] },
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionHelena_FFWizard", "parameters":{ "species" : "sbqHelena_FFWizard", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 88 } ] }

	]},
	{ "name": "essence", "toolTip" : "Essence", "icon" : "/items/sbq/other/sbqNPCEssenceJarCombo.png", "recipes" : [

	]}
]
