
[
	{ "name": "furniture", "toolTip" : "Furniture", "icon" : "/objects/sbq/sbqSpawners/sbqSpawnerVappyBed/sbqSpawnerVappyBedIcon.png", "recipes" : [
		{ "result" : "sbqFireplaceTeleporter", "materials" : [ { "item" : "medievalfireplace", "count" : 1 }, { "item" : "teleportercore", "count" : 1 } ] },
		{ "result" : "sbqBigFireplaceTeleporter", "materials" : [ { "item" : "medievalfireplace", "count" : 1 }, { "item" : "teleportercore", "count" : 1 } ] },

		{ "result" : "sbqSpookyPumpkinHead" },
		{ "result" : "sbqMedievalCandle" },
		{ "result" : "sbqMedievalChandelier" }

	]},
	{ "name": "transformation", "toolTip" : "Transformation", "icon" : "/items/active/sbqTransformation/sbqSpeciesPotion/sbqPotion.png", "recipes" : [
		{ "result" : "sbqMysteriousPotion", "materials" : [ { "item" : "money", "count" : 500 } ] },
		{ "result" : "sbqDuplicatePotion", "materials" : [ { "item" : "money", "count" : 700 } ] },
		{ "result" : "sbqSpeciesPotion", "materials" : [ { "item" : "money", "count" : 600 } ] },
		{ "result" : "sbqGenderSwapPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqReversionPotion", "materials" : [ { "item" : "money", "count" : 10 } ] },

		// species potions
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionVaporeon", "parameters":{ "species" : "vaporeon", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 800 } ] },
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionHellhound", "parameters":{ "species" : "hellhound", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 800 } ] },

		// transformation items
		{ "result" : "sbqPotionAvian", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionSlime", "materials" : [ { "item" : "money", "count" : 2888 } ] },
		{ "result" : "sbqPotionVaporeon", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		//{ "result" : "sbqPotionZoroark", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionXeronious", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqConsumableZiellekPearl", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionFray", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		// OC potions
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionSandy_Fevix", "parameters":{ "species" : "sbqSandy_Fevix", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 888 } ] },
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionHelena_FFWizard", "parameters":{ "species" : "sbqHelena_FFWizard", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 888 } ] }

	]},
	{ "name": "transformation", "toolTip" : "Essence", "icon" : "/items/sbq/other/sbqNPCEssenceJarCombo.png", "recipes" : [
		{ "result" : "sbqMysteriousPotion", "materials" : [ { "item" : "money", "count" : 500 } ] },
		{ "result" : "sbqDuplicatePotion", "materials" : [ { "item" : "money", "count" : 700 } ] },
		{ "result" : "sbqSpeciesPotion", "materials" : [ { "item" : "money", "count" : 600 } ] },
		{ "result" : "sbqGenderSwapPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqReversionPotion", "materials" : [ { "item" : "money", "count" : 10 } ] },

		// species potions
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionVaporeon", "parameters":{ "species" : "vaporeon", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 800 } ] },
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionHellhound", "parameters":{ "species" : "hellhound", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 800 } ] },

		// transformation items
		{ "result" : "sbqPotionAvian", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionSlime", "materials" : [ { "item" : "money", "count" : 2888 } ] },
		{ "result" : "sbqPotionVaporeon", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		//{ "result" : "sbqPotionZoroark", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionXeronious", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqConsumableZiellekPearl", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionFray", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		// OC potions
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionSandy_Fevix", "parameters":{ "species" : "sbqSandy_Fevix", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 888 } ] },
		{ "result" : "sbqMysteriousPotion", "dialogue" : "sbqMysteriousPotionHelena_FFWizard", "parameters":{ "species" : "sbqHelena_FFWizard", "rarity" : "rare" }, "materials" : [ { "item" : "money", "count" : 888 } ] }

	]}
]
