[ "/humanoid/any/basicActions.config",
"/humanoid/any/disableTFActions.config", {
	"scripts" : ["/humanoid/any/sbqModules/base/voreScripts.lua", "/humanoid/sbq/Xeronious/Kaiju/voreScripts.lua"],
	"species" : "Kaiju",
	"pred" : {
		"toolUsageSuppressed" : false,
		"itemTagBlacklist" : []
	},
	"prey" : {},
	"locations" : {
		"grabbed" : {},
		"belly" : {
			"activeSettings" : [
				{"vorePrefs":{"oralVore":{"pred":true}}},
				{"vorePrefs":{"analVore":{"pred":true}}}
			],
			"maxSize" : 2,
			"struggleSizes" : [0,1,2,3],
			"interpolateSizes" : [
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1,
				1.125,1.25,1.375,1.5,1.625,1.75,1.875,2,
				2.125,2.25,2.375,2.5,2.625,2.75,2.875,3
			],
			"sizeChangeAnims" : { "bellyExpandState" : ["expand", true] }
		},
		"tail" : {
			"activeSettings" : [
				{"vorePrefs":{"tailVore":{"pred":true}}}
			],
			"maxSize" : 1.5,
			"struggleSizes" : [0,1],
			"interpolateSizes" : [
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1
			],
			"sizeChangeAnims" : { "tailExpandState" : ["expand", true] }
		}
	},
	"states" : {
		"default" : {
			"actions" : {
				"grab" : {
					"location" : "grabbed",
					"script" : "grab"
				},
				"grabTarget" : {
					"targetSettings" : {"grabbed":true},
					"ignoreTargetOccupants" : true,
					"location" : "grabbed",
					"script" : "grabTarget"
				},
				"grabRelease" : {
					"location" : "grabbed",
					"script" : "grabRelease"
				},
				"vore" : {
					"script" : "actionSequence",
					"availableScript" : "actionSequenceAvailable",
					"untilFirstSuccess" : true,
					"actionList" : [
						["oralVore"],
						["analVore"],
						["tailVore"]
					]
				},
				"oralVore" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"headState" : ["eat",true],
						"<occupant>State" : ["oralVore",true],
						"<occupant>Location" : ["none",true]
					},
					"location" : "belly",
					"throughput" : 2
				},
				"oralVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"headState" : ["eat",true,true],
						"<occupant>State" : ["oralVore",true, true],
						"<occupant>Location" : ["none",true]
					},
					"throughput" : 2,
					"applyStatusEffects" : [
						["sbqWetDrool"]
					]
				},

				"analVore" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["analVore",true],
						"<occupant>Location" : ["none",true]
					},
					"location" : "belly",
					"throughput" : 1.5
				},
				"analVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["analVore",true, true],
						"<occupant>Location" : ["none",true]
					},
					"throughput" : 1.5
				},

				"tailVore" : {
					"targetSettings" : {"vorePrefs":{"tailVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"tailVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["tailVore",true],
						"<occupant>Location" : ["none",true]
					},
					"location" : "tail",
					"throughput" : 1.5
				},
				"tailVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"tailVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"tailVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["tailVore",true, true],
						"<occupant>Location" : ["none",true]
					},
					"throughput" : 1.5,
					"applyStatusEffects" : [
						["sbqWetDrool"]
					]
				}
			},
			"locations" : {
				"grabbed" : {
					"struggleActions" : {
						"any":{
							"pressAnimations" :{"<occupant>State":["s_<s_direction>",false,false,true]},
							// minimum, maximum
							"time" : [3,5], // hold time for struggles to trigger action, checked once for every second held
							"count" : [5,10], // count of struggles to trigger action
							"indicate" : "red", "action":"grabRelease"
						},
						"up" : {},
						"down" : {},
						"front" : {},
						"back" : {}
					}
				},
				"belly" : {
					"entryTypes" : ["oralVore","analVore","navelVore","absorbVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"bellyState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"red", "action":"oralVoreLetout"},
						"down" : {"indicate":"red", "action":"analVoreLetout"},
						"front" : {},
						"back" : {"indicate":"cyan", "action":"moveToLocation", "args":["tail"]}
					}
				},
				"tail" : {
					"entryTypes" : ["tailVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"tailState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"tailState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"tailState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {},
						"down" : {},
						"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["belly"]},
						"back" : {"indicate":"red", "action":"tailVoreLetout"}
					}
				}
			},
			"interactActions" : {
				//"defaultVore" : { "action" : "vore" },
				"oralVore" : {
					"action":"oralVore",
					"aimPart":"head","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				},
				"tailVore" : {
					"action":"tailVore",
					"aimPart":"tail","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"back"
				},
				"analVore" : {
					"action":"analVore",
					"aimPart":"body","aim":"analInteract","aimRadius":2,
					"posPart":"body","pos":"back"
				}
			}
		}
	},
	"actionList" : [
		{"action":"releaseOccupant", "noDisplay":{"assign":true}},
		{"action":"vore"},
		{"action":"oralVore"},
		{"action":"tailVore"},
		{"action":"analVore"},
		{"action":"bellyInfuse"},
		{"action":"physicalAttack", "noDisplay":{"request":true}},
		{"action":"specialAttack", "noDisplay":{"request":true}},
		{"action":"grab", "noDisplay":{"request":true}},
		{"action":"inhale", "noDisplay":{"request":true}}
	],
	"availableVoreTypes" : {
		"oralVore":true,
		"tailVore":true,
		"analVore":true
	},
	"availableInfuseTypes" : {
		"bellyInfuse":false,
		"tailInfuse":false
	}
}]
