{
	"animations" : ["/humanoid/sbq/quadruped/bellyInfuse/bellyInfuse.animation"],
	"occupantAnimations" : ["/humanoid/sbq/quadruped/belly/sbqOccupant.animation"],

	"settingsConfig" : {
		"overrideSettings" : {
			"any":{"bellySelectOverride" : true}
		}
	},

	"locations" : {
		"belly" : {
			"infuseType" : "bellyInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [
				{"infusePrefs":{"bellyInfuse":{"pred":true}}}
			],
			"maxSize" : 0,
			"maxCount" : 0,
			"struggleSizes" : [0],
			"interpolateSizes":[0]
		}
	},
	"states" : {
		"default":{
			"actions" : {
				"oralVore" : {
					"targetSettings" : {
						"infusePrefs":{"bellyInfuse":{"prey":true}},
						"vorePrefs":{"oralVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"bellyInfuse":{"pred":true}},
						"vorePrefs":{"oralVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"analVore" : {
					"targetSettings" : {
						"infusePrefs":{"bellyInfuse":{"prey":true}},
						"vorePrefs":{"oralVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"bellyInfuse":{"pred":true}},
						"vorePrefs":{"oralVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"navelVore" : {
					"targetSettings" : {
						"infusePrefs":{"bellyInfuse":{"prey":true}},
						"vorePrefs":{"oralVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"bellyInfuse":{"pred":true}},
						"vorePrefs":{"oralVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"absorbVore" : {
					"targetSettings" : {
						"infusePrefs":{"bellyInfuse":{"prey":true}},
						"vorePrefs":{"oralVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"bellyInfuse":{"pred":true}},
						"vorePrefs":{"oralVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"bellyInfuse" : {
					"targetSettings" : {"infusePrefs":{"bellyInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"bellyInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"belly",
					"voreAction":"bellyInfuseExternal",
					"finishAction":"bellyInfused"
				},
				"bellyInfused" : {
					"targetSettings" : {"infusePrefs":{"bellyInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"bellyInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"belly"
				},
				"bellyInfuseExternal" : {
					"targetSettings" : {
						"infusePrefs":{"bellyInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"bellyInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["absorbVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "belly"
				}

			},
			"locations" : {
			},
			"interactActions" : {
				"bellyInfuse" : {
					"action":"bellyInfuse",
					"aimPart":"belly","aim":"absorbInteract","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			}
		}
	},

	"availableVoreTypes" :{
		"oralVore":true,
		"absorbVore":true,
		"navelVore":false,
		"analVore":true

	},
	"availableInfuseTypes" : {
		"bellyInfuse":true
	}

}
