{
	"animations" : ["/humanoid/any/sbqModules/cockInfuse/cockInfuse.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/cock/sbqOccupant.animation"],
	"settingsConfig" : {
		"overrideSettings" : {
			"any":{"cockSelectOverride" : true}
		}
	},
	"locations" : {
		"cock" : {
			"infuseType" : "cockInfuse",
			"activeSettings" : [{"infusePrefs":{"cockInfuse":{"pred":true}}}],
			"maxSize" : 0,
			"maxCount" : 0,
			"struggleSizes" : [0]
		}
	},
	"states" : {
		"default": {
			"actions" : {
				"cockVore" : {
					"targetSettings" : {
						"infusePrefs":{"cockInfuse":{"prey":true}},
						"vorePrefs":{"cockVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"cockInfuse":{"pred":true}},
						"vorePrefs":{"cockVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"cockInfuse" : {
					"targetSettings" : {"infusePrefs":{"cockInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"cockInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"cock",
					"voreAction":"cockInfuseExternal",
					"finishAction":"cockInfused"
				},
				"cockInfused" : {
					"targetSettings" : {"infusePrefs":{"cockInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"cockInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"cock",
					"infuseSlots" : [
						"cock",
						"balls"
					]
				},
				"cockInfuseExternal" : { // essentially just CV but checks cock infuse instead
					"targetSettings" : {
						"infusePrefs":{"cockInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"cockInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["cockVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "cock",
					"hideSlots" : {
						"legs" : true
					}
				}

			},
			"locations" : {
			},
			"interactActions" : {
				"cockInfuse" : {
					"action":"cockInfuse",
					"aimPart":"cock","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			}
		}
	},
	"availableVoreTypes" : {
		"cockVore" : true
	},
	"availableInfuseTypes" : {
		"cockInfuse":true
	}
}
