{
	"locations" : {
		"belly" : {
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["tail"]
			}
		}
	},
	"states" : {
		"default" : {
			"locations" : {
				"belly" : {
					"struggleActions" : {
						"down" : {"indicate":"cyan", "action":"moveToLocation", "args":["tail"]},
						"back" : {"indicate":"cyan", "action":"moveToLocation", "args":["ass"]}
					}
				},
				"ass" : {
					"struggleActions" : {
						"up" : {"indicate":false, "action":false},
						"down" : {"indicate":false, "action":false},
						"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["belly"]},
						"back" : {"indicate":"red", "action":"analVoreLetout"}
					}
				}
			}
		}
	}
}
