{
	"sbqData" : {
		"merge" : [ "/humanoid/sbqDataQuadruped.config" ],

		"overrideSettings" : {
			"bra" : false,
			"underwear" : false,
			"pants" : false,
			"shirt" : false,

			"analVorePred" : false
		},
		"overridePreyEnabled" : {
			"analVore" : false,
			"navelVore" : false
		},
		"locations" : {
			"womb" : {
				"TF" : { "data": {"species" : "vaporeon", "playerSpeciesTF":true}}
			},
			"shaft" : { "TF" : false },
			"balls" : { "TF" : false }
		}
	},
	"states": {
		"merge" : ["/humanoid/sbqDataQuadruped.config"]
	}
}
