{ "type" : "tab", "id" : "<action>", "title" : ":<action>", "color" : "ff00ff", "contents" : [
	{"type":"panel","style":"convex","id":"<action>BehaviorPanel","children":[{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode":"v"},
		{"type":"label", "text" : ":<action>", "align":"center"},
		[{"type":"panel","style":"flat","id":"<action>DomBehaviorPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : "<domBehavior>", "align":"center"},
			{"type":"sbqSetting", "setting":"favored","groupName":"domBehavior","groupKey":"<action>", "makeLabel" : true},
			{"type":"sbqSetting", "setting":"willingness","groupName":"domBehavior","groupKey":"<action>", "makeLabel" : true},
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"v", "spacing":0},
				{"type":"sbqSetting", "setting":"healthThreshold","groupName":"domBehavior","groupKey":"<action>", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"hungerThreshold","groupName":"domBehavior","groupKey":"<action>", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"lustThreshold","groupName":"domBehavior","groupKey":"<action>", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"restThreshold","groupName":"domBehavior","groupKey":"<action>", "makeLabel" : true}
			] },
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"h", "spacing":0},
				{"type" : "spacer", "size" : 1},
				{"type":"label", "text" : ":targets", "inline":true},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"targetFriendly","groupName":"domBehavior","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"targetHostile","groupName":"domBehavior","groupKey":"<action>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"targetPlayer","groupName":"domBehavior","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"targetOC","groupName":"domBehavior","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"targetOther","groupName":"domBehavior","groupKey":"<action>"}
			]}
		]},
		{"type":"panel","style":"flat","id":"<action>SubBehaviorPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : "<subBehavior>", "align":"center"},
			{"type":"sbqSetting", "setting":"favored","groupName":"subBehavior","groupKey":"<action>", "makeLabel" : true},
			{"type":"sbqSetting", "setting":"willingness","groupName":"subBehavior","groupKey":"<action>", "makeLabel" : true},
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"v", "spacing":0},
				{"type":"sbqSetting", "setting":"healthThreshold","groupName":"subBehavior","groupKey":"<action>", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"hungerThreshold","groupName":"subBehavior","groupKey":"<action>", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"lustThreshold","groupName":"subBehavior","groupKey":"<action>", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"restThreshold","groupName":"subBehavior","groupKey":"<action>", "makeLabel" : true}
			] },
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"h", "spacing":0},
				{"type" : "spacer", "size" : 1},
				{"type":"label", "text" : ":targets", "inline":true},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"targetFriendly","groupName":"subBehavior","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"targetHostile","groupName":"subBehavior","groupKey":"<action>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"targetPlayer","groupName":"subBehavior","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"targetOC","groupName":"subBehavior","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"targetOther","groupName":"subBehavior","groupKey":"<action>"}
			]}
		]}]

	]}]}

]}
