{ "type" : "tab", "id" : "<action>", "title" : ":<action>", "color" : "ff00ff", "contents" : [
	{"type":"panel","style":"convex","id":"<action>BehaviorPanel","children":[{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode":"h"},

		{"type":"panel","style":"flat","id":"<action>BehaviorDomPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : ":behavior", "align":"center"},
			{"type":"label", "text" : ":favored"},
			{"type":"sbqSetting", "setting":"favored","groupName":"behaviorDom","groupKey":"<action>"},
			{"type":"label", "text" : ":willingness"},
			{"type":"sbqSetting", "setting":"willingness","groupName":"behaviorDom","groupKey":"<action>"},
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"h", "spacing":0},
				{"type" : "spacer", "size" : 1},
				{"type":"label", "text" : ":targets", "inline":true},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"targetFriendly","groupName":"behaviorDom","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"targetHostile","groupName":"behaviorDom","groupKey":"<action>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"targetPlayer","groupName":"behaviorDom","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"targetOC","groupName":"behaviorDom","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"targetOther","groupName":"behaviorDom","groupKey":"<action>"}
			]}
		]},
		{"type":"panel","style":"flat","id":"<action>BehaviorSubPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : ":behavior", "align":"center"},
			{"type":"label", "text" : ":favored"},
			{"type":"sbqSetting", "setting":"favored","groupName":"behaviorSub","groupKey":"<action>"},
			{"type":"label", "text" : ":willingness"},
			{"type":"sbqSetting", "setting":"willingness","groupName":"behaviorSub","groupKey":"<action>"},
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"h", "spacing":0},
				{"type" : "spacer", "size" : 1},
				{"type":"label", "text" : ":targets", "inline":true},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"targetFriendly","groupName":"behaviorSub","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"targetHostile","groupName":"behaviorSub","groupKey":"<action>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"targetPlayer","groupName":"behaviorSub","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"targetOC","groupName":"behaviorSub","groupKey":"<action>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"targetOther","groupName":"behaviorSub","groupKey":"<action>"}
			]}
		]}

	]}]}

]}
