{ "type" : "tab", "id" : "behavior", "title" : ":behavior", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"type" : "panel", "expandMode":[1,0], "style" : "convex", "children" : [
			{"type" : "panel", "style" : "flat", "children" :[
				{"mode":"h"},
				{ "type" : "label", "text" : ":sub", "inline" : true},
				{"type":"sbqSetting", "setting":"leanSubDom"},
				{ "type" : "label", "text" : ":dom", "inline" : true}
			]},
			{"type" : "panel", "expandMode":[1,0], "style" : "flat", "children":[
				{"mode":"h"},
				{"type":"sbqSetting", "setting" : "offerQuests", "makeLabel":true},
				{"type":"sbqSetting", "setting" : "questParticipation", "makeLabel":true},
				{"type":"sbqSetting", "setting" : "npcGraduation", "makeLabel":true}
			]},
			{"type" : "panel", "expandMode":[1,0], "style" : "flat", "children" :[
				{"mode":"h"},
				{"type":"sbqSetting", "setting" : "actionDialogue", "makeLabel":false},
				{"type":"sbqSetting", "setting" : "interactDialogue", "makeLabel":true},
				{"type":"sbqSetting", "setting" : "personality"}
			]},
			{"type" : "panel", "expandMode":[1,0], "style" : "flat", "children" :[
				{"mode":"h"},
				{"type":"sbqSetting", "setting":"huntingSpreeChance", "makeLabel" : true},
				{"type":"sbqSetting", "setting":"lockDownChance", "makeLabel" : true}
			]}
		]},
		{ "type" : "tabField", "id" : "behaviorTabField", "layout" : "horizontal", "tabs" : []}
	]}]}

]}
