{ "type" : "tab", "id" : "behavior", "title" : ":behavior", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"type" : "panel", "expandMode":[1,0], "style" : "convex", "children" : [
			{"type":"sbqSetting", "setting" : "interactDialogue", "makeLabel":true}
		]},
		{ "type" : "tabField", "id" : "voreTypeBehaviorTabField", "layout" : "vertical", "tabs" : []}
	]}]}

]}
