{ "type" : "tab", "id" : "behavior", "title" : ":behavior", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"type" : "panel", "expandMode":[1,0], "style" : "convex", "children" : [
			[
				{ "type" : "label", "text" : ":health", "size": [50, 10], "inline" : true},
				{ "type" : "sbqFillbar", "id" : "healthBar", "toolTip" : ":healthTip", "value" : 0, "color" : [247,41,41]}
			],
			[
				{ "type" : "label", "text" : ":hunger", "size": [50, 10], "inline" : true},
				{ "type" : "sbqFillbar", "id" : "hungerBar", "toolTip" : ":hungerTip", "value" : 0, "color" : [153,123,39]}
			],
			[
				{ "type" : "label", "text" : ":lust", "size": [50, 10], "inline" : true},
				{ "type" : "sbqFillbar", "id" : "lustBar", "toolTip" : ":lustTip", "value" : 0, "color" : [226, 109, 215]}
			],
			[
				{ "type" : "label", "text" : ":rest", "size": [50, 10], "inline" : true},
				{ "type" : "sbqFillbar", "id" : "restBar", "toolTip" : ":restTip", "value" : 0, "color" : [179, 135, 215]}
			],
			{"type":"sbqSetting", "setting" : "interactDialogue", "makeLabel":true}
		]},
		{ "type" : "tabField", "id" : "behaviorTabField", "layout" : "vertical", "tabs" : []}
	]}]}

]}
