{ "type" : "tab", "id" : "help", "title" : ":help", "icon" : "helpCodex.png", "visible" : true, "color" : "ff00ff", "contents" : [
	{ "type" : "tabField", "id" : "behaviorTabField", "layout" : "vertical", "tabs" : [
		{ "type" : "tab", "id" : "commands", "title" : ":helpTabCommands", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabCommandsPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"}
				]}
			]}]}
		]},

		{ "type" : "tab", "id" : "pred", "title" : ":helpTabPred", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabPredPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabPredContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "prey", "title" : ":helpTabPrey", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabPreyPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabPreyContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "size", "title" : ":helpTabSize", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabSizePanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabSizeContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "transformation", "title" : ":helpTabTransformation", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabTransformationPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabTransformationContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "deed", "title" : ":helpTabNPCs", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabNPCsPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabNPCsContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "other", "title" : ":helpTabOther", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabOtherPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabOtherContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "size", "title" : ":helpTabUpgrades", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabUpgradesPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabUpgradesContent"}
				]}
			]}]}
		]},
		{ "type" : "tab", "id" : "other", "title" : ":helpTabCredits", "visible" : true, "color" : "ff00ff", "contents" : [
			{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
				{"type" : "panel", "id":"helpTabCreditsPanel", "expandMode":[1,2], "style" : "convex", "children" : [
					{"mode":"v"},
					{"type":"label", "text":":helpTabCreditsContent"},
					{"type":"label", "text":"", "id":"supporterCreditsLabel"}
				]}
			]}]}
		]}


	]}
]}
