{ "type" : "tab", "id" : "<infuseType>", "title" : ":<infuseType>", "color" : "ff00ff", "contents" : [
	{"type":"panel","style":"convex","id":"<infuseType>BehaviorPanel","children":[{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode":"h"},
		{"type":"panel","style":"flat","id":"<infuseType>PredBehaviorPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : ":predBehavior", "align":"center"},
			{"type":"label", "text" : ":favored"},
			{"type":"sbqSetting", "setting":"predFavored","groupName":"infusePrefs","groupKey":"<infuseType>"},
			{"type":"label", "text" : ":willingness"},
			{"type":"sbqSetting", "setting":"predWillingness","groupName":"infusePrefs","groupKey":"<infuseType>"},
			[
				{"type":"sbqSetting", "toolTip":":infusePreferDirectTip", "setting":"predPreferDirect","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"label", "text" : ":infusePreferDirect"}
			],
			{"type":"label", "text" : ":targets"},
			{"type":"panel","style":"flat","expandMode":[0,0],"children":[
				{"mode":"h"},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"predTargetFriendly","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"predTargetHostile","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"predTargetPlayer","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"predTargetOC","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"predTargetOther","groupName":"infusePrefs","groupKey":"<infuseType>"},
			]}
		]},
		{"type":"panel","style":"flat","id":"<infuseType>PreyBehaviorPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : ":preyBehavior", "align":"center"},
			{"type":"label", "text" : ":favored"},
			{"type":"sbqSetting", "setting":"preyFavored","groupName":"infusePrefs","groupKey":"<infuseType>"},
			{"type":"label", "text" : ":willingness"},
			{"type":"sbqSetting", "setting":"preyWillingness","groupName":"infusePrefs","groupKey":"<infuseType>"},
			[
				{"type":"sbqSetting", "toolTip":":infusePreferDirectTip", "setting":"preyPreferDirect","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"label", "text" : ":infusePreferDirect"}
			],
			{"type":"label", "text" : ":targets"},
			{"type":"panel","style":"flat","expandMode":[0,0],"children":[
				{"mode":"h"},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"preyTargetFriendly","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"preyTargetHostile","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"preyTargetPlayer","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"preyTargetOC","groupName":"infusePrefs","groupKey":"<infuseType>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"preyTargetOther","groupName":"infusePrefs","groupKey":"<infuseType>"},
			]}
		]}
	]}]}
]}
