{ "type" : "tab", "id" : "behavior", "title" : ":misc", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode":"h", "expandMode":[0,0]},
		[
			{"expandMode":[0,2]},
			{"type" : "panel", "expandMode":[0,0], "style" : "convex", "children" : [
				{"mode":"v", "expandMode":[0,0]},
				{"type":"itemSlot", "id":"importSettingsSlot", "autoInteract":true},
				{"type":"button", "id":"importSettings", "caption":":importSettings","size":[64,24]},
				{"type":"spacer", "size":3},
				{"type":"button", "id":"exportAllSettings", "caption":":exportAllSettings","size":[64,24]},
				{"type":"button", "id":"exportPrefsOnly", "caption":":exportPrefsOnly","size":[64,24]},
				{"type":"button", "id":"exportLocationsOnly", "caption":":exportLocationsOnly","size":[64,24]}
			]},
			{"type" : "panel", "expandMode":[1,0], "style" : "convex", "visible":false, "id":"convertNPCPanel", "children" : [
				{"type":"label", "text":":convertToType"},
				{"type":"spacer", "size":3},
				{"type":"label", "id":"resultTypeLabel", "text":""},
				{"type":"spacer", "size":3},
				{"type":"button", "id":"convertNPC", "caption":":convertNPC","size":[64,24]}
			]}
		],
		[
			{"mode":"v", "expandMode":[2,2], "align" : 0},
			{"type" : "panel", "expandMode":[2,0], "id":"statBars", "style" : "convex", "children" : [
				{"mode":"v"},
				[
					{ "type" : "label", "text" : ":health", "size": [50, 10], "inline" : true},
					{ "type" : "sbqFillbar", "id" : "healthBar", "toolTip" : ":healthTip", "value" : 0, "color" : [247,41,41]}
				],
				[
					{ "type" : "label", "text" : ":hunger", "size": [50, 10], "inline" : true},
					{ "type" : "sbqFillbar", "id" : "hungerBar", "toolTip" : ":hungerTip", "value" : 0, "color" : [153,123,39]}
				],
				[
					{ "type" : "label", "text" : ":lust", "size": [50, 10], "inline" : true},
					{ "type" : "sbqFillbar", "id" : "lustBar", "toolTip" : ":lustTip", "value" : 0, "color" : [226, 109, 215]}
				],
				[
					{ "type" : "label", "text" : ":rest", "size": [50, 10], "inline" : true},
					{ "type" : "sbqFillbar", "id" : "restBar", "toolTip" : ":restTip", "value" : 0, "color" : [179, 135, 215]}
				]
			]},
			{"type" : "panel", "id":"stripping", "expandMode":[1,0], "style" : "convex", "children" :[
				{"mode":"v"},
				{ "type" : "label", "text" : ":stripping", "inline" : true},
				[
					{"mode":"h"},
					{"type":"sbqSetting", "setting":"headStrip", "makeLabel" : true},
					{"type":"sbqSetting", "setting":"chestStrip", "makeLabel" : true}
				],
				[
					{"mode":"h"},
					{"type":"sbqSetting", "setting":"legsStrip", "makeLabel" : true},
					{"type":"sbqSetting", "setting":"backStrip", "makeLabel" : true}
				]
			]},
			{"type" : "panel", "id":"miscOther", "expandMode":[1,0], "style" : "convex", "children" :[
				{"mode":"v"},
				{ "type" : "label", "text" : ":other", "inline" : true},
				{"type":"layout", "id":"miscOtherPlayerLayout", "mode":"v", "children":[]}
			]},
			[
				{"mode":"h","expandMode":[0,0]},
				{"type" : "panel", "expandMode":[0,0], "id":"npcCosmeticSlots", "visible" : true, "style" : "convex", "children" : [
					{"mode":"v", "expandMode":[0,0]},
					[
						{ "type" : "label", "text":":customize", "inline":true},
						{ "type" : "iconButton", "id":"customizeNPC", "image" : "/interface/scripted/sbq/customize.png", "toolTip" :":customize" }
					],
					[{"type" : "panel", "expandMode":[0,0], "style" : "flat", "children" : [
						{"mode":"h", "expandMode":[0,0]},
						{ "type" : "itemSlot", "id":"backCosmetic", "toolTip" :":backCosmetic", "glyph" : "/interface/scripted/sbq/backSlot.png", "autoInteract":true },
						{ "type" : "itemSlot", "id":"headCosmetic", "toolTip" :":headCosmetic", "glyph" : "/interface/scripted/sbq/headSlot.png", "autoInteract":true },
						{ "type" : "itemSlot", "id":"chestCosmetic", "toolTip" :":chestCosmetic", "glyph" : "/interface/scripted/sbq/chestSlot.png", "autoInteract":true },
						{ "type" : "itemSlot", "id":"legsCosmetic", "toolTip" :":legsCosmetic", "glyph" : "/interface/scripted/sbq/legsSlot.png", "autoInteract":true }
					]},
					{"type" : "panel", "expandMode":[0,0], "style" : "flat", "children" : [
						{"mode":"h", "expandMode":[0,0]},
						{ "type" : "itemSlot", "id":"cosmetic9", "toolTip" :":cosmetic9", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic10", "toolTip" :":cosmetic10", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic11", "toolTip" :":cosmetic11", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic12", "toolTip" :":cosmetic12", "autoInteract":true }
					]}],
					[{"type" : "panel", "expandMode":[0,0], "style" : "flat", "children" : [
						{"mode":"h", "expandMode":[0,0]},
						{ "type" : "itemSlot", "id":"cosmetic1", "toolTip" :":cosmetic1", "glyph" : "/interface/scripted/sbq/collarSlot.png", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic2", "toolTip" :":cosmetic2", "glyph" : "/interface/scripted/sbq/braSlot.png", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic3", "toolTip" :":cosmetic3", "glyph" : "/interface/scripted/sbq/pantiesSlot.png", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic4", "toolTip" :":cosmetic4", "glyph" : "/interface/scripted/sbq/socksSlot.png", "autoInteract":true }
					]},
					{"type" : "panel", "expandMode":[0,0], "style" : "flat", "children" : [
						{"mode":"h", "expandMode":[0,0]},
						{ "type" : "itemSlot", "id":"cosmetic5", "toolTip" :":cosmetic5", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic6", "toolTip" :":cosmetic6", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic7", "toolTip" :":cosmetic7", "autoInteract":true },
						{ "type" : "itemSlot", "id":"cosmetic8", "toolTip" :":cosmetic8", "autoInteract":true }
					]}]
				]},
				{"type" : "panel", "id" :"upgradeInputPanel", "expandMode":[0,0], "style" : "convex", "children" : [
					{"mode":"v"},
					{ "type" : "label", "text":":upgradeInput", "align":"center", "width":70},
					{ "type" : "itemSlot", "id":"upgradeInput", "autoInteract":true, "expandMode":[0,0] }
				]}
			],
			[
				{"mode":"h","expandMode":[1,1]},
				{"type" : "panel", "id" : "upgradePanel", "expandMode":[1,1], "style" : "convex", "children" : [
					{"mode":"v"},
					{ "type" : "label", "text":":upgradesAcquired", "align":"center"},
					{ "type" : "itemGrid", "id":"upgradesGrid", "slots" : 0, "auto" : false }
				]}
			]
		]
	]}]}
]}
