{ "type" : "tab", "id" : "behavior", "title" : ":misc", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"type" : "panel", "expandMode":[1,1], "style" : "convex", "children" : [
			{"mode":"v"},
			{"type":"itemSlot", "id":"importSettingsSlot", "autoInteract":true},
			{"type":"button", "id":"importSettings", "caption":":importSettings", "expandMode":[1,1]},
			{"type":"spacer", "size": 3},
			{"type":"button", "id":"exportAllSettings", "caption":":exportAllSettings", "expandMode":[1,1]},
			{"type":"button", "id":"exportPrefsOnly", "caption":":exportPrefsOnly", "expandMode":[1,1]},
			{"type":"button", "id":"exportLocationsOnly", "caption":":exportLocationsOnly", "expandMode":[1,1]}
		]}
	]}]}

]}
