{ "type" : "tab", "id" : "behavior", "title" : ":misc", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode":"h", "expandMode":[0,0]},
		[
			{"expandMode":[0,2]},
			{"type" : "panel", "expandMode":[0,0], "style" : "convex", "children" : [
				{"mode":"v", "expandMode":[0,0]},
				{"type":"itemSlot", "id":"importSettingsSlot", "autoInteract":true},
				{"type":"button", "id":"importSettings", "caption":":importSettings","size":[64,24]},
				{"type":"spacer", "size":3},
				{"type":"button", "id":"exportAllSettings", "caption":":exportAllSettings","size":[64,24]},
				{"type":"button", "id":"exportPrefsOnly", "caption":":exportPrefsOnly","size":[64,24]},
				{"type":"button", "id":"exportLocationsOnly", "caption":":exportLocationsOnly","size":[64,24]}
			]},
			{"type" : "panel", "expandMode":[1,0], "style" : "convex", "visible":false, "id":"convertNPCPanel", "children" : [
				{"type":"label", "text":":convertToType"},
				{"type":"spacer", "size":3},
				{"type":"label", "id":"resultTypeLabel", "text":""},
				{"type":"spacer", "size":3},
				{"type":"button", "id":"convertNPC", "caption":":convertNPC","size":[64,24]}
			]}
		],
		[
			{"mode":"v", "expandMode":[2,2], "align" : 0},
			{"type" : "panel", "expandMode":[0,0], "id":"npcCosmeticSlots", "visible" : false, "style" : "convex", "children" : [
				{"mode":"v", "expandMode":[0,0]},
				{ "type" : "label", "text":":cosmeticSlots", "align":"center"},
				[
					{ "type" : "itemSlot", "id":"headCosmetic", "glyph" : "/interface/scripted/sbq/headSlot.png", "autoInteract":true },
					{ "type" : "itemSlot", "id":"chestCosmetic", "glyph" : "/interface/scripted/sbq/chestSlot.png", "autoInteract":true },
					{ "type" : "itemSlot", "id":"legsCosmetic", "glyph" : "/interface/scripted/sbq/legsSlot.png", "autoInteract":true },
					{ "type" : "itemSlot", "id":"backCosmetic", "glyph" : "/interface/scripted/sbq/backSlot.png", "autoInteract":true }
				]
			]},
			{"type" : "panel", "expandMode":[1,1], "style" : "convex", "children" : [
				{"mode":"v"},
				{ "type" : "label", "text":":upgradesAcquired", "align":"center"},
				{ "type" : "itemGrid", "id":"upgradesGrid", "slots" : 0, "auto" : false }
			]}
		]
	]}]}
]}
