{ "type" : "tab", "id" : "preferences", "title" : ":prefs", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "id" : "mainPrefsPanel", "style" : "flat", "children" : [{"type" : "scrollArea", "scrollDirections" : [0,1], "children" : [
		{"mode" : "vertical"},
		[
			{"mode" : "horizontal","expandMode":[2,0]},
			[
				{"expandMode" : [2,2]},
				[
					{"expandMode" : [2,2]},
					{"type" : "panel", "id":"vorePredPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
						{"mode":"vertical", "expandMode" : [2,2]},
						{"type":"label", "text":":vorePredPrefs","inline":true}

					]},
					{"type" : "panel", "id":"vorePreyPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
						{"mode":"vertical", "expandMode" : [2,2]},
						{"type":"label", "text":":vorePreyPrefs","inline":true}

					]}
				],
				[
					{"expandMode" : [2,1]},
					{"type" : "panel", "id":"infusePredPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
						{"mode":"vertical", "expandMode" : [2,2]},
						{"type":"label", "text":":infusePredPrefs","inline":true}
					]},
					{"type" : "panel", "id":"infusePreyPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
						{"mode":"vertical", "expandMode" : [2,2]},
						{"type":"label", "text":":infusePreyPrefs","inline":true}
					]}
				]

			],
			[
				{"expandMode" : [0,2], "size":[110,0]},
				{"type" : "panel", "id":"sizePrefsPanel", "expandMode" : [1,1], "style" : "convex", "children" : [
					{"mode":"vertical", "expandMode" : [1,0]},
					{"type":"label", "text":":sizePrefs","inline":true},
					[
						{"type":"sbqSetting","setting":"minimumScale", "max":"maximumScale", "min":0.125},
						{"type":"sbqTextBox","id":"currentScale", "toolTip":":currentScaleTip", "settingType":"number", "script":"changeScale", "max":"maximumScale","min":"minimumScale"},
						{"type":"sbqSetting","setting":"maximumScale", "min":"minimumScale", "max":"maxPossibleScale"}
					]
				]},
				{"type" : "panel", "id":"resistancesPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
					{"mode":"vertical", "expandMode" : [2,2]},
					{"type":"label", "text":":resistances","inline":true},

					{"type":"sbqSetting","setting":"acidDigestResistance"},

					{"type":"sbqSetting","setting":"cumDigestResistance"},

					{"type":"sbqSetting","setting":"femcumDigestResistance"},

					{"type":"sbqSetting","setting":"milkDigestResistance"}
				]}
			]
		],
		[
			{"mode" : "horizontal","expandMode":[2,0]},
			{"type" : "panel", "id":"transformationPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
				{"type":"label", "text":":transformationPrefs","inline":true},
				[
					{"type":"sbqSetting","setting":"speciesTF", "toolTip":":speciesTFTip"},
					{"type":"label", "text":":speciesTF"}
				],
				[
					{"type":"sbqSetting","setting":"genderTF", "toolTip":":genderTFTip"},
					{"type":"label", "text":":genderTF"}
				],
				[
					{"type":"sbqSetting","setting":"indefiniteTF", "toolTip":":indefiniteTFTip"},
					{"type":"label", "text":":indefiniteTF"}
				],
				[
					{"type":"sbqSetting","setting":"permanentTF", "toolTip":":permanentTFTip"},
					{"type":"label", "text":":permanentTF"}
				]
				// [
				// 	{"type":"sbqSetting","setting":"accidentalTF", "toolTip":":accidentalTFTip"},
				// 	{"type":"label", "text":":accidentalTF"},
				// ],
				// [
				// 	{"spacing":0},
				// 	{"type":"sbqSetting","setting":"potionTF", "toolTip":":potionTFTip"},
				// 	{"type":"sbqSetting","setting":"magicTF", "toolTip":":magicTFTip"},
				// 	{"type":"sbqSetting","setting":"scienceTF", "toolTip":":scienceTFTip"},
				// ],
				// [
				// 	{"spacing":0},
				// 	{"type":"sbqSetting","setting":"voreTF", "toolTip":":voreTFTip"},
				// 	{"type":"sbqSetting","setting":"unbirthTF", "toolTip":":unbirthTFTip"},
				// ]
			]},
			{"type" : "panel", "id":"otherPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
				{"type":"label", "text":":otherPrefs","inline":true},
				[
					{"type":"sbqSetting","setting":"grabbed", "toolTip":":grabbedTip"},
					{"type":"label", "text":":grabbed"}
				],
				[
					{"type":"sbqSetting","setting":"pinned", "toolTip":":pinned"},
					{"type":"label", "text":":pinned"}
				]
			]}
		]
	]}]}
]}
