{ "type" : "tab", "id" : "preferences", "title" : ":prefs", "visible" : true, "color" : "ff00ff", "contents" : [
	{"type" : "panel", "expandMode":[2,2], "style" : "flat", "children" : [{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode" : "vertical","expandMode":[2,2]},
		[
			{"mode" : "horizontal","expandMode":[2,0]},
			[
				{"type" : "panel", "id":"vorePredPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
					{"mode":"vertical"},
					{"type":"label", "text":":vorePredPrefs","inline":true},
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"oralVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"oralVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":oralVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"tailVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"tailVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":tailVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"absorbVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"absorbVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":absorbVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"navelVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"navelVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":navelVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"analVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"analVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":analVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"unbirthVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"unbirthVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":unbirthVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"breastVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"breastVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":breastVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"cockVore", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"cockVore", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":cockVore"},
					]
				]},
				{"type" : "panel", "id":"infusePredPrefsPanel", "expandMode" : [2,0], "style" : "convex", "children" : [
					{"mode":"vertical"},
					{"type":"label", "text":":infusePredPrefs","inline":true},
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"thighsInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"thighsInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":thighsInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"bellyInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"bellyInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":bellyInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"breastInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"breastInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":breastInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pussyInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pussyInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":pussyInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"cockInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"cockInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":cockInfuse"},
					],
					// [
					// 	[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"tailInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
					// 	{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"tailInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
					// 	{"type":"label", "text":":tailInfuse"},
					// ],
					// [
					// 	[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pawInfuse", "setting":"pred", "toolTip":":voreEnabledTip"},
					// 	{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pawInfuse", "setting":"predConsent", "toolTip":":voreConsentTip"}],
					// 	{"type":"label", "text":":pawInfuse"},
					// ]
				]},
			],
			[
				{"type" : "panel", "id":"vorePreyPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
					{"mode":"vertical"},
					{"type":"label", "text":":vorePreyPrefs","inline":true},
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"oralVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"oralVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":oralVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"tailVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"tailVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":tailVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"absorbVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"absorbVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":absorbVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"navelVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"navelVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":navelVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"analVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"analVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":analVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"unbirthVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"unbirthVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":unbirthVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"breastVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"breastVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":breastVore"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"cockVore", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"vorePrefs", "groupKey":"cockVore", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":cockVore"},
					]
				]},
				{"type" : "panel", "id":"infusePreyPrefsPanel", "expandMode" : [2,0], "style" : "convex", "children" : [
					{"mode":"vertical"},
					{"type":"label", "text":":infusePreyPrefs","inline":true},
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"thighsInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"thighsInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":thighsInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"bellyInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"bellyInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":bellyInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"breastInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"breastInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":breastInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pussyInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pussyInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":pussyInfuse"},
					],
					[
						[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"cockInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
						{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"cockInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
						{"type":"label", "text":":cockInfuse"},
					],
					// [
					// 	[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"tailInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
					// 	{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"tailInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
					// 	{"type":"label", "text":":tailInfuse"},
					// ],
					// [
					// 	[{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pawInfuse", "setting":"prey", "toolTip":":voreEnabledTip"},
					// 	{"type":"sbqSetting", "groupName":"infusePrefs", "groupKey":"pawInfuse", "setting":"preyConsent", "toolTip":":voreConsentTip"}],
					// 	{"type":"label", "text":":pawInfuse"},
					// ]
				]},

			],
			{"type" : "panel", "id":"resistancesPanel", "expandMode" : [0,2], "size":[90,100], "style" : "convex", "children" : [
				{"type":"label", "text":":resistances","inline":true},

				{"type":"label", "text":":digestResistance", "id":"digestResistanceLabel"},
				{"type":"sbqSetting","setting":"digestResistance"},

				{"type":"label", "text":":cumDigestResistance", "id":"cumDigestResistanceLabel"},
				{"type":"sbqSetting","setting":"cumDigestResistance"},

				{"type":"label", "text":":femcumDigestResistance", "id":"femcumDigestResistanceLabel"},
				{"type":"sbqSetting","setting":"femcumDigestResistance"},

				{"type":"label", "text":":milkDigestResistance", "id":"milkDigestResistanceLabel"},
				{"type":"sbqSetting","setting":"milkDigestResistance"},
			]}
		],
		[
			{"mode" : "horizontal","expandMode":[2,0]},
			{"type" : "panel", "id":"transformationPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
				{"type":"label", "text":":transformationPrefs","inline":true},
				[
					{"type":"sbqSetting","setting":"speciesTF", "toolTip":":speciesTFTip"},
					{"type":"label", "text":":speciesTF"},
				],
				[
					{"type":"sbqSetting","setting":"genderTF", "toolTip":":genderTFTip"},
					{"type":"label", "text":":genderTF"},
				],
				[
					{"type":"sbqSetting","setting":"indefiniteTF", "toolTip":":indefiniteTFTip"},
					{"type":"label", "text":":indefiniteTF"},
				],
				[
					{"type":"sbqSetting","setting":"permanentTF", "toolTip":":permanentTFTip"},
					{"type":"label", "text":":permanentTF"},
				],
				[
					{"type":"sbqSetting","setting":"accidentalTF", "toolTip":":accidentalTFTip"},
					{"type":"label", "text":":accidentalTF"},
				],
				[
					{"spacing":0},
					{"type":"sbqSetting","setting":"potionTF", "toolTip":":potionTFTip"},
					{"type":"sbqSetting","setting":"magicTF", "toolTip":":magicTFTip"},
					{"type":"sbqSetting","setting":"scienceTF", "toolTip":":scienceTFTip"},
				],
				[
					{"spacing":0},
					{"type":"sbqSetting","setting":"voreTF", "toolTip":":voreTFTip"},
					{"type":"sbqSetting","setting":"unbirthTF", "toolTip":":unbirthTFTip"},
				]
			]},
			{"type" : "panel", "id":"otherPrefsPanel", "expandMode" : [2,2], "style" : "convex", "children" : [
				{"type":"label", "text":":otherPrefs","inline":true},
				[
					{"type":"sbqSetting","setting":"grabbed", "toolTip":":grabbedTip"},
					{"type":"label", "text":":grabbed"},
				],
				[
					{"type":"sbqSetting","setting":"pinned", "toolTip":":pinned"},
					{"type":"label", "text":":pinned"},
				]
			]}
		]
	]}]}
]}
