{ "type" : "tab", "id" : "<voreType>", "title" : ":<voreType>", "color" : "ff00ff", "contents" : [
	{"type":"panel","style":"convex","id":"<voreType>BehaviorPanel","children":[{"expandMode":[2,2]},{"type" : "scrollArea", "expandMode":[2,2], "scrollDirections" : [0,1], "children" : [
		{"mode":"h"},

		{"type":"panel","style":"flat","id":"<voreType>PredBehaviorPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : ":predBehavior", "align":"center"},
			{"type":"label", "text" : ":favored"},
			{"type":"sbqSetting", "setting":"predFavored","groupName":"vorePrefs","groupKey":"<voreType>"},
			{"type":"label", "text" : ":willingness"},
			{"type":"sbqSetting", "setting":"predWillingness","groupName":"vorePrefs","groupKey":"<voreType>"},
			{"type":"sbqSetting", "setting":"predAlwaysDigestHostiles","groupName":"vorePrefs","groupKey":"<voreType>", "makeLabel":true},
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"h", "spacing":0},
				{"type" : "spacer", "size" : 1},
				{"type":"label", "text" : ":targets", "inline":true},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"predTargetFriendly","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"predTargetHostile","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"predTargetPlayer","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"predTargetOC","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"predTargetOther","groupName":"vorePrefs","groupKey":"<voreType>"},
			]}
		]},
		{"type":"panel","style":"flat","id":"<voreType>PreyBehaviorPanel","children":[
			{"mode":"v"},
			{"type":"label", "text" : ":preyBehavior", "align":"center"},
			{"type":"label", "text" : ":favored"},
			{"type":"sbqSetting", "setting":"preyFavored","groupName":"vorePrefs","groupKey":"<voreType>"},
			{"type":"label", "text" : ":willingness"},
			{"type":"sbqSetting", "setting":"preyWillingness","groupName":"vorePrefs","groupKey":"<voreType>"},
			{"type":"panel","style":"flat","expandMode":[1,0],"children":[
				{"mode":"h", "spacing":0},
				{"type" : "spacer", "size" : 1},
				{"type":"label", "text" : ":targets", "inline":true},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetFriendlyTip", "icon" : "/interface/scripted/sbq/friendly.png", "setting":"preyTargetFriendly","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type":"sbqSetting", "toolTip":":targetHostileTip", "icon" : "/interface/scripted/sbq/hostile.png", "setting":"preyTargetHostile","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type" : "spacer", "size" : 3},
				{"type":"sbqSetting", "toolTip":":targetPlayersTip", "setting":"preyTargetPlayer","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type":"sbqSetting", "toolTip":":targetOCsTip", "setting":"preyTargetOC","groupName":"vorePrefs","groupKey":"<voreType>"},
				{"type":"sbqSetting", "toolTip":":targetOthersTip", "setting":"preyTargetOther","groupName":"vorePrefs","groupKey":"<voreType>"},
			]}
		]}
	]}]}
]}
