{
	"pred" : {
		"toolUsageSuppressed" : false,
		"itemWhitelist" : [
			//lock item
			"sbqLockedItem",
			//essential item tools
			"beamaxe",
			"wiretool",
			"painttool",
			"inspectiontool",
			"inspectionmode",
			"scanmode",
			//items meant for this
			"sbqController",
			"sbqNominomicon",
			//other items
			"fishaxe",
			"superfishaxe",
			"superfishaxedrop",
			//modded essential items
			"beamaxeapex",
			"beamaxeelunite",
			"beamaxehylotl",
			"fumastermanipulator",
			"mmgravgun",
			"mmgravgun2",
			"mmgravgun3",
			//not sure, but gonna mark it as usable
			"beamaxeX",
			// other modded items
			"stctrickeries"
		],
		"itemTagBlacklist" : [
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		]
	},
	"prey" : {
		"toolUsageSuppressed" : true,
		"itemWhitelist" : [
			"inspectiontool",
			"inspectionmode",
			"scanmode",

			"sbqLockedItem",
			"sbqController",
			"sbqNominomicon",
			"stctrickeries"
		]
	}
}
