{
	"pred" : {
		// "toolUsageSuppressed" : false,
		// "itemWhitelist" : [
		// 	//lock item
		// 	"sbqLockedItem",
		// 	//essential item tools
		// 	"beamaxe",
		// 	"wiretool",
		// 	"painttool",
		// 	"inspectiontool",
		// 	"inspectionmode",
		// 	"scanmode",
		// 	//items meant for this
		// 	"sbqController",
		// 	"sbqNominomicon",
		// 	//other items
		// 	"fishaxe",
		// 	"superfishaxe",
		// 	"superfishaxedrop",
		// 	//modded essential items
		// 	"beamaxeapex",
		// 	"beamaxeelunite",
		// 	"beamaxehylotl",
		// 	"fumastermanipulator",
		// 	"mmgravgun",
		// 	"mmgravgun2",
		// 	"mmgravgun3",
		// 	//not sure, but gonna mark it as usable
		// 	"beamaxeX",
		// 	// other modded items
		// 	"stctrickeries"
		// ],
		// "itemTagBlacklist" : [
		// 	"weapon",
		// 	"vehiclecontroller",
		// 	"toy",
		// 	"shield"
		// ]
	},
	"prey" : {
		"toolUsageSuppressed" : true,
		"itemWhitelist" : [
			"sbqLockedItem",
			"sbqController",
			"sbqNominomicon",
			"stctrickeries"
		],
		"itemTypeWhitelist" : [
			"augmentitem",
			"unlockitem",
			"consumable",
			"blueprint",
			"codex",
			"inspectiontool",
			"instrument"
		],
		"statusEffects" : [
			{"stat":"sbqIsPrey", "amount":1}, // simply marks that the NPC in question is indeed prey
			{"stat":"itemPickupSuppressed", "amount":1},

			{"stat":"protection", "amount":100},
			{"stat":"invulnerable", "amount":1},
			{"stat":"fireStatusImmunity", "amount":1},
			{"stat":"iceStatusImmunity", "amount":1},
			{"stat":"electricStatusImmunity", "amount":1},
			{"stat":"poisonStatusImmunity", "amount":1},
			{"stat":"specialStatusImmunity", "amount":1},
			{"stat":"breathProtection", "amount":1},
			{"stat":"biomecoldImmunity", "amount":1},
			{"stat":"biomeheatImmunity", "amount":1},
			{"stat":"biomeradiationImmunity", "amount":1},
			{"stat":"lavaImmunity", "amount":1},
			{"stat":"fallDamageMultiplier", "effectiveMultiplier":0},
			{"stat":"foodDelta", "effectiveMultiplier":0 },
			// FU
			{"stat":"pusImmunity", "amount":1},
			{"stat":"beestingImmunity", "amount":1},
			{"stat":"biooozeImmunity", "amount":1},
			{"stat":"liquidnitrogenImmunity", "amount":1},
			{"stat":"radiationburnImmunity", "amount":1},
			{"stat":"sulphuricImmunity", "amount":1},
			{"stat":"shadowImmunity", "amount":1},
			{"stat":"insanityImmunity", "amount":1},
			{"stat":"bleedingImmunity", "amount":1},
			{"stat":"pandorasboxglitchtopglitchedImmunity", "amount":1}
		]
	},
	// arbitrary data for each vore type incase it's needed
	"voreTypeData" : {
		"oralVore" : {},
		"tailVore": {},
		"absorbVore": {},
		"navelVore": {},
		"analVore": {},
		"unbirthVore": {},
		"breastVore": {},
		"cockVore": {}
	},
	"infuseTypeData" : {
		"thighsInfuse": {},
		"bellyInfuse": {},
		"breastInfuse": {},
		"pussyInfuse": {},
		"cockInfuse": {},
		"pawInfuse": {},
		"tailInfuse": {}
	},
	"seekActionsSettings" : {
		// this can also include other actions in the future, not just the vore and infuse prefs,
		// thats why it isn't just hardcoded to only check for those
		"dom" : {
			"oralVore":{"vorePrefs":{"oralVore":{"pred":true}}},
			"tailVore":{"vorePrefs":{"tailVore":{"pred":true}}},
			"absorbVore":{"vorePrefs":{"absorbVore":{"pred":true}}},
			"navelVore":{"vorePrefs":{"navelVore":{"pred":true}}},
			"analVore":{"vorePrefs":{"analVore":{"pred":true}}},
			"unbirthVore":{"vorePrefs":{"unbirthVore":{"pred":true}}},
			"breastVore":{"vorePrefs":{"breastVore":{"pred":true}}},
			"cockVore":{"vorePrefs":{"cockVore":{"pred":true}}},
			// "thighsInfuse":{"infusePrefs":{"thighsInfuse":{"pred":true}}},
			"bellyInfuse":{"infusePrefs":{"bellyInfuse":{"pred":true}}},
			"breastInfuse":{"infusePrefs":{"breastInfuse":{"pred":true}}},
			"pussyInfuse":{"infusePrefs":{"pussyInfuse":{"pred":true}}},
			"cockInfuse":{"infusePrefs":{"cockInfuse":{"pred":true}}},
			"tailInfuse":{"infusePrefs":{"tailInfuse":{"pred":true}}}
			// "pawInfuse":{"infusePrefs":{"pawInfuse":{"pred":true}}}
		},
		"sub" : {
			"oralVore":{"vorePrefs":{"oralVore":{"prey":true}}},
			"tailVore":{"vorePrefs":{"tailVore":{"prey":true}}},
			"absorbVore":{"vorePrefs":{"absorbVore":{"prey":true}}},
			"navelVore":{"vorePrefs":{"navelVore":{"prey":true}}},
			"analVore":{"vorePrefs":{"analVore":{"prey":true}}},
			"unbirthVore":{"vorePrefs":{"unbirthVore":{"prey":true}}},
			"breastVore":{"vorePrefs":{"breastVore":{"prey":true}}},
			"cockVore":{"vorePrefs":{"cockVore":{"prey":true}}},
			// "thighsInfuse":{"infusePrefs":{"thighsInfuse":{"prey":true}}},
			"bellyInfuse":{"infusePrefs":{"bellyInfuse":{"prey":true}}},
			"breastInfuse":{"infusePrefs":{"breastInfuse":{"prey":true}}},
			"pussyInfuse":{"infusePrefs":{"pussyInfuse":{"prey":true}}},
			"cockInfuse":{"infusePrefs":{"cockInfuse":{"prey":true}}},
			"tailInfuse":{"infusePrefs":{"tailInfuse":{"prey":true}}}
			// "pawInfuse":{"infusePrefs":{"pawInfuse":{"prey":true}}}
		}
	},

	"locations" : {
		"dummy" : {"name":""},
		"belly" : {
			"icon" : "/humanoid/any/sbqLocationIcons/belly.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/bellyInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/softDigest.png",
			"resource" : "food",
			"resourceInvert" : true,
			"powerMultiplier" : "sbq_acidDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_acidHeal"],
				"softDigest" : ["sbq_acidSoftDigest"],
				"digest" : ["sbq_acidDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"transform" : ["sbqTransformation"],
				"bellyInfuse" : ["sbq_bellyInfuse"],
				"thighsInfuse" : ["sbq_thighsInfuse"],
				"breastInfuse" : ["sbq_breastInfuse"],
				"eggify" : ["sbqEggify"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"transformDigested" : ["sbqTransformation"],
				"bellyInfuseDigested" : ["sbq_bellyInfuse"],
				"thighsInfuseDigested" : ["sbq_thighsInfuse"],
				"breastInfuseDigested" : ["sbq_breastInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"transform"},
				{"action":"eggify"},
				{"action":"bellyInfuse"},
				{"action":"thighsInfuse"},
				{"action":"breastInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"transform"},
				{"action":"bellyInfuse"},
				{"action":"thighsInfuse"},
				{"action":"breastInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]

		},
		"ass" : {
			"icon" : "/humanoid/any/sbqLocationIcons/ass.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/thighsInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/softDigest.png",
			"resource" : "food",
			"resourceInvert" : true,
			"powerMultiplier" : "sbq_acidDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_acidHeal"],
				"softDigest" : ["sbq_acidSoftDigest"],
				"digest" : ["sbq_acidDigest"]
			},
			"secondaryEffects" : { // non mutually exclusive effects that are controlled by boolean toggles
				"energyDrain" : ["sbqDrainEnergy"],
				"thighsInfuse" : ["sbq_thighsInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"thighsInfuseDigested" : ["sbq_thighsInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"thighsInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"thighsInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"tail" : {
			"icon" : "/humanoid/any/sbqLocationIcons/tail.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/tailInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/softDigest.png",
			"resource" : "food",
			"resourceInvert" : true,
			"powerMultiplier" : "sbq_acidDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_acidHeal"],
				"softDigest" : ["sbq_acidSoftDigest"],
				"digest" : ["sbq_acidDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"transform" : ["sbqTransformation"],
				"tailInfuse" : ["sbq_tailInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"transformDigested" : ["sbqTransformation"],
				"tailInfuseDigested" : ["sbq_tailInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"transform"},
				{"action":"tailInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"transform"},
				{"action":"thighsInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"breasts" : {
			"icon" : "/humanoid/any/sbqLocationIcons/breasts.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/breastInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/milk.png",
			"resource" : "sbqLust",

			"powerMultiplier" : "sbq_milkDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_milkHeal"],
				"softDigest" : ["sbq_milkSoftDigest"],
				"digest" : ["sbq_milkDigest"]
			},
			"subLocations" : {
				"left" : {
					"name" : ":breasts_left"
				},
				"right" : {
					"name" : ":breasts_right"
				}
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"breastInfuse" : ["sbq_breastInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"breastInfuseDigested" : ["sbq_breastInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"breastInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"breastInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"breasts_secondary" : {
			"icon" : "/humanoid/any/sbqLocationIcons/breasts.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/breastInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/milk.png",
			"resource" : "sbqLust",

			"powerMultiplier" : "sbq_milkDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_milkHeal"],
				"softDigest" : ["sbq_milkSoftDigest"],
				"digest" : ["sbq_milkDigest"]
			},
			"subLocations" : {
				"left" : {
					"name" : ":breasts_left"
				},
				"right" : {
					"name" : ":breasts_right"
				}
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"breastInfuse" : ["sbq_breastInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"breastInfuseDigested" : ["sbq_breastInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"breastInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"breastInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"cleavage" : {
			"icon" : "/humanoid/any/sbqLocationIcons/breasts.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/breastInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/milk.png",
			"powerMultiplier" : "sbq_milkDigestPower"
		},
		"pussy" : {
			"icon" : "/humanoid/any/sbqLocationIcons/pussy.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/pussyInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/cum.png",
			"resource" : "sbqLust",

			"powerMultiplier" : "sbq_femcumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_femcumHeal"],
				"softDigest" : ["sbq_femcumSoftDigest"],
				"digest" : ["sbq_femcumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"pussyInfuse" : ["sbq_pussyInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"pussyInfuseDigested" : ["sbq_pussyInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"pussyInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"pussyInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"womb" : {
			"icon" : "/humanoid/any/sbqLocationIcons/womb.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/pussyInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/cum.png",
			"resource" : "sbqLust",

			"powerMultiplier" : "sbq_femcumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_femcumHeal"],
				"softDigest" : ["sbq_femcumSoftDigest"],
				"digest" : ["sbq_femcumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"transform" : ["sbqTransformation"],
				"eggify" : ["sbqEggify"],
				"pussyInfuse" : ["sbq_pussyInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformFemcumHeal"],
				"transformDigested" : ["sbqTransformation"],
				"eggifyDigested" : ["sbqEggify"],
				"pussyInfuseDigested" : ["sbq_pussyInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"transform"},
				{"action":"eggify"},
				{"action":"pussyInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"transform"},
				{"action":"pussyInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"cock" : {
			"icon" : "/humanoid/any/sbqLocationIcons/cock.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/cockInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/cum.png",
			"resource" : "sbqLust",

			"powerMultiplier" : "sbq_cumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_cumHeal"],
				"softDigest" : ["sbq_cumSoftDigest"],
				"digest" : ["sbq_cumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"cockInfuse" : ["sbq_cockInfuse"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"cockInfuseDigested" : ["sbq_cockInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"cockInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"cockInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"balls" : {
			"icon" : "/humanoid/any/sbqLocationIcons/balls.png",
			"infusedIcon" : "/humanoid/any/sbqLocationIcons/cockInfuse.png",
			"digestedIcon" : "/interface/scripted/sbq/cum.png",
			"resource" : "sbqLust",

			"powerMultiplier" : "sbq_cumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_cumHeal"],
				"softDigest" : ["sbq_cumSoftDigest"],
				"digest" : ["sbq_cumDigest"]
			},
			"subLocations" : {
				"left" : {
					"name" : ":balls_left"
				},
				"right" : {
					"name" : ":balls_right"
				}
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"cockInfuse" : ["sbq_cockInfuse"],
				"eggify" : ["sbqEggify"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"cockInfuseDigested" : ["sbq_cockInfuse"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"eggify"},
				{"action":"cockInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"cockInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"slime" : {
			"digestedIcon" : "/interface/scripted/sbq/softDigest.png",
			"resource" : "food",
			"resourceInvert" : true,
			"powerMultiplier" : "sbq_acidDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbq_acidHeal"],
				"softDigest" : ["sbq_acidSoftDigest"],
				"digest" : ["sbq_acidDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"],
				"transform" : ["sbqTransformation"]
			},
			"digestedEffects" :{
				"reformDigested" : ["sbqReformHeal"],
				"transformDigested" : ["sbqTransformation"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"sendDeeper"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"transform"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"transform"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "name":":chooseLocationPrey", "description":":chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}}, // for prey requesting where they get sent
				{"action":"fatal", "noDisplay":{"request":true}}
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}
			]
		},
		"grabbed" : {}
	},
	// default data all locations inherit
	"defaultLocationData" : {
		"infusedPassiveEffects" : [
			"sbqHiddenHeal"
		],
		"occupantAnims" : {
			"<occupant>Location":"<location>"
		},
		"occupancy" : {
			"list" : [],
			"size" : 0,
			"visualSize" : 0,
			"struggleVec" : [0,0],
			"interpolateFrom" : 0,
			"interpolateTime" : 0
		},
		"settings" : {},
		"infuseColors" : false,
		"infuseSize" : false
	},
	// list of values to fetch from the location data for use by the prey hud
	"preyHudLocationOutput" : [
		"name",
		"key",
		"subKey",
		"tag",
		"adjectives"
	],
	// the overall default settings
	"defaultSettings" : {
		"any" : {
			"occupantSlots" : 4,
			"maxOccupantSlots" : 4,

			"ballsInternal" : false,
			"ballsSymmetric" : true,

			"bellySelect" : "default",
			"bellyInfuseSelect" : "default",
			"bellySelectOverride" : true,

			"cockSelect" : "disable",
			"cockInfuseSelect" : "default",
			"cockSelectOverride" : true,

			"ballsSelect" : "disable",
			"ballsInfuseSelect" : "default",
			"ballsSelectOverride" : true,

			"pussySelect" : "disable",
			"pussyInfuseSelect" : "default",
			"pussySelectOverride" : true,

			"breastsSelect" : "disable",
			"breastsInfuseSelect" : "default",
			"breastsSelectOverride" : true,

			"tailSelect" : "default",
			"tailInfuseSelect" : "default",
			"tailSelectOverride" : true,

			"displayEffect" : false,

			"breastsLeakiness" : 0.5,
			"cockLeakiness" : 0.5,
			"pussyLeakiness" : 0.5,

			"minScale" : 0.25,
			"maxScale" : 2,
			"maxPossibleScale" : 2,

			"escapeDifficulty" : 0,

			"maxDigestPower" : 1,

			"acidDigestPower" : 1,
			"acidDigestDrops" : false,
			"acidDigestDropsAllow" : false,
			"acidDigestResistance" : 1,
			"acidDigestFatalImmune" : false,

			"cumDigestPower" : 1,
			"cumDigestDrops" : false,
			"cumDigestDropsAllow" : false,
			"cumDigestResistance" : 1,
			"cumDigestFatalImmune" : false,

			"femcumDigestPower" : 1,
			"femcumDigestDrops" : false,
			"femcumDigestDropsAllow" : false,
			"femcumDigestResistance" : 1,
			"femcumDigestFatalImmune" : false,

			"milkDigestPower" : 1,
			"milkDigestDrops" : false,
			"milkDigestDropsAllow" : false,
			"milkDigestResistance" : 1,
			"milkDigestFatalImmune" : false,

			"miscDigestPower" : 1,
			"miscDigestDrops" : false,
			"miscDigestDropsAllow" : false,
			"miscDigestResistance" : 1,
			"miscDigestFatalImmune" : false,

			"breastsSymmetric" : true,
			"nipplesVisible" : false,

			"navelVisible" : false,

			"grabbed" : true,
			"pinned" : true,

			"speciesTF" : false,
			"indefiniteTF" : false,
			"permanentTF" : false,
			"genderTF" : false,
			"accidentalTF" : false,
			"eggTF" : true,

			"potionTF" : true,
			"magicTF" : true,
			"scienceTF" : true,
			"voreTF" : false,
			"unbirthTF" : false,

			"huntingSpreeChance" : 0.75,
			"lockDownChance" : 0.75,
			"leanSubDom" : 0.5,

			"headStrip" : 1,
			"chestStrip" : 0.5,
			"legsStrip" : 0.5,
			"backStrip" : 0.5,

			"vorePrefs" : {},
			"infusePrefs" : {},
			"locations" : {
				"belly" : {
					"infusedFade" : 0,
					"infusedSize" : 0
				},
				"tail" : {
					"infusedFade" : 1,
					"infusedSize" : 0
				},
				"grabbed" : {
					"struggleSounds" : false
				}
			},
			"subBehavior" : {},
			"domBehavior" : {}
		},

		"player" : {
			"headStrip" : 1,
			"chestStrip" : 1,
			"legsStrip" : 1,
			"backStrip" : 1,
			"locations":{},

			"scrollText" : true,
			"customFont" : true
		},
		"npc" : {
			"personality" : "default",
			"minScale" : 0.125,
			"maxScale" : 10,
			"maxPossibleScale" : 10,
			"interactDialogue" : true,
			"actionDialogue" : true,
			"questParticipation" : true,
			"npcGraduation" : true,

			"offerQuests" : true,

			"grabbed" : true,

			"speciesTF" : true,
			"indefiniteTF" : true,
			"permanentTF" : false,
			"genderTF" : true,
			"sexTF" : true,
			"accidentalTF" : true,

			"acidDigestDrops" : true,
			"acidDigestDropsAllow" : true,
			"cumDigestDrops" : true,
			"cumDigestDropsAllow" : true,
			"femcumDigestDrops" : true,
			"femcumDigestDropsAllow" : true,
			"milkDigestDrops" : true,
			"milkDigestDropsAllow" : true,

			"vorePrefs" : {
			},
			"infusePrefs" : {
			},
			"locations":{}
		},
		"monster" : {
			"personality" : "default",
			"interactDialogue" : false,
			"actionDialogue" : false,
			"questParticipation" : false,
			"npcGraduation" : false,
			"offerQuests" : false,

			"minScale" : 0.125,
			"maxScale" : 10,
			"maxPossibleScale" : 10,

			"acidDigestDrops" : true,
			"acidDigestDropsAllow" : true,
			"cumDigestDrops" : true,
			"cumDigestDropsAllow" : true,
			"femcumDigestDrops" : true,
			"femcumDigestDropsAllow" : true,
			"milkDigestDrops" : true,
			"milkDigestDropsAllow" : true,

			"grabbed" : true,

			"vorePrefs" : {
			},
			"infusePrefs" : {
			},

			"locations":{}
		},
		"object" : {
			"personality" : "default",
			"interactDialogue" : true,
			"actionDialogue" : true,
			"questParticipation" : true,
			"offerQuests" : true,

			"locations" : {}
		},
		"vehicle" : {

		}
	},
	"overrideSettings" : {
		"any" : {},
		"player" : {},
		"npc" : {},
		"monster" : {
			"speciesTF" : false
		},
		"object" : {
			"speciesTF" : false,
			"vorePrefs" : {
				"oralVore" : {"prey":false},
				"tailVore" : {"prey":false},
				"absorbVore" : {"prey":false},
				"navelVore" : {"prey":false},

				"analVore" : {"prey":false},
				"unbirthVore" : {"prey":false},
				"breastVore" : {"prey":false},
				"cockVore" : {"prey":false}
			},
			"infusePrefs" : {
				"thighsInfuse" : {"prey":false},
				"bellyInfuse" : {"prey":false},
				"breastInfuse" : {"prey":false},
				"pussyInfuse" : {"prey":false},
				"cockInfuse" : {"prey":false},
				"pawInfuse" : {"prey":false},
				"tailInfuse" : {"prey":false}
			}
		}
	},

	// defines groups of settings that should share default values
	"groupedSettings" : {
		// the default per-location settings
		"locations" : {
			"defaultSettings" :{
				"any" : {
					"mainEffect" : "none",

					"energyDrain" : false,
					"transform" : false,
					"transgender" : "unchanged",
					"eggify":false,

					"reformDigested" : true,
					"transformDigested" : false,

					"cockInfuse" : false,
					"cockInfuseDigested" : false,

					"pussyInfuse" : false,
					"pussyInfuseDigested" : false,

					"breastInfuse" : false,
					"breastInfuseDigested" : false,

					"thighsInfuse" : false,
					"thighsInfuseDigested" : false,

					"bellyInfuse" : false,
					"bellyInfuseDigested" : false,

					"tailInfuse" : false,
					"tailInfuseDigested" : false,

					"pawInfuse" : false,
					"pawInfuseDigested" : false,

					"hammerspace" : false,
					"compression" : "none",
					"compressionMin" : 0.25,

					"gurgleSounds" : false,
					"struggleSounds" : true,

					"infusedFade" : 1,
					"infusedSize" : 1,
					"infusedFading" : false,
					"infusedShrink" : false,

					"visualMin" : 0,
					"visualMinAdd" : false,
					"visualMax" : 16,
					"multiplyFill" : 1
				}
			},
			"overrideSettings":{}

		},
		"vorePrefs" : {
			"defaultSettings" : {
				"any" : {
					"pred" : false,
					"prey" : false
				},
				"npc" : {
					"pred" : true,
					"prey" : true,
					"preySizeMin" : 0.1,
					"preySizeMax" : 2,
					"preySizePreferred" : 0.5
				},
				"monster" : {
					"pred" : true,
					"prey" : true
				}
			},
			"overrideSettings" : {

			}
		},
		"infusePrefs" : {
			"defaultSettings" : {
				"any" : {
					"pred" : false,
					"prey" : false
				},
				"npc" : {
					"pred" : true,
					"prey" : true,
					"preyPreferDirect" : false,
					"predPreferDirect" : false
				}
			},
			"overrideSettings":{
				"monster" : {
					"prey" : false
				}
			}
		},
		"domBehavior" : {
			"defaultSettings" : {
				"any" : {
					"favored" : 5,
					"consentRequired" : false,
					// for players if their prompt times out
					"autoResponse" : "no"

				},
				"npc" : {
					"healthThresholdMin" : 0,
					"hungerThresholdMin" : 0,
					"lustThresholdMin" : 0,
					"restThresholdMin" : 0,
					"healthThresholdMax" : 1,
					"hungerThresholdMax" : 1,
					"lustThresholdMax" : 1,
					"restThresholdMax" : 1,

					"getConsentChance" : 0.75,

					"willingness" : 1,

					"quests" : true,

					"targetFriendly" : true,
					"targetHostile" : true,
					"targetPlayer" : true,
					"targetOC" : true,
					"targetCompatible" : true,
					"targetOther" : true
				}
			},
			"overrideSettings":{}
		},
		"subBehavior" : {
			"defaultSettings" : {
				"any" : {
					"favored" : 5,
					"consentRequired" : false,
					// for players if their prompt times out
					"autoResponse" : "no"

				},
				"npc" : {
					"healthThresholdMin" : 0,
					"hungerThresholdMin" : 0,
					"lustThresholdMin" : 0,
					"restThresholdMin" : 0,

					"healthThresholdMax" : 1,
					"hungerThresholdMax" : 1,
					"lustThresholdMax" : 1,
					"restThresholdMax" : 1,

					"getConsentChance" : 0.75,

					"willingness" : 1,

					"quests" : true,

					"targetFriendly" : true,
					"targetHostile" : false,
					"targetPlayer" : true,
					"targetOC" : true,
					"targetCompatible" : true,
					"targetOther" : false
				}
			},
			"overrideSettings":{}
		}
	},

	// think of this moreso as a list, this is just a object because it's easier to check
	// if something is inside with it like this, since order doesn't matter
	"publicSettings" : {
		"bellySelect" : true,
		"bellyInfuseSelect" : true,
		"bellySelectOverride" : true,

		"cockSelect" : true,
		"cockInfuseSelect" : true,
		"cockSelectOverride" : true,

		"ballsSelect" : true,
		"ballsInfuseSelect" : true,
		"ballsSelectOverride" : true,

		"pussySelect" : true,
		"pussyInfuseSelect" : true,
		"pussySelectOverride" : true,

		"breastsSelect" : true,
		"breastsInfuseSelect" : true,
		"breastsSelectOverride" : true,

		"tailSelect" : true,
		"tailInfuseSelect" : true,
		"tailSelectOverride" : true,


		"minScale" : true,
		"maxScale" : true,
		"grabbed" : true,
		"pinned" : true,

		"pred" : true,
		"prey" : true,
		"sub" : true,
		"dom" : true,

		"consentRequired" : true,

		"mainEffect" : true,

		"speciesTF" : true,
		"indefiniteTF" : true,
		"permanentTF" : true,
		"genderTF" : true,
		"accidentalTF" : true,

		"potionTF" : true,
		"magicTF" : true,
		"scienceTF" : true,
		"voreTF" : true,
		"unbirthTF" : true
	},

	"parameterSettings" :{
		"bellySelect": "sbqModule_belly",
		"cockSelect" : "sbqModule_cock",
		"ballsSelect" : "sbqModule_balls",
		"pussySelect" : "sbqModule_pussy",
		"breastsSelect" : "sbqModule_breasts",
		"tailSelect" : "sbqModule_tail",

		"occupantSlots" : "sbqOccupantSlots"
	},
	"infuseOverrideSettings" : {
		"belly" : {"bellySelect" : ["bellyInfuseSelect", "bellySelectOverride"]},
		"breasts" : {"breastsSelect" : ["breastsInfuseSelect", "breastsSelectOverride"]},
		"breasts_left" : {"breastsSelect" : ["breastsInfuseSelect", "breastsSelectOverride"]},
		"breasts_right" : {"breastsSelect" : ["breastsInfuseSelect", "breastsSelectOverride"]},
		"balls" : {"ballsSelect" : ["ballsInfuseSelect", "ballsSelectOverride"]},
		"balls_left" : {"ballsSelect" : ["ballsInfuseSelect", "ballsSelectOverride"]},
		"balls_right" : {"ballsSelect" : ["ballsInfuseSelect", "ballsSelectOverride"]},
		"tail" : {"tailSelect" : ["tailInfuseSelect", "tailSelectOverride"]},
		"cock" : {"cockSelect" : ["cockInfuseSelect", "cockSelectOverride"]}
	},

	"digestPowerSettings" : [
		"acidDigestPower",
		"cumDigestPower",
		"femcumDigestPower",
		"milkDigestPower"
	],
	// the order in which setting overrides for infusions apply
	"infuseOverrideOrder" : [
		"cockMatchGender",
		"ballsMatchGender",
		"breastsMatchGender",
		"pussyMatchGender",
		"bellyInfuse",
		"breastInfuse",
		"pussyInfuse",
		"cockInfuse",
		"tailInfuse"
	],

	// a map of settings to what stat they should set their modifier for
	"statSettings" : {
		"acidDigestPower" : "sbq_acidDigestPower",
		"acidDigestFatalImmune" : "sbq_acidDigestFatalImmune",
		"acidDigestResistance" : "sbq_acidDigestResistance",
		"acidDigestDropsAllow" : "sbq_acidDigestDropsAllow",
		"cumDigestPower" : "sbq_cumDigestPower",
		"cumDigestResistance" : "sbq_cumDigestResistance",
		"cumDigestDropsAllow" : "sbq_cumDigestDropsAllow",
		"cumDigestFatalImmune" : "sbq_cumDigestFatalImmune",
		"femcumDigestPower" : "sbq_femcumDigestPower",
		"femcumDigestResistance" : "sbq_femcumDigestResistance",
		"femcumDigestDropsAllow" : "sbq_femcumDigestDropsAllow",
		"femcumDigestFatalImmune" : "sbq_femcumDigestFatalImmune",
		"milkDigestPower" : "sbq_milkDigestPower",
		"milkDigestResistance" : "sbq_milkDigestResistance",
		"milkDigestDropsAllow" : "sbq_milkDigestDropsAllow",
		"milkDigestFatalImmune" : "sbq_milkDigestFatalImmune"
	},

	// values returned when checking if an action is available that they should not be displayed
	"dontDisplayAction" : {
		"targetSettingsMismatch" : true,
		"targetMissingStatusPrimaryScript" : true,
		"targetMissingActorScript" : true,
		"settingsMismatch" : true,
		"invalidAction" : true,
		"missingState" : true,
		"missingAction" : true,
		"false" : true
	},

	"transformationBlacklist" : {
		"FutaraDragon" : true,
		"SomaDragon" : true
	},

	"tieredUpgrades" : [
		"candyBonus"
	],

	// various static numbers
	"occpantSlotCap" : 32,
	"compressionRate" : 0.01,
	"struggleGracePeriod" : 5,
	"predStruggleCost" : 5,
	"preyStruggleCost" : 15,
	"actionRange" : 4,
	"actionRadius" : 1,
	// the constant value used to calculate the size something contributes
	// my value is the sqrt of the area of a default humanoid's hitbox
	// this makes it so that fill level 1 is one default humanoid
	"sizeConstant" : 2.2698017425337,

	"scaleSnap" : 0.125,
	"scaleCap" : 10,
	"minimumFallDistance" : 14,
	"transformMenuSlots" : 7,
	"transformMenuUnlock" : 7,
	"defaultVoreTFDuration" : 10,
	"defaultTFDuration" : 5,
	"preyDialogueDismissTime" : 5,
	"recentlyDigestedCount" : 7,
	"strugglingDialogueMin" : 10,
	"strugglingDialogueMax" : 30,
	"occupantStruggleDialogueMin" : 10,
	"occupantStruggleDialogueMax" : 30,
	"huntTargetSwitchCooldown" : 10,
	"huntTargetActionCooldown" : 10,
	"textSpeedMul" : 0.025,
	"willingPreyTime" : 5, // minutes
	"afterDialogueDelay" : 0.25,

	"lockDownClearChance" : 0.25,

	"lockDownCycleMin" : 1, // minutes
	"lockDownCycleMax" : 5, // minutes

	"huntingCycleMin" : 1, // minutes
	"huntingCycleMax" : 5, // minutes

	"sendDeeperCycleMin" : 1, // minutes
	"sendDeeperCycleMax" : 3, // minutes

	"missingPredTimeout" : 60, // seconds
	"missingPredCheck" : 5, // seconds
	"missingPredWarpDelay" : 15, // seconds
	"missingPredWarpAttempts" : 2,

	"convertChance" : 0.125, // chance for applicable NPCs to convert into a vore NPC when spawned
	// sbqConvertChance defined in a .species config will override this chance with its own
	// sbqConvertChance defined in an NPCs scriptConfig will override this chance with its own

	"anyTFSupportedOnly" : true // random TF potions will only TF you into species supported by SBQ


}
