{
	"pred" : {
		"toolUsageSuppressed" : false,
		"itemWhitelist" : [
			//lock item
			"sbqLockedItem",
			//essential item tools
			"beamaxe",
			"wiretool",
			"painttool",
			"inspectiontool",
			"inspectionmode",
			"scanmode",
			//items meant for this
			"sbqController",
			"sbqNominomicon",
			//other items
			"fishaxe",
			"superfishaxe",
			"superfishaxedrop",
			//modded essential items
			"beamaxeapex",
			"beamaxeelunite",
			"beamaxehylotl",
			"fumastermanipulator",
			"mmgravgun",
			"mmgravgun2",
			"mmgravgun3",
			//not sure, but gonna mark it as usable
			"beamaxeX",
			// other modded items
			"stctrickeries"
		],
		"itemTagBlacklist" : [
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		]
	},
	"prey" : {
		"toolUsageSuppressed" : true,
		"itemWhitelist" : [
			"inspectiontool",
			"inspectionmode",
			"scanmode",

			"sbqLockedItem",
			"sbqController",
			"sbqNominomicon",
			"stctrickeries"
		],
		"statusEffects" : [
			{"stat":"protection", "amount":100},
			{"stat":"invulnerable", "amount":1},
			{"stat":"fireStatusImmunity", "amount":1},
			{"stat":"iceStatusImmunity", "amount":1},
			{"stat":"electricStatusImmunity", "amount":1},
			{"stat":"poisonStatusImmunity", "amount":1},
			{"stat":"specialStatusImmunity", "amount":1},
			{"stat":"breathProtection", "amount":1},
			{"stat":"biomecoldImmunity", "amount":1},
			{"stat":"biomeheatImmunity", "amount":1},
			{"stat":"biomeradiationImmunity", "amount":1},
			{"stat":"lavaImmunity", "amount":1},
			{"stat":"fallDamageMultiplier", "effectiveMultiplier":0},
			{"stat":"foodDelta", "effectiveMultiplier":0 },
			// FU
			{"stat":"pusImmunity", "amount":1},
			{"stat":"beestingImmunity", "amount":1},
			{"stat":"biooozeImmunity", "amount":1},
			{"stat":"liquidnitrogenImmunity", "amount":1},
			{"stat":"radiationburnImmunity", "amount":1},
			{"stat":"sulphuricImmunity", "amount":1},
			{"stat":"shadowImmunity", "amount":1},
			{"stat":"insanityImmunity", "amount":1},
			{"stat":"bleedingImmunity", "amount":1},
			{"stat":"pandorasboxglitchtopglitchedImmunity", "amount":1}
		]
	},
	// arbitrary data for each vore type incase it's needed
	"voreTypeData" : {
		"oralVore" : {},
		"tailVore": {},
		"absorbVore": {},
		"navelVore": {},
		"analVore": {},
		"unbirthVore": {},
		"breastVore": {},
		"cockVore": {}
	},
	"infuseTypeData" : {
		"thighsInfuse": {},
		"bellyInfuse": {},
		"breastInfuse": {},
		"pussyInfuse": {},
		"cockInfuse": {},
		"pawInfuse": {},
		"tailInfuse": {}
	},

	"locations" : {
		"dummy" : {"name":""},
		"belly" : {
			"powerMultiplier" : "sbqDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqHeal"],
				"softDigest" : ["sbqSoftDigest"],
				"digest" : ["sbqDigest"]
			},
			"secondaryEffects" : { // non mutually exclusive effects that are controlled by boolean toggles
				"energyDrain" : ["sbqDrainEnergy"]
			}
		},
		"ass" : {
			"powerMultiplier" : "sbqDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqHeal"],
				"softDigest" : ["sbqSoftDigest"],
				"digest" : ["sbqDigest"]
			},
			"secondaryEffects" : { // non mutually exclusive effects that are controlled by boolean toggles
				"energyDrain" : ["sbqDrainEnergy"]
			}
		},
		"tail" : {
			"powerMultiplier" : "sbqDigestPower",
			"passiveEffects" : [], // passive effects that are always applied when in location
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqHeal"],
				"softDigest" : ["sbqSoftDigest"],
				"digest" : ["sbqDigest"]
			},
			"secondaryEffects" : { // non mutually exclusive effects that are controlled by boolean toggles
				"energyDrain" : ["sbqDrainEnergy"]
			}
		},
		"breasts" : {
			"powerMultiplier" : "sbqMilkDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqHeal"],
				"softDigest" : ["sbqMilkSoftDigest"],
				"digest" : ["sbqMilkDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"]
			},
			"subLocations" : {
				"<left>" : {
					"name" : ":breastsLeftName"
				},
				"<right>" : {
					"name" : ":breastsRightName"
				}
			}
		},
		"cleavage" : {
		},
		"pussy" : {
			"powerMultiplier" : "sbqFemcumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqUnbirthHeal"],
				"softDigest" : ["sbqFemcumSoftDigest"],
				"digest" : ["sbqFemcumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"]
			}
		},
		"womb" : {
			"powerMultiplier" : "sbqFemcumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqUnbirthHeal"],
				"softDigest" : ["sbqFemcumSoftDigest"],
				"digest" : ["sbqFemcumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"]
			}
		},
		"cock" : {
			"powerMultiplier" : "sbqCumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqHeal"],
				"softDigest" : ["sbqCumSoftDigest"],
				"digest" : ["sbqCumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"]
			}
		},
		"balls" : {
			"powerMultiplier" : "sbqCumDigestPower",
			"mainEffect" : { // these next four are mutually exclusive and controlled by the mainEffect setting
				"none" : [{"icon":"/interface/scripted/sbq/noEffect.png", "stat":"invulnerable","amount":100}],
				"heal" : ["sbqCumHeal"],
				"softDigest" : ["sbqCumSoftDigest"],
				"digest" : ["sbqCumDigest"]
			},
			"secondaryEffects" : {
				"energyDrain" : ["sbqDrainEnergy"]
			},
			"subLocations" : {
				"<left>" : {
					"name" : ":balls_left"
				},
				"<right>" : {
					"name" : ":balls_right"
				}
			}
		}
	},
	// default data all locations inherit
	"defaultLocationData" : {
		"interactActions" : {
			"letout" : {}
		},
		"occupantAnims" : {
			"<occupant>Location":"<location>"
		},
		"occupancy" : {
			"list" : [],
			"size" : 0,
			"visualSize" : 0,
			"struggleVec" : [0,0],
			"interpolateFrom" : 0,
			"interpolateTime" : 0
		},
		"settings" : {}
	},
	// the overall default settings
	"defaultSettings" : {
		"cock" : false,
		"balls" : false,
		"ballsInternal" : false,
		"ballsSymmetric" : true,
		"displayEffect" : false,

		"minimumScale" : 0.25,
		"maximumScale" : 2,
		"maxPossibleScale" : 2,

		"maxDigestPower" : 1,

		"digestPower" : 1,
		"digestResistance" : 1,

		"cumDigestPower" : 1,
		"cumDigestResistance" : 1,

		"femcumDigestPower" : 1,
		"femcumDigestResistance" : 1,

		"milkDigestPower" : 1,
		"milkDigestResistance" : 1,

		"pussy" : false,
		"breasts" : false,
		"breastsSymmetric" : true,
		"visibleNipples" : false,

		"visibleNavel" : false,

		"grabbed" : true,
		"pinned" : true,

		"speciesTF" : false,
		"indefiniteTF" : false,
		"permanentTF" : false,
		"genderTF" : false,
		"accidentalTF" : false,

		"potionTF" : true,
		"magicTF" : true,
		"scienceTF" : true,
		"voreTF" : false,
		"unbirthTF" : false,

		"vorePrefs" : {},
		"infusePrefs" : {},
		"locations" : {}
	},
	"entityTypeDefaultSettings" : {
		"player" : {
			"locations":{}
		},
		"npc" : {
			"minimumScale" : 0.125,
			"maximumScale" : 10,
			"maxPossibleScale" : 10,
			"interactDialogue" : true,

			"grabbed" : true,

			"speciesTF" : true,
			"indefiniteTF" : true,
			"permanentTF" : false,
			"genderTF" : true,
			"sexTF" : true,
			"accidentalTF" : true,

			"vorePrefs" : {
				"oralVore" : {"prey":true},
				"tailVore" : {"prey":true},
				"absorbVore" : {"prey":true},
				"navelVore" : {"prey":true},

				"unbirthVore" : {"prey":true},
				"breastVore" : {"prey":true},
				"cockVore" : {"prey":true}
			},
			"infusePrefs" : {
				"thighsInfuse" : {"prey":true},
				"bellyInfuse" : {"prey":true},
				"breastInfuse" : {"prey":true},
				"pussyInfuse" : {"prey":true},
				"cockInfuse" : {"prey":true},
				"pawInfuse" : {"prey":true},
				"tailInfuse" : {"prey":true}
			},
			"locations":{}
		},
		"monster" : {
			"interactDialogue" : false,

			"minimumScale" : 0.125,
			"maximumScale" : 10,
			"maxPossibleScale" : 10,

			"grabbed" : true,

			"vorePrefs" : {
				"oralVore" : {"prey":true},
				"tailVore" : {"prey":true},
				"absorbVore" : {"prey":true},
				"navelVore" : {"prey":true},

				"unbirthVore" : {"prey":true},
				"breastVore" : {"prey":true},
				"cockVore" : {"prey":true}
			},

			"locations":{}
		},
		"object" : {
			"interactDialogue" : false,
			"locations" : {}
		}
	},
	"entityTypeOverrideSettings" : {
		"player" : {
			"interactDialogue" : false
		},
		"npc" : {},
		"monster" : {
			"speciesTF" : false
		},
		"object" : {
			"speciesTF" : false,
			"vorePrefs" : {
				"oralVore" : {"prey":false},
				"tailVore" : {"prey":false},
				"absorbVore" : {"prey":false},
				"navelVore" : {"prey":false},

				"unbirthVore" : {"prey":false},
				"breastVore" : {"prey":false},
				"cockVore" : {"prey":false}
			},
			"infusePrefs" : {
				"thighsInfuse" : {"prey":false},
				"bellyInfuse" : {"prey":false},
				"breastInfuse" : {"prey":false},
				"pussyInfuse" : {"prey":false},
				"cockInfuse" : {"prey":false},
				"pawInfuse" : {"prey":false},
				"tailInfuse" : {"prey":false}
			}
		}
	},

	// defines groups of settings that should share default values
	"groupedSettings" : {
		// the default per-location settings
		"locations" : {
			"list" : "locations",
			"defaultSettings" : {
				"mainEffect" : "none",
				"energyDrain" : false,
				"hammerspace" : false,
				"compression" : "none",
				"compressionMin" : 0.25,
				"gurgleSounds" : false,
				"struggleSounds" : false,
				"getDigestDrops" : false,
				"infusedFade" : 0,
				"infusedSize" : 0,
				"infusedSizeAdd" : true,
				"doInfusionFade" : false,
				"visualMin" : 0,
				"visualMinAdd" : false,
				"visualMax" : 16
			}
		},
		"vorePrefs" : {
			"list" : "voreTypes",
			"defaultSettings" : {
				"pred" : false,
				"predConsent" : false,
				"predFavored" : 5,

				"prey" : false,
				"preyConsent" : false,
				"preyFavored" : 5,

				// behavior, mainly used by NPCs
				"predWillingness" : 1,
				"predTargetFriendly" : true,
				"predTargetHostile" : true,
				"predTargetPlayer" : true,
				"predTargetOC" : true,
				"predTargetOther" : true,
				"predAlwaysDigestHostiles" : true,

				"preyWillingness" : 1,
				"preyTargetFriendly" : true,
				"preyTargetHostile" : false,
				"preyTargetPlayer" : true,
				"preyTargetOC" : true,
				"preyTargetOther" : true
			}
		},
		"infusePrefs" : {
			"list" : "infuseTypes",
			"defaultSettings" : {
				"pred" : false,
				"predConsent" : false,
				"predFavored" : 5,

				"prey" : false,
				"preyConsent" : false,
				"preyFavored" : 5,

				// behavior, mainly used by NPCs
				"predWillingness" : 1,
				"predTargetFriendly" : true,
				"predTargetHostile" : true,
				"predTargetPlayer" : true,
				"predTargetOC" : true,
				"predTargetOther" : true,
				"preyPreferDirect" : false,

				"preyWillingness" : 1,
				"preyTargetFriendly" : true,
				"preyTargetHostile" : false,
				"preyTargetPlayer" : true,
				"preyTargetOC" : true,
				"preyTargetOther" : true,
				"predPreferDirect" : false
			}
		}
	},

	// think of this moreso as a list, this is just a object because it's easier to check
	// if something is inside with it like this, since order doesn't matter
	"publicSettings" : {
		"minimumScale" : true,
		"maximumScale" : true,
		"grabbed" : true,
		"pinned" : true,

		"pred" : true,
		"predConsent" : true,
		"predWillingness" : true,

		"prey" : true,
		"preyConsent" : true,
		"preyWillingness" : true,

		"mainEffect" : true
	},
	// a map of settings to what stat they should set their modifier for
	"statSettings" : {
		"digestPower" : "sbqDigestPower",
		"digestResistance" : "sbqDigestResistance",
		"cumDigestPower" : "sbqCumDigestPower",
		"cumDigestResistance" : "sbqCumDigestResistance",
		"femcumDigestPower" : "sbqFemcumDigestPower",
		"femcumDigestResistance" : "sbqFemcumDigestResistance",
		"milkDigestPower" : "sbqMilkDigestPower",
		"milkDigestResistance" : "sbqMilkDigestResistance"
	},

	// values returned when checking if an action is available that they should not be displayed
	"dontDisplayAction" : {
		"targetSettingsMismatch" : true,
		"settingsMismatch" : true,
		"invalidAction" : true,
		"missingAction" : true
	},

	// various static numbers
	"seatCount" : 16,
	"compressionRate" : 0.01,
	"struggleGracePeriod" : 5,
	"struggleCost" : 15,
	"actionRange" : 4,
	"actionRadius" : 1,
	// the constant value used to calculate the size something contributes
	// my value is the sqrt of the area of a default humanoid's hitbox
	// this makes it so that fill level 1 is one default humanoid
	"sizeConstant" : 2.2698017425337,

	"scaleSnap" : 0.125,
	"scaleCap" : 10,
	"minimumFallDistance" : 14
}
