{
	"settingsVersion" : "2.8i",
	"SSVMParityEnabled" : false,
	"scripts" : [
		"/vehicles/sbq/sbq_messages.lua"
	],
	"size" : 2.37,
	"inedibleCreatures" : {
		"erchiusghost" : true,
		"apeboss" : true,
		"apebossprojector" : true,
		"crystalboss" : true,
		//"cultistboss" : true, // She IS a human after all... very much nommable... not sure if eating her would break shit though
		"dragonboss" : true,
		"eyeboss" : true,

		"guardianboss" : true,
		"electricguardianboss" : true,
		"fireguardianboss" : true,
		"iceguardianboss" : true,
		"poisonguardianboss" : true,
		"guardianminion" : true, // these are small, but they're also part of the boss so... probably shouldn't eat them
		"collidingminion" : true,
		"electricrangedminion" : true,
		"firerangedminion" : true,
		"icerangedminion" : true,
		"largeminion" : true,
		"poisonrangedminion" : true,

		"kluexboss" : true,
		"kluexbossstatue" : true,
		"ophanim" : true, // I'm not sure what these are but they're in the boss folder so
		"penguinMiniUfo" : true, // small enough to edible I think
		"penguinUfo" : true,
		"robotboss" : true,
		"spiderboss" : true,
		"swansong" : true,

		// Betabound Boss monsters
		"sb_penguinUfo" : true,

		// betabound event stuff, seems like it shouldn't be eaten
		"sb_envprobe" : true,
		"sb_envprobe2" : true,
		"sb_ruinportal" : true,

		// FU boss monsters
		"fleshtyrant" : true,
		"kluexsentry2" : true,
		"dollboss" : true,
		"electricfuguardianboss" : true,
		"firefuguardianboss" : true,
		"icefuguardianboss" : true,
		"poisonfuguardianboss" : true,
		"shadowfuguardianboss" : true,
		"shadowguardianboss" : true,
		"fuguardianminion" : true,
		"shadowrangedminion" : true,
		"infernusdroid" : true,
		"bighairyfrankboss" : true,
		"bighairyfrankbaby" : true,
		"bighairyfrankbabyrad" : true,
		"precursorwarbot" : true,
		"shoggoth" : true,
		"shoggoth2" : true,
		"tentaclecomet" : true,
		"warbot" : true,
		"warbot2" : true,

		// below are 'monsters' from other mods that should not be edible, report any and they'll be added to the list
		"supbar": true
	},
	"speciesStrugglesDisabled" : {
		"sbqEgg" : true
	},
	"vornyConvertTable" : {
		"generictenant" : "sbqVoreTenant",
		"villager" : "sbqVoreVillager",
		"villageguard" : "sbqVoreVillageGuard",
		"villageguardcaptain" : "sbqVoreVillageGuardCaptain",
		"crewmember" : "sbqVoreCrewmember",
		"crewmemberchemist" : "sbqVoreCrewmemberChemist",
		"crewmemberchemistblue" : "sbqVoreCrewmemberChemistBlue",
		"crewmemberchemistgreen" : "sbqVoreCrewmemberChemistGreen",
		"crewmemberchemistyellow" : "sbqVoreCrewmemberChemistYellow",
		"crewmemberchemistorange" : "sbqVoreCrewmemberChemistOrange",
		"crewmemberengineer" : "sbqVoreCrewmemberEngineer",
		"crewmembermechanic" : "sbqVoreCrewmemberMechanic",
		"crewmembermedic" : "sbqVoreCrewmemberMedic",
		"crewmemberjanitor" : "sbqVoreCrewmemberJanitor"
	},
	"listLocations" : [
		"total",
		"belly",
		"breasts",
		"tail",
		"womb",
		"shaft",
		"balls"
	],
	"generalVoreTypeData" : {
		"oralVore" : {
			"name" : "Oral Vore",
			"locations" : ["belly"],
			"satisfiesPred" : ["food"],
			"satisfiesPrey" : ["rest"]
		},
		"tailVore" : {
			"name" : "Tail Vore",
			"locations" : ["belly"],
			"satisfiesPred" : ["food"],
			"satisfiesPrey" : ["rest"]
		},
		"absorbVore" : {
			"name" : "Absorbtion",
			"locations" : ["belly"],
			"satisfiesPred" : ["food"],
			"satisfiesPrey" : ["rest"]
		},
		"navelVore" : {
			"name" : "Navel Vore",
			"locations" : ["belly"],
			"satisfiesPred" : ["food"],
			"satisfiesPrey" : ["rest"]
		},

		"unbirth" : {
			"name" : "Unbirth",
			"locations" : ["pussy","womb"],
			"satisfiesPred" : ["horny"],
			"satisfiesPrey" : ["rest", "horny"]
		},
		"analVore" : {
			"name" : "Anal Vore",
			"locations" : ["belly"],
			"satisfiesPred" : ["food", "horny"],
			"satisfiesPrey" : ["rest", "horny"]
		},
		"cockVore" : {
			"name" : "Cock Vore",
			"locations" : ["shaft", "balls"],
			"satisfiesPred" : ["horny"],
			"satisfiesPrey" : ["rest", "horny"]
		},
		"breastVore" : {
			"name" : "Breast Vore",
			"locations" : ["breasts"],
			"satisfiesPred" : ["horny"],
			"satisfiesPrey" : ["rest", "horny"]
		}

	},
	"defaultLocationData" :{
		"total":  { "name" : "Total"},
		"belly" : { "name" : "Belly", "satisfiesPrey" : ["rest"], "satisfiesPred" : ["food"], "selectEffect" : true, "hammerspace" : true, "voreTypes" : ["oralVore","analVore","absorbVore","navelVore","bellyInfusion"],
			"passiveToggles" : ["EnergyDrain"],
			"TF" : { "occupantFlag": "transforming" },
			"Eggify" : { "preset" : "egg", "toolTip" : "Prey within will be trapped in an egg.", "occupantFlag" : "eggifying", "immunity" : "eggAllow", "icon": "/interface/scripted/sbq/sbqSettings/eggify.png" },
			"EnergyDrain" : { "effect" : "sbqDrainEnergy", "toolTip" : "Prey will have their energy drained.", "icon" : "/interface/scripted/sbq/sbqSettings/energy.png"},
			"preyActions" : [
				{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "bellyEffectSlot" : ["softDigest", "digest"]} }
			]
		},
		"womb" : { "name" : "Womb", "satisfiesPrey" : ["horny", "rest"], "satisfiesPred" : ["horny"], "selectEffect" : true, "hammerspace" : true, "voreTypes" : ["unbirth","pussyInfusion"], "checkSettings":{"pussy":true},
			"heal" : { "effect" : "sbqUnbirthHeal", "toolTip" : "Prey within will be healed, boosted by your attack power, uses your hunger.", "icon" : "/interface/scripted/sbq/sbqSettings/heal.png"},
			"digest" : { "effect" : "sbqFemcumDigest", "toolTip" : "Prey within will be melted into femcum, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"softDigest" : { "effect" : "sbqFemcumSoftDigest", "toolTip" : "Prey within will be melted into femcum, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"TF" : { "occupantFlag": "transforming" },
			"Eggify" : { "preset" : "egg", "toolTip" : "Prey within will be trapped in an egg.", "occupantFlag" : "eggifying", "immunity" : "eggAllow", "icon": "/interface/scripted/sbq/sbqSettings/eggify.png" },
			"EnergyDrain" : { "effect" : "sbqDrainEnergy", "toolTip" : "Prey will have their energy drained.", "icon" : "/interface/scripted/sbq/sbqSettings/energy.png"},
			"passiveToggles" : ["EnergyDrain","Eggify"], "preyActions" : [
				{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "wombEffectSlot" : ["softDigest", "digest"]} },
				{ "name":"Eggify", "script":"eggify" }
			]
		},
		"tail" : { "name" : "Tail", "satisfiesPrey" : ["rest"], "satisfiesPred" : ["food"], "selectEffect" : true, "voreTypes" : ["tailVore"], "checkSettings":{"tail":true},
			"passiveToggles" : ["EnergyDrain"],
			"EnergyDrain" : { "effect" : "sbqDrainEnergy", "toolTip" : "Prey will have their energy drained.", "icon" : "/interface/scripted/sbq/sbqSettings/energy.png"},
			"preyActions" : [
				{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "tailEffectSlot" : ["softDigest", "digest"]} }
			]
		},
		"shaft" : { "name" : "Shaft", "satisfiesPrey" : ["horny","rest"], "satisfiesPred" : ["horny"], "selectEffect" : true, "voreTypes" : ["cockVore","cockInfusion"], "checkSettings":{"penis":true},
			"digest" : { "effect" : "sbqCumDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"softDigest" : { "effect" : "sbqCumSoftDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"TF" : { "occupantFlag": "transforming", "immunity" : "cumTransformAllow", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png", "toolTip" : "Prey within will be transformed into cum.", "preset" : "cumBlob" },
			"EnergyDrain" : { "effect" : "sbqDrainEnergy", "toolTip" : "Prey will have their energy drained.", "icon" : "/interface/scripted/sbq/sbqSettings/energy.png"},
			"passiveToggles" : ["EnergyDrain","TF"], "preyActions" : [
				{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "shaftEffectSlot" : ["softDigest", "digest"]} },
				{ "name":"Cum TF", "script":"transform"}
			]
		},
		"balls" : { "name" : "Balls", "satisfiesPrey" : ["horny","rest"], "satisfiesPred" : ["horny"], "selectEffect" : true, "sided" : true, "hammerspace" : true, "voreTypes" : ["cockVore","cockInfusion"],  "checkSettings":{"balls":true},
			"digest" : { "effect" : "sbqCumDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"softDigest" : { "effect" : "sbqCumSoftDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"TF" : { "occupantFlag": "transforming", "immunity" : "cumTransformAllow", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png", "toolTip" : "Prey within will be transformed into cum.", "preset" : "cumBlob" },
			"EnergyDrain" : { "effect" : "sbqDrainEnergy", "toolTip" : "Prey will have their energy drained.", "icon" : "/interface/scripted/sbq/sbqSettings/energy.png"},
			"passiveToggles" : ["EnergyDrain","TF"], "preyActions" : [
				{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "ballsEffectSlot" : ["softDigest", "digest"]} },
				{ "name":"Cum TF", "script":"transform"}
			]
		},
		"ballsL" : { "name" : "Left Ball" },
		"ballsR" : { "name" : "Right Ball" },

		"breasts" : { "name" : "Breasts", "satisfiesPrey" : ["horny", "rest"], "satisfiesPred":["horny"], "selectEffect" : true, "sided" : true, "hammerspace" : true, "voreTypes" : ["breastVore","breastsInfusion"], "checkSettings":{"breasts":true},
			"digest" : { "effect" : "sbqMilkDigest", "toolTip" : "Prey within will be churned into milk, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/milk.png"},
			"softDigest" : { "effect" : "sbqMilkSoftDigest", "toolTip" : "Prey within will be churned into milk, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/milk.png"},
			"EnergyDrain" : { "effect" : "sbqDrainEnergy", "toolTip" : "Prey will have their energy drained.", "icon" : "/interface/scripted/sbq/sbqSettings/energy.png"},
			"passiveToggles" : ["EnergyDrain"]
		},
		"breastsL" : { "name" : "Left Boob" },
		"breastsR" : { "name" : "Right Boob" }
	},
	"nonInfusedData" : [
		"max",
		"combine",
		"combined",
		"side",
		"infusedVisual",
		"infusion",
		"infusionAccepts",
		"checkSettings",
		"requiresInfusion",
		"sizes",
		"satisfies"
	],

	"bellyStatusEffects" : [
		"sbqRemoveBellyEffects",
		"sbqHeal",
		"sbqDigest",
		"sbqSoftDigest",
		"sbqCumDigest",
		"sbqCumSoftDigest",
		"sbqFemcumDigest",
		"sbqFemcumSoftDigest",
		"sbqMilkDigest",
		"sbqMilkSoftDigest",
		"sbqUnbirthHeal"
	],
	"bellyStatusEffectNames" : {
		"sbqRemoveBellyEffects": "No Effect",
		"sbqHeal": "Healing",
		"sbqDigest": "Digest",
		"sbqSoftDigest": "Soft Digest",
		"sbqCumDigest": "Cum Digest",
		"sbqCumSoftDigest": "Soft Cum Digest",
		"sbqFemcumDigest": "Femcum Digest",
		"sbqFemcumSoftDigest": "Soft Femcum Digest",
		"sbqMilkDigest": "Milk Digest",
		"sbqMilkSoftDigest": "Soft Milk Digest",
		"sbqUnbirthHeal" : "Unbirth Healing"
	},
	"predStatusEffects" : [
		"sbqInvisible",
		"sbqScaling",
		"sbqVictimMask"
	],
	"effectDefaults" : {
		"none" : "sbqRemoveBellyEffects",
		"heal" : "sbqHeal",
		"softDigest" : "sbqSoftDigest",
		"digest" : "sbqDigest"
	},
	"globalSettings" : {
		"predDigestItemDrops" : true,
		"displayDigest" : false,
		"escapeDifficulty": 0,
		"impossibleEscape": false,
		"reformResetHealth" : true,

		"defaultHammerspace" : false,
		"defaultCompression" : false,
		"defaultSounds" : false,
		"defaultStruggleSounds" : false,
		"defaultPredDigestDrops" : false,
		"defaultInfusedVisual" : false,
		"defaultInfusedSize" : false,
		"defaultInfusedSizeAdditive" : false,
		"defaultVisualMinAdditive" : false,
		"defaultAbsorbPlayers" : true,
		"defaultAbsorbOCs" : true,
		"defaultAbsorbSBQNPCs" : true,
		"defaultAbsorbOthers" : false,

		"forcefulPrey" : false,

		"oralVorePred" : false,
		"tailVorePred" : false,
		"absorbVorePred" : false,
		"navelVorePred" : false,

		"analVorePred" : false,
		"unbirthPred" : false,
		"cockVorePred" : false,
		"breastVorePred" : false,

		"cockInfusionPred" : false,
		"pussyInfusionPred" : false,
		"bellyInfusionPred" : false,
		"breastsInfusionPred" : false,

		"oralVorePredUnwilling" : false,
		"tailVorePredUnwilling" : false,
		"absorbVorePredUnwilling" : false,
		"navelVorePredUnwilling" : false,

		"analVorePredUnwilling" : false,
		"unbirthPredUnwilling" : false,
		"cockVorePredUnwilling" : false,
		"breastVorePredUnwilling" : false,

		"cockInfusionPredUnwilling" : false,
		"pussyInfusionPredUnwilling" : false,
		"bellyInfusionPredUnwilling" : false,
		"breastsInfusionPredUnwilling" : false,

		"disableHud" : false
	},
	"defaultSettings" : {
		"personality" : "default",
		"mood" : "default",

		"defaultHammerspace" : false,
		"defaultCompression" : false,
		"defaultSounds" : false,
		"defaultStruggleSounds" : false,
		"defaultPredDigestDrops" : false,
		"defaultInfusedVisual" : false,
		"defaultInfusedSize" : false,
		"defaultInfusedSizeAdditive" : false,
		"defaultVisualMinAdditive" : false,
		"defaultAbsorbPlayers" : true,
		"defaultAbsorbOCs" : true,
		"defaultAbsorbSBQNPCs" : true,
		"defaultAbsorbOthers" : false,
		"reformResetHealth" : true,

		"forcefulPrey" : false,

		"defaultCompressionMultiplier" : 0.25,
		"defaultInfusedMultiplier" : 0.5,

		"predDigestItemDrops" : true,
		"displayDigest" : false,
		"escapeDifficulty": 0,
		"impossibleEscape": false,

		"replaceColors" : [],
		"replaceColorTable" : [],
		"fullbright" : [],
		"directives" : "",
		"replaceSkin" : {},
		"skinNames" : {},

		"oralVorePred" : false,
		"tailVorePred" : false,
		"absorbVorePred" : false,
		"navelVorePred" : false,

		"analVorePred" : false,
		"unbirthPred" : false,
		"cockVorePred" : false,
		"breastVorePred" : false,

		"cockInfusionPred" : false,
		"pussyInfusionPred" : false,
		"bellyInfusionPred" : false,
		"breastsInfusionPred" : false,

		"oralVorePredUnwilling" : false,
		"tailVorePredUnwilling" : false,
		"absorbVorePredUnwilling" : false,
		"navelVorePredUnwilling" : false,

		"analVorePredUnwilling" : false,
		"unbirthPredUnwilling" : false,
		"cockVorePredUnwilling" : false,
		"breastVorePredUnwilling" : false,

		"cockInfusionPredUnwilling" : false,
		"pussyInfusionPredUnwilling" : false,
		"bellyInfusionPredUnwilling" : false,
		"breastsInfusionPredUnwilling" : false
	},
	"npcDefaultSettings" : {

		"questParticipation" : true,
		"crewmateGraduation" : true,

		"forcefulPrey" : true,

		// hunting
		"preferNonImmune" : true,
		"preferDigestHostiles" : true,
		"overrideSoftDigestForHostiles" : true,
		"preferHealFriendlies" : false,

		"oralVoreHuntHostilePlayers" : true,
		"oralVoreHuntFriendlyPlayers" : true,
		"oralVoreHuntHostileOCs" : true,
		"oralVoreHuntFriendlyOCs" : true,
		"oralVoreHuntHostileSBQNPCs" : true,
		"oralVoreHuntFriendlySBQNPCs" : true,
		"oralVoreHuntHostileOther" : true,
		"oralVoreHuntFriendlyOther" : true,

		"tailVoreHuntHostilePlayers" : true,
		"tailVoreHuntFriendlyPlayers" : true,
		"tailVoreHuntHostileOCs" : true,
		"tailVoreHuntFriendlyOCs" : true,
		"tailVoreHuntHostileSBQNPCs" : true,
		"tailVoreHuntFriendlySBQNPCs" : true,
		"tailVoreHuntHostileOther" : true,
		"tailVoreHuntFriendlyOther" : true,

		"absorbVoreHuntHostilePlayers" : true,
		"absorbVoreHuntFriendlyPlayers" : true,
		"absorbVoreHuntHostileOCs" : true,
		"absorbVoreHuntFriendlyOCs" : true,
		"absorbVoreHuntHostileSBQNPCs" : true,
		"absorbVoreHuntFriendlySBQNPCs" : true,
		"absorbVoreHuntHostileOther" : true,
		"absorbVoreHuntFriendlyOther" : true,

		"navelVoreHuntHostilePlayers" : true,
		"navelVoreHuntFriendlyPlayers" : true,
		"navelVoreHuntHostileOCs" : true,
		"navelVoreHuntFriendlyOCs" : true,
		"navelVoreHuntHostileSBQNPCs" : true,
		"navelVoreHuntFriendlySBQNPCs" : true,
		"navelVoreHuntHostileOther" : true,
		"navelVoreHuntFriendlyOther" : true,

		"analVoreHuntHostilePlayers" : true,
		"analVoreHuntFriendlyPlayers" : true,
		"analVoreHuntHostileOCs" : true,
		"analVoreHuntFriendlyOCs" : true,
		"analVoreHuntHostileSBQNPCs" : true,
		"analVoreHuntFriendlySBQNPCs" : true,
		"analVoreHuntHostileOther" : true,
		"analVoreHuntFriendlyOther" : true,

		"cockVoreHuntHostilePlayers" : true,
		"cockVoreHuntFriendlyPlayers" : true,
		"cockVoreHuntHostileOCs" : true,
		"cockVoreHuntFriendlyOCs" : true,
		"cockVoreHuntHostileSBQNPCs" : true,
		"cockVoreHuntFriendlySBQNPCs" : true,
		"cockVoreHuntHostileOther" : true,
		"cockVoreHuntFriendlyOther" : true,

		"breastVoreHuntHostilePlayers" : true,
		"breastVoreHuntFriendlyPlayers" : true,
		"breastVoreHuntHostileOCs" : true,
		"breastVoreHuntFriendlyOCs" : true,
		"breastVoreHuntHostileSBQNPCs" : true,
		"breastVoreHuntFriendlySBQNPCs" : true,
		"breastVoreHuntHostileOther" : true,
		"breastVoreHuntFriendlyOther" : true,

		"unbirthHuntHostilePlayers" : true,
		"unbirthHuntFriendlyPlayers" : true,
		"unbirthHuntHostileOCs" : true,
		"unbirthHuntFriendlyOCs" : true,
		"unbirthHuntHostileSBQNPCs" : true,
		"unbirthHuntFriendlySBQNPCs" : true,
		"unbirthHuntHostileOther" : true,
		"unbirthHuntFriendlyOther" : true,

		//baiting
		"oralVoreBaitHostilePlayers" : false,
		"oralVoreBaitFriendlyPlayers" : true,
		"oralVoreBaitHostileOCs" : false,
		"oralVoreBaitFriendlyOCs" : true,
		"oralVoreBaitHostileSBQNPCs" : false,
		"oralVoreBaitFriendlySBQNPCs" : true,
		"oralVoreBaitHostileOther" : false,
		"oralVoreBaitFriendlyOther" : true,

		"tailVoreBaitHostilePlayers" : false,
		"tailVoreBaitFriendlyPlayers" : true,
		"tailVoreBaitHostileOCs" : false,
		"tailVoreBaitFriendlyOCs" : true,
		"tailVoreBaitHostileSBQNPCs" : false,
		"tailVoreBaitFriendlySBQNPCs" : true,
		"tailVoreBaitHostileOther" : false,
		"tailVoreBaitFriendlyOther" : true,

		"absorbVoreBaitHostilePlayers" : false,
		"absorbVoreBaitFriendlyPlayers" : true,
		"absorbVoreBaitHostileOCs" : false,
		"absorbVoreBaitFriendlyOCs" : true,
		"absorbVoreBaitHostileSBQNPCs" : false,
		"absorbVoreBaitFriendlySBQNPCs" : true,
		"absorbVoreBaitHostileOther" : false,
		"absorbVoreBaitFriendlyOther" : true,

		"navelVoreBaitHostilePlayers" : false,
		"navelVoreBaitFriendlyPlayers" : true,
		"navelVoreBaitHostileOCs" : false,
		"navelVoreBaitFriendlyOCs" : true,
		"navelVoreBaitHostileSBQNPCs" : false,
		"navelVoreBaitFriendlySBQNPCs" : true,
		"navelVoreBaitHostileOther" : false,
		"navelVoreBaitFriendlyOther" : true,

		"analVoreBaitHostilePlayers" : false,
		"analVoreBaitFriendlyPlayers" : true,
		"analVoreBaitHostileOCs" : false,
		"analVoreBaitFriendlyOCs" : true,
		"analVoreBaitHostileSBQNPCs" : false,
		"analVoreBaitFriendlySBQNPCs" : true,
		"analVoreBaitHostileOther" : false,
		"analVoreBaitFriendlyOther" : true,

		"cockVoreBaitHostilePlayers" : false,
		"cockVoreBaitFriendlyPlayers" : true,
		"cockVoreBaitHostileOCs" : false,
		"cockVoreBaitFriendlyOCs" : true,
		"cockVoreBaitHostileSBQNPCs" : false,
		"cockVoreBaitFriendlySBQNPCs" : true,
		"cockVoreBaitHostileOther" : false,
		"cockVoreBaitFriendlyOther" : true,

		"breastVoreBaitHostilePlayers" : false,
		"breastVoreBaitFriendlyPlayers" : true,
		"breastVoreBaitHostileOCs" : false,
		"breastVoreBaitFriendlyOCs" : true,
		"breastVoreBaitHostileSBQNPCs" : false,
		"breastVoreBaitFriendlySBQNPCs" : true,
		"breastVoreBaitHostileOther" : false,
		"breastVoreBaitFriendlyOther" : true,

		"unbirthBaitHostilePlayers" : false,
		"unbirthBaitFriendlyPlayers" : true,
		"unbirthBaitHostileOCs" : false,
		"unbirthBaitFriendlyOCs" : true,
		"unbirthBaitHostileSBQNPCs" : false,
		"unbirthBaitFriendlySBQNPCs" : true,
		"unbirthBaitHostileOther" : false,
		"unbirthBaitFriendlyOther" : true,


		"personality" : "default",
		"mood" : "default"
	},
	"sbqAllowedItems": {
		"driver": {
			//lock item
			"sbqLockedItem" : true,
			//essential item tools
			"beamaxe" : true,
			"wiretool" : true,
			"painttool" : true,
			"inspectiontool" : true,
			"inspectionmode" : true,
			"scanmode" : true,
			//items meant for this
			"sbqController" : true,
			"sbqNominomicon" : true,
			//other items
			"fishaxe" : true,
			"superfishaxe" : true,
			"superfishaxedrop" : true,
			//modded essential items
			"beamaxeapex" : true,
			"beamaxeelunite" : true,
			"beamaxehylotl" : true,
			"fumastermanipulator" : true,
			"mmgravgun" : true,
			"mmgravgun2" : true,
			"mmgravgun3" : true,
			//not sure, but gonna mark it as usable
			"beamaxeX" : true,
			// other modded items
			"stctrickeries" : true

		},
		"prey": {
			"inspectiontool" : true,
			"inspectionmode" : true,
			"scanmode" : true,

			"sbqLockedItem" : true,
			"sbqController" : true,
			"sbqNominomicon" : true,
			"stctrickeries" : true
		}
	},
	"sbqBannedTags":{
		"driver":[
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		],
		"prey":[
			"weapon",
			"tool",
			"melee",
			"toy",
			"vehiclecontroller",
			"shield",
			"sbqTransformation"
		]
	},
	"sbqBannedItemTypes":{
		"driver": {},
		"prey": {
			"object" : true,
			"liquid" : true,
			"material" : true
		}
	},
	"lockItemDescriptor":{
		"parameters":{
			"scriptStorage": {
				"itemDescriptors" : [],
				"timeUntilUnlock": 1,
				"lockedEssentialItems" : {}
			}
		},
		"count":1,
		"name":"sbqLockedItem"
	},
	"npcCardTemplate" : { // from NpcSpawnerPlus just so we can use the same card system but not need it installed
		"item": "secretnote",
		"count": 1,
		"parameters": {
			"rarity": "Common",
			"description": ".",
			"shortdescription": "NpcName",
			"tooltipKind": "filledcapturepod",
			"tooltipFields": {
				"subtitle": "npcType",
				"collarNameLabel": "Created By:  PlayerName",
				"collarIconImage": "/objects/human/bunkerpanel2/bunkerpanel2icon.png",
				"noCollarLabel": "",
				"objectImage": "fullPortrait"
			}
		}
	},
	"npcEssenceTemplate" : { // from NpcSpawnerPlus just so we can use the same card system but not need it installed
		"item": "sbqNPCEssenceJar",
		"count": 1,
		"parameters": {
			"rarity": "Common",
			"description": ".",
			"shortdescription": "NpcName",
			"tooltipKind": "filledcapturepod",
			"tooltipFields": {
				"subtitle": "npcType",
				"collarNameLabel": "Created By:  PlayerName",
				"collarIconImage": "/objects/human/bunkerpanel2/bunkerpanel2icon.png",
				"noCollarLabel": "",
				"objectImage": "fullPortrait"
			}
		}
	},
	"npcPersonalities" : [
		"default",
		"flirty",
		"shy"
	],
	"npcMoods" : [
		"default",
		"hungry",
		"horny",
		"fearful",
		"friendly"
	],
	"voreTypes" : [
		"oralVore",
		"tailVore",
		"absorbVore",
		"navelVore",

		"analVore",
		"unbirth",
		"cockVore",
		"breastVore"
	],
	"voreTypeNames" : {
		"oralVore": "Oral Vore",
		"tailVore": "Tail Vore",
		"absorbVore": "Absorbtion",
		"navelVore": "Navel Vore",

		"analVore": "Anal Vore",
		"unbirth": "Unbirth",
		"cockVore": "Cock Vore",
		"breastVore": "Breast Vore"
	},
	"defaultPreyEnabled" : {
		"player" : {
			"preyEnabled" : true,

			"digestAllow": true,
			"softDigestAllow" : true,
			"digestItemDropsAllow" : false,

			"cumDigestAllow": false,
			"cumSoftDigestAllow": false,
			"cumDigestItemDropsAllow" : false,

			"femcumDigestAllow": false,
			"femcumSoftDigestAllow": false,
			"femcumDigestItemDropsAllow" : false,

			"milkDigestAllow": false,
			"milkSoftDigestAllow" : false,
			"milkDigestItemDropsAllow" : false,

			"transformAllow": true,
			"cumTransformAllow": false,
			"genderswapAllow": false,
			"eggAllow": true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : false,

			"analVore" : false,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false,

			"bellyInfusion" : false,
			"cockInfusion" : false,
			"pussyInfusion" : false,
			"breastsInfusion" : false
		},
		"npc" : {
			"preyEnabled" : true,

			"digestAllow": true,
			"softDigestAllow" : true,
			"digestItemDropsAllow" : true,

			"cumDigestAllow": true,
			"cumSoftDigestAllow": true,
			"cumDigestItemDropsAllow" : true,

			"femcumDigestAllow": true,
			"femcumSoftDigestAllow": true,
			"femcumDigestItemDropsAllow" : true,

			"milkDigestAllow": true,
			"milkSoftDigestAllow" : true,
			"milkDigestItemDropsAllow" : true,

			"transformAllow": true,
			"cumTransformAllow": true,
			"genderswapAllow": true,
			"eggAllow": true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : true,

			"analVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true,

			"bellyInfusion" : true,
			"cockInfusion" : true,
			"pussyInfusion" : true,
			"breastsInfusion" : true

		},
		"monster" : {
			"preyEnabled" : true,

			"digestAllow": true,
			"softDigestAllow" : true,
			"digestItemDropsAllow" : true,

			"cumDigestAllow": true,
			"cumSoftDigestAllow": true,
			"cumDigestItemDropsAllow" : true,

			"femcumDigestAllow": true,
			"femcumSoftDigestAllow": true,
			"femcumDigestItemDropsAllow" : true,

			"milkDigestAllow": true,
			"milkSoftDigestAllow" : true,
			"milkDigestItemDropsAllow" : true,

			"transformAllow": false,
			"cumTransformAllow": false,
			"genderswapAllow": false,
			"eggAllow": true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : true,

			"analVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true,

			"bellyInfusion" : false,
			"cockInfusion" : false,
			"pussyInfusion" : false,
			"breastsInfusion" : false

		}
	},
	"victimTransformPresets" : {
		"cumBlob" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqSlime",
			"settings" : {
				"firstLoadDone" : true,
				"replaceColorTable" : [["A1A1A1Bc", "DCDCDCBc", "EFEFEFBc", "FFFFFFBc"]]
			}
		},
		"egg" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqEgg",
			"randomColors" : true,
			"layer" : true,
			"layerLocation" : "egg",
			"inheritSettings" : [
				"escapeDifficulty"
			],
			"settings" : {
				"firstLoadDone" : true,
				"cracks" : 0,
				"eggEffect" : "sbqHeal"
			}
		},
		"plasticEgg" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqEgg",
			"randomColors" : true,
			"replaceColors" : "plasticReplaceColors",
			"layer" : true,
			"layerLocation" : "egg",
			"inheritSettings" : [
				"escapeDifficulty"
			],
			"settings" : {
				"firstLoadDone" : true,
				"cracks" : 0,
				"eggEffect" : "sbqHeal",
				"skinNames" : { "head" : "plastic" }
			}
		},
		"glassEgg" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqEgg",
			"randomColors" : true,
			"replaceColors" : "glassReplaceColors",
			"layer" : true,
			"layerLocation" : "egg",
			"inheritSettings" : [
				"escapeDifficulty"
			],
			"settings" : {
				"firstLoadDone" : true,
				"cracks" : 0,
				"eggEffect" : "sbqHeal"
			}
		}
	},
	"legsVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
		// nude
		"none" : true,
		"maskpants" : true,
		"hiderlegs" : true,
		"gf_invisiblelegs" : true,
		"inviskazpants" : true,
		"catusoutfit4legs" : true,
		"nopantsL" : true,
		"deerfolkoutfit3legs" : true,
		"myfirsttestoutfit1legs" : true,
		"mauskinnudelegs" : true,
		"bunnykinnudelegs" : true,
		"taurikinnudelegs" : true,
		"spirittreeoutfit3legs" : true,
		"lamiablanklegs" : true,
		"saturnnullpants" : true,
		"invisiblefabriclegs" : true,
		"sbq_nude_legs" : true,
		"braixennothinglegs" : true,
		"invislegs" : true,
		"nudeoutfitlegs" : true,
		"avalitier1pants" : true,
		"avalitier2pants" : true,
		"avalitier3pants" : true,
		"avalitier4pants" : true,
		"avalitier5apants" : true,
		"avalitier5mpants" : true,
		"avalitier5spants" : true,
		"avalitier6apants" : true,
		"avalitier6mpants" : true,
		"avalitier6spants" : true,
		"sb_emptylegs" : true,
		"customskillblanklegs" : true,
		"FutaraDragonoutfit1legs": true,
		"SomaDragonoutfit1legs" : true,

		// revealing
		"deerfolkoutfit1legs": true,
		"catusangelicwings": true,
		"catusangelicwingsbow": true,
		"taurikinoutfit3legs": true,
		"spiritguardiandustoutfitlegs": true,
		"spiritdustlegs": true,
		"kawaii_fishnets": true,
		"kawaii_shoes_fishnets": true,
		"hanawrap": true,
		"nekislonglegs": true,
		"catusoutfit1legs": true,
		"sergalsmithingbelt": true,
		"bunnykinoutfit1legs": true,
		"kawaii_shoes": true,
		"spirittreeoutfit4legs": true,
		"kawaii_stripeys": true,
		"kawaii_shoes_stripeys": true,
		"catusoutfit2legs": true,
		"avaliset1cpants" : true,
		"avaliset1bpants" : true,
		"avaliset1pants" : true

	},
	"chestVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
		// nude
		"none" : true,
		"maskchest" : true,
		"hiderchest" : true,
		"gf_invisiblechest" : true,
		"inviskazchest" : true,
		"catusoutfit4chest" : true,
		"nogearL" : true,
		"mauskinnudechest" : true,
		"bunnykinnudechest" : true,
		"taurikinnudechest" : true,
		"spirittreeoutfit3chest" : true,
		"lamiablankchest" : true,
		"saturnnullchest" : true,
		"invisiblefabricchest" : true,
		"sbq_nude_chest" : true,
		"braixennothingchest" : true,
		"invischest" : true,
		"nudeoutfitchest" : true,
		"avalitier1chest" : true,
		"avalitier2chest" : true,
		"avalitier3chest" : true,
		"avalitier4chest" : true,
		"avalitier5achest" : true,
		"avalitier5mchest" : true,
		"avalitier5schest" : true,
		"avalitier6achest" : true,
		"avalitier6mchest" : true,
		"avalitier6schest" : true,
		"sb_emptychest" : true,
		"customskillblankchest" : true,
		"FutaraDragonoutfit1chest": true,
		"SomaDragonoutfit1chest" : true,

		// revealing
		"commandersleevesL": true,
		"kawaii_netgloves": true,
		"kawaii_gloves": true,
		"spiritguardianleafbandage": true,
		"catusoutfit1chest": true,
		"catusoutfit3chest": true,
		"catusoutfit2chest": true,
		"kawaii_stripedgloves": true,
		"spirittreeoutfit1chest": true,
		"spirittreeoutfit4chest": true,
		"avaliset1cchest" : true,
		"avaliset1bchest" : true,
		"avaliset1chest" : true,
		"avaliraglansleeves_1" : true,
		"foundryguardchest" : true,
		"executionerschest" : true,
		"nekislongchest" : true,
		"nekisleevesangel" : true,
		"nekisleevesglove" : true,
		"nekisleevesshort" : true
	}

}
