{
	"settingsOrder" :[
		"cock",
		"balls",
		"ballsInternal",
		"ballsSymmetric",

		"pussy",
		"breasts",
		"breastsSymmetic",
		"visibleNipples",

		"visibleNavel",

		"digestPower",
		"cumDigestPower",
		"femcumDigestPower",
		"milkDigestPower",

	],
	"locationSettingsOrder" : [
		"mainEffect",
		"energyDrain",
		"hammerspace",
		"compression",
		"compressionMin",
		"gurgleSounds",
		"struggleSounds",
		"getDigestDrops",
		"infusedFade",
		"infusedSize",
		"infusedSizeAdd",
		"doInfusionFade",
		"visualSize",
		"visualSizeAdd",
	],
	"locationOrder" : [
		"belly",
		"ass",
		"tail",
		"breasts",
		"cleavage",
		"pussy",
		"womb",
		"cock",
		"balls"
	],
	"settingWidgets" : {
		"digestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"digestResistance"}
		]},
		"cumDigestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"cumDigestResistance"}
		]},
		"femcumDigestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"femcumDigestResistance"}
		]},
		"milkDigestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"milkDigestResistance"}
		]},
		"digestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"digestPower"}
		]},
		"cumDigestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"cumDigestPower"}
		]},
		"femcumDigestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"femcumDigestPower"}
		]},
		"milkDigestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"milkDigestPower"}
		]},

	}

}
