{
	"predHudMaxOccupants" : 8,
	"preyDialogueWidth":100,
	"settingsOrder" :[
		"infuseSlots",
		"bodyParts",
		"displayEffect",
		"escapeDifficulty",
		"acidDigestPower",
		"cumDigestPower",
		"femcumDigestPower",
		"milkDigestPower",
		"recentlyDigested"
	],
	"locationSettingsOrder" : [
		"mainEffect",
		"secondaryEffects",
		"compression",
		"digestedEffects",
		"infused",
		"gurgleSounds",
		"struggleSounds",
		"fillControl"
	],
	"mainEffectOrder" : [
		"none",
		"heal",
		"softDigest",
		"digest"
	],
	"secondaryEffectOrder" : [
		"reformDigested",
		"energyDrain",
		"eggify",
		"transform",
		"transformDigested",
		"cockInfuse",
		"cockInfuseDigested",
		"pussyInfuse",
		"pussyInfuseDigested",
		// "thighsInfuse",
		// "thighsInfuseDigested",
		"bellyInfuse",
		"bellyInfuseDigested",
		"breastInfuse",
		"breastInfuseDigested",
		"tailInfuse",
		"tailInfuseDigested"
		// "pawInfuse",
		// "pawInfuseDigested"
	],
	"locationOrder" : [
		"belly",
		"ass",
		"tail",
		"breasts",
		"pussy",
		"womb",
		"cock",
		"balls"
	],
	"voreTypeOrder" : [
		"oralVore",
		"tailVore",
		"absorbVore",
		"navelVore",
		"analVore",
		"unbirthVore",
		"breastVore",
		"cockVore"
	],
	"infuseTypeOrder" : [
		// "thighsInfuse",
		"bellyInfuse",
		"breastInfuse",
		"pussyInfuse",
		"cockInfuse",
		"tailInfuse"
		// "pawInfuse",

	],
	"seekActionOrder" : [

	],

	"defaultSettingTypeWidgets" : {
		"table" : { "type": "sbqTextBox", "script":"changeTableSetting" },
		"number" : { "type": "sbqTextBox", "script":"changeSetting" },
		"string" : { "type": "sbqTextBox", "script":"changeSetting" },
		"boolean" : { "type": "sbqCheckBox", "script":"changeSetting" },
		"nil" : { "type": "label", "text" : "^red;No Default", "makeLabel" : true, "inline":true },
		"invalidType" : { "type": "label", "text" : "^red;Invalid Type", "makeLabel" : true }
	},

	"settingWidgets" : {
		"escapeDifficulty": {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":<setting>", "id":"<setting>Label"},
			{ "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "handles":[
				{"setting":"<setting>"}
			]}
		]},
		"acidDigestResistance" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":acidDigestResistance", "id":"acidDigestResistanceLabel"},
			[
				{"mode":"h", "spacing": 0},
				{"type" :"sbqSetting", "setting":"acidDigestFatalImmune"},
				{"type" :"sbqSetting", "setting":"acidDigestDropsAllow"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
					{"setting":"acidDigestResistance"}
				]}
			]
		]},
		"cumDigestResistance" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":cumDigestResistance", "id":"cumDigestResistanceLabel"},
			[
				{"mode":"h", "spacing": 0},
				{"type" :"sbqSetting", "setting":"cumDigestFatalImmune"},
				{"type" :"sbqSetting", "setting":"cumDigestDropsAllow"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
					{"setting":"cumDigestResistance"}
				]}
			]
		]},
		"milkDigestResistance" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":milkDigestResistance", "id":"milkDigestResistanceLabel"},
			[
				{"mode":"h", "spacing": 0},
				{"type" :"sbqSetting", "setting":"milkDigestFatalImmune"},
				{"type" :"sbqSetting", "setting":"milkDigestDropsAllow"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
					{"setting":"milkDigestResistance"}
				]}
			]
		]},
		"femcumDigestResistance" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":femcumDigestResistance", "id":"femcumDigestResistanceLabel"},
			[
				{"mode":"h", "spacing": 0},
				{"type" :"sbqSetting", "setting":"femcumDigestFatalImmune"},
				{"type" :"sbqSetting", "setting":"femcumDigestDropsAllow"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
					{"setting":"femcumDigestResistance"}
				]}
			]
		]},
		"acidDigestPower" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":<setting>", "id":"<setting>Label"},
			[
				{"type" :"sbqSetting", "setting":"acidDigestDrops"},
				{ "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
					{"setting":"<setting>"}
				]}
			]
		]},
		"cumDigestPower" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":<setting>", "id":"<setting>Label"},
			[
				{"type" :"sbqSetting", "setting":"cumDigestDrops"},
				{ "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
					{"setting":"<setting>"}
				]}
			]
		]},
		"femcumDigestPower" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":<setting>", "id":"<setting>Label"},
			[
				{"type" :"sbqSetting", "setting":"femcumDigestDrops"},
				{ "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
					{"setting":"<setting>"}
				]}
			]
		]},
		"milkDigestPower" : {"expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" :[
			{"mode":"v", "spacing": 0},
			{"type":"label", "text":":<setting>", "id":"<setting>Label"},
			[
				{"type" :"sbqSetting", "setting":"milkDigestDrops"},
				{ "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
					{"setting":"<setting>"}
				]}
			]
		]},
		"mainEffect" : "makeMainEffectButtons",
		"secondaryEffects" : "makeSecondaryEffectButtons",
		"digestedEffects" : "makeSecondaryEffectButtons",
		"infusedEffects" : "makeSecondaryEffectButtons",
		"compression" : { "expandMode":[1,0], "type" : "panel", "id":"<setting><groupName><groupKey>Panel", "makeLabel":false , "children" : [
			{"mode":"v", "expandMode":[1,0]},
			{"type":"label","text":":compression"},
			[
				{"type":"sbqCheckBox", "radioGroup":"compression", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"compression","value":"none","icon":"/interface/scripted/sbq/noEffect.png","toolTip":":compressionNoneTip", "script":"changeSetting"},
				{"type":"sbqCheckBox", "radioGroup":"compression", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"compression","value":"time","icon":"/interface/scripted/sbq/timeCompression.png","toolTip":":compressionTimeTip", "script":"changeSetting"},
				{"type":"sbqCheckBox", "radioGroup":"compression", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"compression","value":"health","icon":"/interface/scripted/sbq/healthCompression.png","toolTip":":compressionHealthTip", "script":"changeSetting"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
					{"groupName":"<groupName>","groupKey":"<groupKey>", "setting":"compressionMin", "toolTip":":compressionMinTip"}
				]}
			]
		]},
		"infused" : { "expandMode":[1,0], "type" : "panel", "id":"<setting><groupName><groupKey>Panel", "makeLabel":false , "children" : [
			{"mode":"v", "expandMode":[1,0]},
			{"type":"label","text":":infused"},
			[
				// {"type":"sbqCheckBox", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"infusedShrink","toolTip":":infusedShrinkTip", "script":"changeSetting"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
					{"groupName":"<groupName>","groupKey":"<groupKey>", "setting":"infusedSize", "toolTip":":infusedSizeTip"}
				]},
				{"type":"label","text":":infusedSize", "id":"infusedSizeLabel", "width":30}
			],
			[
				// {"type":"sbqCheckBox", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"infusedFading","toolTip":":infusedFading", "script":"changeSetting"},
				{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
					{"groupName":"<groupName>","groupKey":"<groupKey>", "setting":"infusedFade", "toolTip":":infusedFadeTip"}
				]},
				{"type":"label","text":":infusedFade", "id":"infusedFadeLabel", "width":30}
			]
		]},
		"willingness" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent":true, "handles":[
			{"setting":"willingness", "toolTip":":willingnessTip"}
		]},
		"favored" : { "type" : "sbqSlider", "script":"changeSetting", "snapOnly":true, "min": 0, "max":10, "integer" : true, "textToolTips" : [":never"], "handles":[
			{"setting":"favored", "toolTip":":favoredTip"}
		]},
		"healthThreshold" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>MinTip", "setting":"<setting>Min", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0},
			{"toolTip":":<setting>MaxTip","setting":"<setting>Max", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0}
		]},
		"lustThreshold" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>MinTip", "setting":"<setting>Min", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0},
			{"toolTip":":<setting>MaxTip","setting":"<setting>Max", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0}
		]},
		"hungerThreshold" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>MinTip", "setting":"<setting>Min", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0},
			{"toolTip":":<setting>MaxTip","setting":"<setting>Max", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0}
		]},
		"restThreshold" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>MinTip", "setting":"<setting>Min", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0},
			{"toolTip":":<setting>MaxTip","setting":"<setting>Max", "groupName":"<groupName>","groupKey":"<groupKey>", "value" : 0}
		]},
		"huntingSpreeChance" : { "labelWidth" : 70, "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>Tip", "setting":"<setting>", "value" : 0}
		]},
		"lockDownChance" : { "labelWidth" : 70, "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>Tip", "setting":"<setting>", "value" : 0}
		]},
		"getConsentChance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "percent": true, "handles":[
			{"toolTip":":<setting>Tip", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"<setting>", "value" : 0}
		]},
		"leanSubDom" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.5,1], "textToolTips":[":sub",":switch",":dom"], "percent": true, "handles":[
			{"toolTip":":<setting>Tip", "setting":"<setting>", "value" : 0}
		]},
		"headStrip" : { "labelWidth" : 30, "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,0.99,1], "textToolTips" : [null,null,null,null,null,":theHatStaysOn"], "percent": true, "handles":[
			{"toolTip":":clothingStripTip", "setting":"<setting>", "value" : 0}
		]},
		"legsStrip" : { "labelWidth" : 30, "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,0.99,1], "textToolTips" : [null,null,null,null,null,":never"], "percent": true, "handles":[
			{"toolTip":":clothingStripTip", "setting":"<setting>", "value" : 0}
		]},
		"chestStrip" : { "labelWidth" : 30, "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,0.99,1], "textToolTips" : [null,null,null,null,null,":never"], "percent": true, "handles":[
			{"toolTip":":clothingStripTip", "setting":"<setting>", "value" : 0}
		]},
		"backStrip" : { "labelWidth" : 30, "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,0.99,1], "textToolTips" : [null,null,null,null,null,":never"], "percent": true, "handles":[
			{"toolTip":":clothingStripTip", "setting":"<setting>", "value" : 0}
		]},

		"fillControl" : { "expandMode":[1,0], "type" : "panel", "id":"<setting><groupName><groupKey>Panel", "makeLabel":false , "children" : [
			{"mode":"v"},
			[
				[
					{"type":"label","text":":minFill", "align":"center"},
					[
						{"type":"sbqSetting", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"visualMinAdd", "script":"changeSetting"},
						{"type":"sbqSetting", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"visualMin", "script":"changeSetting"}
					]
				],
				[
					{"type":"label","text":":maxFill", "align":"center"},
					{"type":"sbqSetting", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"visualMax", "script":"changeSetting"}
				],
				[
					{"type":"label","text":":multiply", "align":"center"},
					{"type":"sbqSetting", "groupName":"<groupName>","groupKey":"<groupKey>", "min" : 0, "setting":"multiplyFill", "script":"changeSetting"}
				]
			],
			{"type":"sbqSetting", "groupName":"<groupName>","groupKey":"<groupKey>", "setting":"hammerspace", "script":"changeSetting", "makeLabel":true}
		]},
		"visualMin" : "visualMinMax",
		"visualMax" : "visualMinMax",


		"infuseSlots" : "makeInfuseSlots",
		"accessorySlots" : "makeInfuseSlots",
		"bodyParts" : { "expandMode":[1,0], "type" : "panel", "id":"<setting>Panel", "makeLabel":false , "children" : [
			{"mode":"v", "spacing": 0},
			{"type" :"label", "text":":bodyParts"},
			[
				{ "expandMode":[1,0], "type" : "panel", "style":"flat", "id":"cockSettingsPanel", "makeLabel":false , "children" : [
					{"mode":"v", "spacing": 0},
					{"type" :"label", "text":":cock", "align" : "center"},
					[
						{"mode":"h", "expandMode":[0,0]},
						{"type" :"sbqSetting", "setting":"cockMatchGender"},
						{"type" :"sbqSetting", "setting":"cock"},
						{"type" :"sbqSetting", "setting":"cockSelectOverride"},
						{"type" :"sbqSetting", "setting":"cockSelect"}
					],
					[
						{"mode":"h", "expandMode":[0,0]},
						{"type" :"sbqSetting", "setting":"ballsMatchGender"},
						{"type" :"sbqSetting", "setting":"balls"},
						{"type" :"sbqSetting", "setting":"ballsInternal"},
						{"type" :"sbqSetting", "setting":"ballsSymmetric"}
					],
					{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.01,0.25,0.5,0.75,1], "textToolTips":[":never"], "percent": true, "handles":[
						{"toolTip":":cockLeakinessTip", "setting":"cockLeakiness", "value" : 0}
					]}
				]},
				{ "expandMode":[1,0], "type" : "panel", "style":"flat", "id":"breastsSettingsPanel", "makeLabel":false , "children" : [
					{"mode":"v", "spacing": 0},
					{"type" :"label", "text":":breasts", "align" : "center"},
					[
						{"mode":"h", "expandMode":[0,0]},
						{"type" :"sbqSetting", "setting":"breastsMatchGender"},
						{"type" :"sbqSetting", "setting":"breasts"},
						{"type" :"sbqSetting", "setting":"nipplesVisible"},
						{"type" :"sbqSetting", "setting":"breastsSymmetric"}
					],
					{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.01,0.25,0.5,0.75,1], "textToolTips":[":never"], "percent": true, "handles":[
						{"toolTip":":breastsLeakinessTip", "setting":"breastsLeakiness", "value" : 0}
					]}
				]}
			],
			[
				{ "expandMode":[1,0], "type" : "panel", "style":"flat", "id":"pussySettingsPanel", "makeLabel":false , "children" : [
					{"mode":"v", "spacing": 0},
					{"type" :"label", "text":":pussy", "align" : "center"},
					[
						{"mode":"h", "expandMode":[0,0]},
						{"type" :"sbqSetting", "setting":"pussyMatchGender"},
						{"type" :"sbqSetting", "setting":"pussy"}
					],
					{ "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.01,0.25,0.5,0.75,1], "textToolTips":[":never"], "percent": true, "handles":[
						{"toolTip":":pussyLeakinessTip", "setting":"pussyLeakiness", "value" : 0}
					]}
				]},
				[
					{ "expandMode":[1,0], "type" : "panel", "style":"flat", "id":"bellySettingsPanel", "makeLabel":false , "children" : [
						{"mode":"v", "spacing": 0},
						{"type" :"label", "text":":belly", "align" : "center"},
						[
							{"mode":"h", "expandMode":[0,0]},
							{"type" :"sbqSetting", "setting":"navelVisible"}
						]
					]},
					{ "expandMode":[1,0], "type" : "panel", "style":"flat", "id":"tailSettingsPanel", "makeLabel":false , "children" : [
						{"mode":"v", "spacing": 0},
						{"type" :"label", "text":":tail", "align" : "center"},
						[
							{"mode":"h", "expandMode":[0,0]},
							{"type" :"sbqSetting", "setting":"tailSelectOverride"},
							{"type" :"sbqSetting", "setting":"tailSelect"}
						]
					]}
				]
			]
		]},
		"recentlyDigested" : "makeRecentlyDigested",
		"dropDownSelect" : { "type" : "sbqIconButton", "image" : "/interface/scripted/sbq/customize.png", "script" : "dropDownSetting" },
		"cockSelect" : "dropDownSelect",
		"tailSelect" : "dropDownSelect",
		"cockInfuseSelect" : "dropDownSelect",
		"tailInfuseSelect" : "dropDownSelect",

		"prefTemplate" : {"type":"layout", "id":"<groupKey><setting>PrefLayout", "mode":"horizontal","children":[
			[
				{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},
				{"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"<setting>", "toolTip":":<setting>EnabledTip"},
				{"type":"sbqSetting", "groupName":"<domOrSub>Behavior", "groupKey":"<groupKey>", "setting":"consentRequired", "toolTip":":<setting>ConsentRequiredTip"}
			],
			{"type":"label", "text":":<groupKey>"}
		]},
		"predPref" : {"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"pred", "configTags" : {"domOrSub" : "dom" }, "nextSettingKey":"prefTemplate" },
		"preyPref" : {"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"prey", "configTags" : {"domOrSub" : "sub" }, "nextSettingKey":"prefTemplate" },

		"oralVorePredPrefs":"predPref",
		"tailVorePredPrefs":"predPref",
		"absorbVorePredPrefs":"predPref",
		"navelVorePredPrefs":"predPref",
		"analVorePredPrefs":"predPref",
		"unbirthVorePredPrefs":"predPref",
		"breastVorePredPrefs":"predPref",
		"cockVorePredPrefs":"predPref",

		"thighsInfusePredPrefs":"predPref",
		"bellyInfusePredPrefs":"predPref",
		"breastInfusePredPrefs":"predPref",
		"pussyInfusePredPrefs":"predPref",
		"cockInfusePredPrefs":"predPref",
		"pawInfusePredPrefs":"predPref",
		"tailInfusePredPrefs":"predPref",

		"oralVorePreyPrefs":"preyPref",
		"tailVorePreyPrefs":"preyPref",
		"absorbVorePreyPrefs":"preyPref",
		"navelVorePreyPrefs":"preyPref",
		"analVorePreyPrefs":"preyPref",
		"unbirthVorePreyPrefs":"preyPref",
		"breastVorePreyPrefs":"preyPref",
		"cockVorePreyPrefs":"preyPref",

		"thighsInfusePreyPrefs":"preyPref",
		"bellyInfusePreyPrefs":"preyPref",
		"breastInfusePreyPrefs":"preyPref",
		"pussyInfusePreyPrefs":"preyPref",
		"pawInfusePreyPrefs":"preyPref",

		"tailInfusePreyPrefs":{"type":"layout", "id":"<groupKey>preyPrefLayout", "mode":"horizontal","children":[
			[
				{"spacing":0, "mode":"horizontal", "expandMode":[0,0]},
				{"type":"sbqSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting":"prey", "toolTip":":preyEnabledTip"},
				{"type":"sbqSetting", "groupName":"subBehavior", "groupKey":"<groupKey>", "setting":"consentRequired", "toolTip":":preyConsentRequiredTip"}
			],
			{"type":"label", "text":":<groupKey>", "inline":true},
			{"type":"sbqSetting", "setting":"<groupKey>Select" }
		]},
		"cockInfusePreyPrefs":"tailInfusePreyPrefs"


	},
	"settingVisibility" : {
		"cockInfuse":{"infusePrefs":{"cockInfuse":{"pred":true}}},
		"cockInfuseDigested":{"infusePrefs":{"cockInfuse":{"pred":true}}},
		"pussyInfuse":{"infusePrefs":{"pussyInfuse":{"pred":true}}},
		"pussyInfuseDigested":{"infusePrefs":{"pussyInfuse":{"pred":true}}},
		"breastInfuse":{"infusePrefs":{"breastInfuse":{"pred":true}}},
		"breastInfuseDigested":{"infusePrefs":{"breastInfuse":{"pred":true}}},
		"thighsInfuse":{"infusePrefs":{"thighsInfuse":{"pred":true}}},
		"thighsInfuseDigested":{"infusePrefs":{"thighsInfuse":{"pred":true}}},
		"tailInfuse":{"infusePrefs":{"tailInfuse":{"pred":true}}},
		"tailInfuseDigested":{"infusePrefs":{"tailInfuse":{"pred":true}}},
		"bellyInfuse":{"infusePrefs":{"bellyInfuse":{"pred":true}}},
		"bellyInfuseDigested":{"infusePrefs":{"bellyInfuse":{"pred":true}}},
		"pawInfuse":{"infusePrefs":{"pawInfuse":{"pred":true}}},
		"pawInfuseDigested":{"infusePrefs":{"pawInfuse":{"pred":true}}},

		"acidDigestPower" : [
			{"vorePrefs":{"oralVore":{"pred":true}}},
			{"vorePrefs":{"analVore":{"pred":true}}},
			{"vorePrefs":{"tailVore":{"pred":true}}},
			{"vorePrefs":{"navelVore":{"pred":true}}},
			{"vorePrefs":{"absorbVore":{"pred":true}}}
		],
		"cumDigestPower" : {"vorePrefs":{"cockVore":{"pred":true}}},
		"femcumDigestPower" : {"vorePrefs":{"unbirthVore":{"pred":true}}},
		"milkDigestPower" : {"vorePrefs":{"breastVore":{"pred":true}}},

		"acidDigestResistance" : [
			{"vorePrefs":{"oralVore":{"prey":true}}},
			{"vorePrefs":{"analVore":{"prey":true}}},
			{"vorePrefs":{"tailVore":{"prey":true}}},
			{"vorePrefs":{"navelVore":{"prey":true}}},
			{"vorePrefs":{"absorbVore":{"prey":true}}}
		],
		"cumDigestResistance" : {"vorePrefs":{"cockVore":{"prey":true}}},
		"femcumDigestResistance" : {"vorePrefs":{"unbirthVore":{"prey":true}}},
		"milkDigestResistance" : {"vorePrefs":{"breastVore":{"prey":true}}},
		"digestedEffects" : [
			{"<groupName>":{"<groupKey>":{"mainEffect":"softDigest"}}},
			{"<groupName>":{"<groupKey>":{"mainEffect":"digest"}}}
		],
		"fillControl" : "fillControlVisible",
		"infusedSize" : "fillControlVisible",
		"compression" : "fillControlVisible",
		"infused" : "infusedVisible",
		"infuseSlots" : [
			{"infusePrefs":{"cockInfuse":{"pred":true}}},
			{"infusePrefs":{"pussyInfuse":{"pred":true}}},
			{"infusePrefs":{"breastInfuse":{"pred":true}}},
			{"infusePrefs":{"thighsInfuse":{"pred":true}}},
			{"infusePrefs":{"tailInfuse":{"pred":true}}},
			{"infusePrefs":{"bellyInfuse":{"pred":true}}},
			{"infusePrefs":{"pawInfuse":{"pred":true}}}
		]
	},
	"groupSettingVisibility" : {
		"infuseSlots" : {
			"item" : {"infusePrefs":{"<groupKey>":{"pred":true}}}
		}
	},

	"allTF" : [
		["speciesTF", true],
		["indefiniteTF", true],
		["permanentTF", true],
		["genderTF", true],
		["accidentalTF", true],
		["potionTF", true],
		["magicTF", true],
		["scienceTF", true],
		["voreTF", true],
		["unbirthTF", true]
	],

	"dropDownArgs" : {
		"tailSelect" : [3],
		"cockSelect" : [3],
		"tailInfuseSelect" : [3],
		"cockInfuseSelect" : [3],
		"transgender" : [1]
	},
	"dropDownOptions" : {
		"nickit_tail" : [{"type":"image", "file":"/humanoid/sbq/nickit_anthro/tail.png:default<selectedDirectives>", "size":[30,30]}, ":tailVoreCompatible"],
		"flareon_tail" : [{"type":"image", "file":"/humanoid/sbq/flareon/tail.png:default<selectedDirectives>", "size":[30,30]}],
		"vaporeon_tail" : [{"type":"image", "file":"/humanoid/sbq/vaporeon/tail.png:default<selectedDirectives>", "size":[30,30]}],
		"hellhound_tail" : [{"type":"image", "file":"/humanoid/sbq/FFWizard/hellhound/tail.png:default<selectedDirectives>", "size":[30,30]}],

		"generic_cock" : [{"type":"image", "file":"/humanoid/any/sbqVoreParts/cock.png:default<selectedDirectives>", "size":[30,30]}]

	},

	"secondaryEffectButton" :{
		"transform" :{ "type" : "layout", "mode" : "horizontal", "spacing" : 0, "children" : [
			{ "type" : "sbqCheckBox", "script" : "changeSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting" : "transform", "icon" : "<icon>", "toolTip" : "<toolTip>" },
			{ "type" : "sbqIconButton", "image" : "/interface/scripted/sbq/transgender.png", "script" : "dropDownSetting", "groupName":"<groupName>", "groupKey":"<groupKey>", "setting" : "transgender", "toolTip":":transgenderTip" }
		]}
	}
}
