{
	"settingsOrder" :[
		"cock",
		"balls",
		"ballsInternal",
		"ballsSymmetric",

		"pussy",
		"breasts",
		"breastsSymmetic",
		"visibleNipples",

		"visibleNavel",

		"digestPower",
		"cumDigestPower",
		"femcumDigestPower",
		"milkDigestPower",

	],
	"locationSettingsOrder" : [
		"mainEffect",
		"energyDrain",
		"hammerspace",
		"compression",
		"compressionMin",
		"gurgleSounds",
		"struggleSounds",
		"getDigestDrops",
		"infusedFade",
		"infusedSize",
		"infusedSizeAdd",
		"doInfusionFade",
		"visualSize",
		"visualSizeAdd",
	],
	"locationOrder" : [
		"belly",
		"ass",
		"tail",
		"breasts",
		"cleavage",
		"pussy",
		"womb",
		"cock",
		"balls"
	],
	"settingWidgets" : {
		"digestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"digestResistance"}
		]},
		"cumDigestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"cumDigestResistance"}
		]},
		"femcumDigestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"femcumDigestResistance"}
		]},
		"milkDigestResistance" : { "type" : "sbqSlider", "script":"changeSetting", "notches" : [0,0.25,0.5,0.75,1], "inverted": true, "percent": true, "handles":[
			{"setting":"milkDigestResistance"}
		]},
		"digestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"digestPower"}
		]},
		"cumDigestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"cumDigestPower"}
		]},
		"femcumDigestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"femcumDigestPower"}
		]},
		"milkDigestPower" : { "type" : "sbqSlider", "script":"changeSetting", "min": 0, "max":"maxDigestPower", "percent": true, "handles":[
			{"setting":"milkDigestPower"}
		]},
		"mainEffect" : { "type" : "sbqPanel", "style" : "flat", "children" : [
			{ "mode" : "horizontal" },
			{ "type" : "iconCheckBox", "value" : "none", "toolTip":":none", "radioGroup" : "mainEffect"},
			{ "type" : "iconCheckBox", "value" : "heal", "toolTip":":heal","radioGroup" : "mainEffect"},
			{ "type" : "iconCheckBox", "value" : "softDigest", "toolTip":":softDigest","radioGroup" : "mainEffect"},
			{ "type" : "iconCheckBox", "value" : "digest", "toolTip":":digest","radioGroup" : "mainEffect"}
		]}
	},
	"settingVisibility" : {
		"digestPower" : [
			{"oralVorePred":true},
			{"analVorePred":true},
			{"tailVorePred":true},
			{"navelVorePred":true},
			{"absorbVorePred":true}
		],
		"cumDigestPower" : {"cockVorePred":true},
		"femcumDigestPower" : {"unbirthVorePred":true},
		"milkDigestPower" : {"breastVorePred":true},

		"digestResistance" : [
			{"oralVorePrey":true},
			{"analVorePrey":true},
			{"tailVorePrey":true},
			{"navelVorePrey":true},
			{"absorbVorePrey":true}
		],
		"cumDigestResistance" : {"cockVorePrey":true},
		"femcumDigestResistance" : {"unbirthVorePrey":true},
		"milkDigestResistance" : {"breastVorePrey":true},

		"oralVorePredConsent":{"oralVorePred":true},
		"tailVorePredConsent":{"tailVorePred":true},
		"analVorePredConsent":{"analVorePred":true},
		"unbirthVorePredConsent":{"unbirthVorePred":true},
		"cockVorePredConsent":{"cockVorePred":true},
		"absorbVorePredConsent":{"absorbVorePred":true},
		"breastVorePredConsent":{"breastVorePred":true},
		"navelVorePredConsent":{"navelVorePred":true},

		"thighsInfusePredConsent":{"thighsInfusePred":true},
		"bellyInfusePredConsent":{"bellyInfusePred":true},
		"cockInfusePredConsent":{"cockInfusePred":true},
		"breastInfusePredConsent":{"breastInfusePred":true},
		"pussyInfusePredConsent":{"pussyInfusePred":true},
		"pawInfusePredConsent":{"pawInfusePred":true},
		"tailInfusePredConsent":{"tailInfusePred":true},

		"oralVorePreyConsent":{"oralVorePrey":true},
		"tailVorePreyConsent":{"tailVorePrey":true},
		"analVorePreyConsent":{"analVorePrey":true},
		"unbirthVorePreyConsent":{"unbirthVorePrey":true},
		"cockVorePreyConsent":{"cockVorePrey":true},
		"absorbVorePreyConsent":{"absorbVorePrey":true},
		"breastVorePreyConsent":{"breastVorePrey":true},
		"navelVorePreyConsent":{"navelVorePrey":true},

		"thighsInfusePreyConsent":{"thighsInfusePrey":true},
		"bellyInfusePreyConsent":{"bellyInfusePrey":true},
		"cockInfusePreyConsent":{"cockInfusePrey":true},
		"breastInfusePreyConsent":{"breastInfusePrey":true},
		"pussyInfusePreyConsent":{"pussyInfusePrey":true},
		"pawInfusePreyConsent":{"pawInfusePrey":true},
		"tailInfusePreyConsent":{"tailInfusePrey":true}

	},
	"locationSettingVisibility" : {
	},

	"allPred" : [
		["oralVorePred", true],
		["tailVorePred", true],
		["analVorePred", true],
		["unbirthVorePred", true],
		["cockVorePred", true],
		["absorbVorePred", true],
		["breastVorePred", true],
		["navelVorePred", true],
		["thighsInfusePred", true],
		["bellyInfusePred", true],
		["cockInfusePred", true],
		["breastInfusePred", true],
		["pussyInfusePred", true],
		["pawInfusePred", true],
		["tailInfusePred", true]
	],
	"allPrey" : [
		["oralVorePrey", true],
		["tailVorePrey", true],
		["analVorePrey", true],
		["unbirthVorePrey", true],
		["cockVorePrey", true],
		["absorbVorePrey", true],
		["breastVorePrey", true],
		["navelVorePrey", true],
		["thighsInfusePrey", true],
		["bellyInfusePrey", true],
		["cockInfusePrey", true],
		["breastInfusePrey", true],
		["pussyInfusePrey", true],
		["pawInfusePrey", true],
		["tailInfusePrey", true],

		["digestResistance", 1, 0],
		["femcumDigestResistance", 1, 0],
		["milkDigestResistance", 1, 0],
		["cumDigestResistance", 1, 0]
	],
	"allTF" : [
		["speciesTF", true],
		["indefiniteTF", true],
		["permanentTF", true],
		["genderTF", true],
		["accidentalTF", true],
		["potionTF", true],
		["magicTF", true],
		["scienceTF", true],
		["voreTF", true],
		["unbirthTF", true]
	]

}
