{
	"npcCard" : { // from NpcSpawnerPlus just so we can use the same card system but not need it installed
		"item": "secretnote",
		"count": 1,
		"parameters": {
			"rarity": "Common",
			"description": ".",
			"shortdescription": "NpcName",
			"tooltipKind": "filledcapturepod",
			"tooltipFields": {
				"subtitle": "npcType",
				"collarNameLabel": "Created By:  PlayerName",
				"collarIconImage": "/objects/human/bunkerpanel2/bunkerpanel2icon.png",
				"noCollarLabel": "",
				"objectImage": "fullPortrait"
			}
		}
	}
}
