{
	// locationNames
	"belly" : "Belly",
	"womb" : "Womb",
	"pussy": "Pussy",
	"cock" : "Cock",
	"balls" : "Balls",
	"balls_left" : "Left Ball",
	"balls_right" : "Right Ball",
	"breasts" : "Breasts",
	"breasts_left" : "Left Breast",
	"breasts_right" : "Right Breast",

	// startup gui strings
	"modDescription" : "Starbecue is an 18+ kink and fetish mod focused around Vore and Transformation.",
	"terms":"I acknowledge the content of this mod is 18+ and I will not provide links or showcase it's content in any way without the proper age restrictions, such as uploading videos to YouTube or streaming on Twitch or any similar platforms.",
	"agree":"I agree to these terms.",
	"allFetishes" : "Give me ALL the fetishes!",
	"noFetishes" : "I'd rather not.",
	"allPred" : "All Pred",
	"noPred" : "No Pred",
	"allPrey" : "All Prey",
	"noPrey" : "No Prey",
	"allTF" : "All TF",
	"noTF" : "No TF",

	// general gui strings
	"settingsTitle" : "Starbecue Settings",
	"preditor" : "Preditor", // it's a pun, Predator Editor -> Preditor just un-pun ifiy it if it doesn't translate well
	"pred" : "Pred",
	"prey" : "Prey",
	"prefs" : "Prefs",
	"predatorPrefs" : "Predator Prefs",
	"preyPrefs" : "Prey Prefs",
	"preferences" : "Preferences",
	"infusion" : "Body Infusion",
	"transformationPrefs" : "Transformation Prefs",
	"otherPrefs" : "Other Prefs",
	"settings" : "Settings",
	"value" : "Value",

	// deed gui strings
	"summonTenant" : "Summon",
	"summonTenantTip" : "Warning! Summoning new tenants will clear the saved data for the current tenants!\nYou must click three times to confirm evicting the existing tenants.",
	"insertCard" : "Add Tenant",
	"colonyTags" : "Colony Tags",
	"orderFurniture" : "Order Furniture",
	"tagsNeeds" : "Needs",
	"tags" : "Tags",
	"remove" : "Remove",
	"callTenants" : "Call Tenants",

	// vore names
	"oralVore" : "Oral Vore",
	"tailVore" : "Tail Vore",
	"navelVore" : "Navel Vore",
	"absorbVore" : "Absorb Vore",
	"analVore" : "Anal Vore",
	"unbirthVore" : "Unbirth",
	"breastVore" : "Breast Vore",
	"cockVore" : "Cock Vore",

	"voreEnabledTip" : "Check to partake in this vore type.",
	"voreConsentTip" : "Others must get consent to try this. (not implemented yet)",

	// infusion names
	"thighsInfuse" : "Sentient Fat",
	"bellyInfuse" : "Belly TF",
	"breastInfuse" : "Boob TF",
	"pussyInfuse" : "Pussy TF",
	"cockInfuse" : "Cock TF",
	"pawInfuse" : "Paw TF",

	// setting names
	"mainSettings" : "Main Settings",
	"resistances" : "Resistances",
	"unordered" : "Unordered (Admin Only)",

	"digestPower" : "Digest Power",
	"digestPowerTip" : "How fast your digestive fluids work on your prey.",
	"digestResistance" : "Digest Resistance",
	"digestResistanceTip" : "Resistance to digestion.",

	"cumDigestPower" : "Cum Power",
	"cumDigestPowerTip" : "How fast your cum works on your prey.",
	"cumDigestResistance" : "Cum Resistance",
	"cumDigestResistanceTip" : "Resistance to melting in cum.",

	"femcumDigestPower" : "Femcum Power",
	"femcumDigestPowerTip" : "How fast your femcum works on your prey.",
	"femcumDigestResistance" : "Femcum Resistance",
	"femcumDigestResistanceTip" : "Resistance to melting in femcum.",

	"milkDigestPower" : "Milk Power",
	"milkDigestPowerTip" : "How fast your milk works on your prey.",
	"milkDigestResistance" : "Milk Resistance",
	"milkDigestResistanceTip" : "Resistance to melting in milk.",

	"mainEffect":"Main Effect",
	"energyDrain":"Energy Drain",
	"hammerspace":"Hammerspace",
	"compression":"Compression",
	"compressionMin":"Compression Minimum",


	// transformation names
	"speciesTF" : "Species",
	"indefiniteTF" : "Indefinite",
	"permanentTF" : "Permanent",
	"genderTF" : "Gender",
	"accidentalTF" : "Accidents",

	"speciesTFTip" : "Your species can be changed",
	"indefiniteTFTip" : "Transformations will last indefinetly, only able to be cured with a Reversion Potion",
	"permanentTFTip" : "Being transformed will override your 'Original' species with the new one, making Reversion Potions useless",

	"genderTFTip" : "Your gender can be changed (Base sprite only, genitals are independent)",

	"potionTFTip" : "You can be transformed via potions",
	"magicTFTip" : "You can be transformed via magic",
	"scienceTFTip" : "You can be transformed via science",
	"voreTFTip" : "You can be transformed during vore",
	"unbirthTFTip" : "You can be transformed inside someone's womb",

	"accidentalTFTip" : "Various random chance events can transform you (respects other settings)",

	// body parts can TF
	"cockCanTFChange" : "TF effects can change if you have a cock or not.",
	"ballsCanTFChange" : "TF effects can change if you have balls or not.",
	"pussyCanTFChange" : "TF effects can change if you have a pussy or not.",
	"breastsCanTFChange" : "TF effects can change if you have breasts or not.",

	// action names
	"unassignedAction" : "SBQ Controller",
	"grab" : "Grab",
	"inhale" : "Inhale",
	"vore" : "Any Vore",

	"genericActionDesc" : "Click to use your ^yellow;<actionName>^reset; action.\n^green;Shift+W^reset; for full action wheel.",
	"unavailableActionDesc" : "^green;Shift+W^reset; to re-assign action.\n^yellow;<actionName>^reset; is unavailable.",
	"unassignedActionDesc" : "^green;Shift+W^reset; to assign an action.\nCurrent state has no default action assigned.",

	"voreActionDesc" : "Attempts any available ^yellow;Vore^reset; action on target.\n^green;Shift+W^reset; for full action wheel.",

	"controllerLetOut" : "Let Out",
	"controllerAssign" : "Assign\nAction"

}
