{
	// locationNames
	"belly" : "Belly",
	"womb" : "Womb",
	"pussy": "Pussy",
	"cock" : "Cock",
	"balls" : "Balls",
	"balls_left" : "Left Ball",
	"balls_right" : "Right Ball",
	"breasts" : "Breasts",
	"breasts_left" : "Left Breast",
	"breasts_right" : "Right Breast",

	// startup gui strings
	"modDescription" : "Starbecue is an 18+ kink and fetish mod focused around Vore and Transformation.",
	"terms":"I acknowledge the content of this mod is 18+ and I will not provide links or showcase its content in any way without proper age restrictions, such as uploading videos to YouTube or streaming on Twitch or any similar platforms.",
	"agree":"I agree to these terms.",
	"allFetishes" : "Give me ALL the fetishes!",
	"noFetishes" : "I'd rather not.",
	"allPred" : "All Pred",
	"noPred" : "No Pred",
	"allPrey" : "All Prey",
	"noPrey" : "No Prey",
	"allTF" : "All TF",
	"noTF" : "No TF",

	// general gui strings
	"settingsTitle" : "Starbecue Settings",
	"preditor" : "Preditor", // it's a pun, Predator Editor -> Preditor just un-pun ifiy it if it doesn't translate well
	"pred" : "Pred",
	"prey" : "Prey",
	"prefs" : "Prefs",
	"vorePredPrefs" : "Predator Prefs",
	"vorePreyPrefs" : "Prey Prefs",
	"preferences" : "Preferences",
	"infusion" : "Body Infusion",
	"infusePredPrefs" : "Infuse Pred",
	"infusePreyPrefs" : "Infuse Prey",
	"transformationPrefs" : "Transformation Prefs",
	"otherPrefs" : "Other Prefs",
	"settings" : "Settings",
	"sizePrefs" : "Size Prefs",
	"value" : "Value",
	"importSettings":"Import Settings",
	"exportAllSettings":"Export Full\nSettings",
	"exportPrefsOnly":"Export\nPreferences",
	"exportLocationsOnly":"Export\nLocations",
	"prefsSettingsCard":"SBQ Preferences Card",
	"allSettingsCard":"SBQ Full Settings Card",
	"locationsSettingsCard":"SBQ Locations Settings Card",

	// deed gui strings
	"summonTenant" : "Summon",
	"summonTenantTip" : "Warning! Summoning new tenants will clear the saved data for the current tenants!\nYou must click three times to confirm evicting the existing tenants.",
	"insertCard" : "Add Tenant",
	"colonyTags" : "Colony Tags",
	"orderFurniture" : "Order Furniture",
	"tagsNeeds" : "Needs",
	"tags" : "Tags",
	"remove" : "Remove",
	"callTenants" : "Call Tenants",
	"price" : "Price",
	"createdOnDate" : "Created on %x",

	// vore names
	"oralVore" : "Oral Vore",
	"tailVore" : "Tail Vore",
	"navelVore" : "Navel Vore",
	"absorbVore" : "Absorb Vore",
	"analVore" : "Anal Vore",
	"unbirthVore" : "Unbirth",
	"breastVore" : "Breast Vore",
	"cockVore" : "Cock Vore",

	"voreEnabledTip" : "Check to partake in this vore type.",
	"voreConsentTip" : "Others must get consent to try this. (not implemented yet)",

	// infusion names
	"thighsInfuse" : "Sentient Fat",
	"bellyInfuse" : "Belly TF",
	"breastInfuse" : "Boob TF",
	"pussyInfuse" : "Pussy TF",
	"cockInfuse" : "Cock TF",
	"pawInfuse" : "Paw TF",
	"tailInfuse" : "Tail TF",

	// effect descriptions
	"none" : "None",
	"heal" : "Heal",
	"softDigest" : "Soft Digest",
	"digest" : "Digest",
	"healDesc" : "Heals prey based on digest power, uses energy.",
	"digestDesc" : "Melts prey down based on digest power to fill hunger and health.",
	"softDigestDesc" : "Melts prey down based on digest power to fill hunger and health.\nLeaves prey at 1 HP.",
	"cumDigestDesc" : "Melts prey down based on cum power to fill lust.\nMight produce a condom when prey melts fully.",
	"cumSoftDigestDesc" : "Melts prey down based on cum power to fill lust.\nLeaves prey at 1 HP.\nMight produce a condom when prey melts \"fully\".",
	"femcumDigestDesc" : "Melts prey down based on femcum power to fill lust.\nMight produce a condom when prey melts fully.",
	"femcumSoftDigestDesc" : "Melts prey down based on femcum power to fill lust.\nLeaves prey at 1 HP.\nMight produce a condom when prey melts \"fully\".",
	"milkDigestDesc" : "Melts prey down based on milk power to fill lust.\nMight produce milk when prey churns fully.",
	"milkSoftDigestDesc" : "Melts prey down based on milk power to fill lust.\nLeaves prey at 1 HP.\nMight produce milk when prey churns \"fully\".",
	"unbirthHealDesc" : "Heals prey at a faster rate, but causes hunger.",
	"energyDrainDesc" : "Drains prey's energy to restore your own.",

	// setting names
	"mainSettings" : "Main Settings",
	"resistances" : "Resistances",
	"unordered" : "Unordered (Admin Only)",

	"digestPower" : "Digest Power",
	"digestPowerTip" : "How fast your digestive fluids work on your prey.",
	"digestResistance" : "Digest Resistance",
	"digestResistanceTip" : "Resistance to digestion.",

	"cumDigestPower" : "Cum Power",
	"cumDigestPowerTip" : "How fast your cum works on your prey.",
	"cumDigestResistance" : "Cum Resistance",
	"cumDigestResistanceTip" : "Resistance to melting in cum.",

	"femcumDigestPower" : "Femcum Power",
	"femcumDigestPowerTip" : "How fast your femcum works on your prey.",
	"femcumDigestResistance" : "Femcum Resistance",
	"femcumDigestResistanceTip" : "Resistance to melting in femcum.",

	"milkDigestPower" : "Milk Power",
	"milkDigestPowerTip" : "How fast your milk works on your prey.",
	"milkDigestResistance" : "Milk Resistance",
	"milkDigestResistanceTip" : "Resistance to melting in milk.",

	"mainEffect":"Main Effect",
	"energyDrain":"Energy Drain",
	"hammerspace":"Hammerspace",
	"compression":"Compression",
	"compressionMin":"Compression Limit",

	"infusePreferDirect" : "Prefer Direct Infusion",
	"infusePreferDirectTip" : "Prefers directly infusing without any related vore actions occuring first.",

	"targetFriendlyTip":"Friendly characters",
	"targetHostileTip":"Hostile characters",
	"targetPlayersTip":"Player characters",
	"targetOCsTip":"Original characters",
	"targetOthersTip":"Other compatible characters",

	"willingness" : "Willingness",
	"favored" : "Favored",
	"willingnessTip" : "How likely this character will be 'willing' for this action.",
	"favoredTip" : "How much this character favors this action to actively seek it out.",
	"predAlwaysDigestHostiles" : "Digest Hostiles",
	"predAlwaysDigestHostilesTip" : "Will always attempt to digest hostile entities, regardless of effect set for the resulting location.",

	"minimumScaleTip":"Minimum Scale one can shrink to.\nCap is 0.125 (1/8) for sanity reasons.",
	"maximumScaleTip":"Maximum Scale one can grow to.\nCap is 10x for the sake of your computer not exploding.",
	"currentScaleTip":"Current Scale.\nCan be freely set if you find some tool for it...",
	// transformation names
	"speciesTF" : "Species",
	"indefiniteTF" : "Indefinite",
	"permanentTF" : "Permanent",
	"genderTF" : "Gender",
	"accidentalTF" : "Accidents",

	"speciesTFTip" : "Your species can be changed",
	"indefiniteTFTip" : "Transformations will last indefinetly, only able to be cured with a Reversion Potion",
	"permanentTFTip" : "Being transformed will override your 'Original' species with the new one, making Reversion Potions useless",

	"genderTFTip" : "Your gender can be changed (Base sprite only, genitals are independent)",

	"potionTFTip" : "You can be transformed via potions",
	"magicTFTip" : "You can be transformed via magic",
	"scienceTFTip" : "You can be transformed via science",
	"voreTFTip" : "You can be transformed during vore",
	"unbirthTFTip" : "You can be transformed inside someone's womb",

	"accidentalTFTip" : "Various random chance events can transform you (respects other settings)",

	// body parts can TF
	"cockCanTFChange" : "TF effects can change if you have a cock or not.",
	"ballsCanTFChange" : "TF effects can change if you have balls or not.",
	"pussyCanTFChange" : "TF effects can change if you have a pussy or not.",
	"breastsCanTFChange" : "TF effects can change if you have breasts or not.",

	// action names
	"unassignedAction" : "SBQ Controller",
	"grab" : "Grab",
	"inhale" : "Inhale",
	"vore" : "Any Vore",

	"genericActionDesc" : "Click to use your ^yellow;<actionName>^reset; action.",
	"unavailableActionDesc" : "^yellow;<actionName>^reset; is unavailable.",
	"unassignedActionDesc" : "Current state has no action assigned.",
	"controllerActionDescAppend" : "^green;Shift+W^reset; for full action wheel.",

	"voreActionDesc" : "Attempts any available ^yellow;Vore^reset; action on target.",

	"controllerLetOut" : "Let Out",
	"controllerLetOutAnyDesc" : "Let out any recent prey with current action",
	"controllerLetOutSelectedDesc" : "Let out selected prey with current action",

	"controllerRPMenu" : "Roleplay Action",
	"controllerRPMenuDesc" : "TODO\nActions mainly useful for roleplay.",

	"controllerAssign" : "Assign Action",
	"controllerAssignDesc" : "Assign action performed on click.",
	"occupants" : "Occupants",

	"turboDigest" : "Turbo Digest",
	"turboDigestDesc" : "Use energy to digest at 100x power!"

}
