{
	// locationNames
	"belly" : "Belly",
	"womb" : "Womb",
	"shaft" : "Shaft",
	"balls" : "Balls",
	"balls_left" : "Left Ball",
	"balls_right" : "Right Ball",
	"breasts" : "Breasts",
	"breasts_left" : "Left Breast",
	"breasts_right" : "Right Breast",

	// gui strings
	"settingsTitle" : "Starbecue Settings",
	"pred" : "Pred",
	"prey" : "Prey",
	"prefs" : "Prefs",
	"predatorPrefs" : "Predator Prefs",
	"preyPrefs" : "Prey Prefs",
	"preferences" : "Preferences",
	"infusion" : "Body Infusion",
	"transformationPrefs" : "Transformation Prefs",

	// vore names
	"oralVore" : "Oral Vore",
	"tailVore" : "Tail Vore",
	"navelVore" : "Navel Vore",
	"absorbVore" : "Absorb Vore",
	"analVore" : "Anal Vore",
	"unbirthVore" : "Unbirth",
	"breastVore" : "Breast Vore",
	"cockVore" : "Cock Vore",

	"voreEnabledTip" : "Check to partake in this",
	"voreConsentTip" : "Others must ask you to perform these actions.",

	// infusion names
	"thighsInfuse" : "Sentient Fat",
	"bellyInfuse" : "Belly TF",
	"breastInfuse" : "Boob TF",
	"pussyInfuse" : "Pussy TF",
	"cockInfuse" : "Cock TF",
	"pawInfuse" : "Paw TF",

	// transformation names
	"speciesTF" : "Species",
	"indefineiteTF" : "Indefinite",
	"permanentTF" : "Permanent",
	"genderTF" : "Gender",
	"sexTF" : "Sex",
	"accidentalTF" : "Accidents",

	"speciesTFTip" : "Your species can be changed",
	"indefineiteTFTip" : "Transformations will last indefinetly, only able to be cured with a Reversion Potion",
	"premanentTFTip" : "Being transformed will override your 'Original' species with the new one, making Reversion Potions useless",

	"genderTFTip" : "Your gender can be changed (Base sprite only, genitals are independent)",
	"sexTFTip" : "Your genitals can be changed",

	"potionTFTip" : "You can be transformed via potions",
	"magicTFTip" : "You can be transformed via magic",
	"scienceTFTip" : "You can be transformed via 'science'",
	"voreTFTip" : "You can be transformed during vore",
	"unbirthTFTip" : "You can be transformed inside someone's womb",

	"accidentalTFTip" : "Various random chance events can transform you (respects other settings)",

	// action names
	"unassignedAction" : "SBQ Controller",
	"grab" : "Grab",
	"inhale" : "Inhale",
	"vore" : "Any Vore",

	"genericActionDesc" : "Click to use your ^yellow;<actionName>^reset; action.\n^green;Shift+W^reset; for full action wheel.",
	"unavailableActionDesc" : "^green;Shift+W^reset; to re-assign action.\n^yellow;<actionName>^reset; is unavailable.",
	"unassignedActionDesc" : "^green;Shift+W^reset; to assign an action.\nCurrent state has no default action assigned.",

	"voreActionDesc" : "Attempts any available ^yellow;Vore^reset; action on target.\n^green;Shift+W^reset; for full action wheel.",

	"controllerLetOut" : "Let Out",
	"controllerAssign" : "Assign\nAction"

}
