[
	{ "species" : "wr/vaporeon", "type" : "sbqVoreVillager" },
	{ "species" : "wr/meowscarada", "type" : "sbqVoreVillager" },
	{ "species" : "wr/flareon", "type" : "sbqVoreVillager" },
	{ "species" : "wr/nickit", "type" : "sbqVoreVillager" },

	{ "species" : "argonian", "type" : "sbqVoreVillager" },
	{ "species" : "argonian", "type" : "sbqVoreVillager" },
	{ "species" : "avali", "type" : "sbqVoreVillager" },
	{ "species" : "braixen", "type" : "sbqVoreVillager", "overrides" : {"identity":{"hairType":"male56"}} },
	{ "species" : "crylan", "type" : "sbqVoreVillager" },
	{ "species" : "delphox", "type" : "sbqVoreVillager", "overrides" : {"identity":{"hairType":"male56"}} },
	{ "species" : "dragon", "type" : "sbqVoreVillager" },
	{ "species" : "eevee", "type" : "sbqVoreVillager" },
	{ "species" : "eeveetwo", "type" : "sbqVoreVillager" },
	{ "species" : "elysian", "type" : "sbqVoreVillager" },
	{ "species" : "everis", "type" : "sbqVoreVillager" },
	{ "species" : "familiar", "type" : "sbqVoreVillager" },
	{ "species" : "felin", "type" : "sbqVoreVillager" },
	{ "species" : "fennix", "type" : "sbqVoreVillager" },
	{ "species" : "gnolls", "type" : "sbqVoreVillager" },
	{ "species" : "lucario", "type" : "sbqVoreVillager" },
	{ "species" : "lycanroc", "type" : "sbqVoreVillager" },
	{ "species" : "lyceen", "type" : "sbqVoreVillager" },
	{ "species" : "myfirsttest", "type" : "sbqVoreVillager" },
	{ "species" : "novali", "type" : "sbqVoreVillager" },
	{ "species" : "rodent", "type" : "sbqVoreVillager" },
	{ "species" : "sergal", "type" : "sbqVoreVillager" },
	{ "species" : "Umbreon", "type" : "sbqVoreVillager" },
	{ "species" : "synth", "type" : "sbqVoreVillager" },
	{ "species" : "vulpes", "type" : "sbqVoreVillager" },
	{ "species" : "kazdra", "type" : "sbqVoreVillager" },
	{ "species" : "elduukhar", "type" : "sbqVoreVillager" },
	{ "species" : "Attarran", "type" : "sbqVoreVillager" },
	{ "species" : "neki", "type" : "sbqVoreVillager" },
	{ "species" : "mechineki", "type" : "sbqVoreVillager" },
	{ "species" : "lastree", "type" : "sbqVoreVillager" },
	{ "species" : "zoroark", "type" : "sbqVoreVillager" },
	{ "species" : "hisuzor", "type" : "sbqVoreVillager" },
	{ "species" : "bunnykin", "type" : "sbqVoreVillager" },
	{ "species" : "sylveonoid", "type" : "sbqVoreVillager" },
	{ "species" : "yharian", "type" : "sbqVoreVillager" },
	{ "species" : "saurian", "type" : "sbqVoreVillager" },
	{ "species" : "viera", "type" : "sbqVoreVillager" },
	{ "species" : "dreemurrers", "type" : "sbqVoreVillager" },
	{ "species" : "espeon", "type" : "sbqVoreVillager" },
	{ "species" : "jolte", "type" : "sbqVoreVillager" },
	{ "species" : "glaceonfox", "type" : "sbqVoreVillager" },
	{ "species" : "twilitwolves", "type" : "sbqVoreVillager" },
	{ "species" : "mons", "type" : "sbqVoreVillager" },
	{ "species" : "spirittree", "type" : "sbqVoreVillager" },
	{ "species" : "squamaeft", "type" : "sbqVoreVillager" },
	{ "species" : "orcana", "type" : "sbqVoreVillager" },
	{ "species" : "vesperian", "type" : "sbqVoreVillager" },
	{ "species" : "crewkin", "type" : "sbqVoreVillager" },
	{ "species" : "crewmate", "type" : "sbqVoreVillager" },
	{ "species" : "gallifreyan", "type" : "sbqVoreVillager" },
	{ "species" : "cyberman", "type" : "sbqVoreVillager" },
	{ "species" : "gardevan", "type" : "sbqVoreVillager" },
	{ "species" : "deerkin", "type" : "sbqVoreVillager" },
	{ "species" : "mauskin", "type" : "sbqVoreVillager" },
	{ "species" : "pengukin", "type" : "sbqVoreVillager" },
	{ "species" : "mindflayer", "type" : "sbqVoreVillager" },
	{ "species" : "shoggoth", "type" : "sbqVoreVillager" },
	{ "species" : "plasmoid", "type" : "sbqVoreVillager" },
	{ "species" : "majin", "type" : "sbqVoreVillager" },
	{ "species" : "inkling", "type" : "sbqVoreVillager" },
	{ "species" : "octoling", "type" : "sbqVoreVillager" },
	{ "species" : "saiyan", "type" : "sbqVoreVillager" },
	{ "species" : "lamia", "type" : "sbqVoreVillager" },
	{ "species" : "skumks", "type" : "sbqVoreVillager" },

	{ "species" : "apex", "type" : "sbqVoreVillager" },
	{ "species" : "human", "type" : "sbqVoreVillager" },
	{ "species" : "avian", "type" : "sbqVoreVillager" },
	{ "species" : "fenerox", "type" : "sbqVoreVillager" },
	{ "species" : "floran", "type" : "sbqVoreVillager" },
	{ "species" : "glitch", "type" : "sbqVoreVillager" },
	{ "species" : "hylotl", "type" : "sbqVoreVillager" },
	{ "species" : "novakid", "type" : "sbqVoreVillager" }
]
