[
	{ "npc" : "sbq/LokiVulpix/Socks", "npcTypeName" : "sbq/LokiVulpix/Socks-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/LokiVulpix/Clover", "npcTypeName" : "sbq/LokiVulpix/Clover-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/LokiVulpix/Loki", "npcTypeName" : "sbq/LokiVulpix/Loki-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/LokiVulpix/Auri", "npcTypeName" : "sbq/LokiVulpix/Auri-Hub", "spawnOnce" : true, "bias" : true },

	{ "npc" : "sbq/Fevix/Sandy", "npcTypeName" : "sbq/Fevix/Sandy-Hub", "spawnOnce" : true, "bias" : true },

	{ "npc" : "sbq/Ferrilata_/Ferri", "npcTypeName" : "sbq/Ferrilata_/Ferri-Hub","spawnOnce" : true, "bias" : true },

	{ "npc" : "sbq/AkariKaen/Akari", "npcTypeName" : "sbq/AkariKaen/Akari-Hub", "spawnOnce" : true, "bias" : true },

	{ "npc" : "sbq/Xeronious/Batty", "npcTypeName" : "sbq/Xeronious/Batty-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/Xeronious/Kaiju", "npcTypeName" : "sbq/Xeronious/Kaiju-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/FFWizard/Helena", "npcTypeName" : "sbq/FFWizard/Helena-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/FFWizard/hellhound", "npcTypeName" : "sbqVoreVillager" },

	// { "npc" : "sbq/IcyVixen/Fray", "npcTypeName" : "sbq/IcyVixen/Fray-Hub", "spawnOnce" : true, "bias" : true },

	// { "npc" : "sbq/LakotaAmitola/Lakota", "npcTypeName" : "sbq/LakotaAmitola/Lakota-Hub", "spawnOnce" : true, "bias" : true },
	{ "npc" : "sbq/LakotaAmitola/ziellekDragon", "npcTypeName" : "sbqVoreVillager", "spawnOnce" : true },
	// { "npc" : "sbq/Bestethan/Dex", "npcTypeName" : "sbq/Bestethan/Dex-Hub", "spawnOnce" : true, "bias" : true },

	{ "npc" : "synth", "npcTypeName" : "sbqHubBlue_Blueninja", "spawnOnce" : true, "bias" : true },

	{ "npc" : "sbq/slime", "npcTypeName" : "sbqVoreVillager", "spawnOnce" : true },
	{ "npc" : "sbq/vaporeon", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "sbq/meowscarada", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "sbq/flareon", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "sbq/nickit_anthro", "npcTypeName" : "sbqVoreVillager" },

	{ "npc" : "argonian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "argonian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "avali", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "braixen", "npcTypeName" : "sbqVoreVillager", "npcParameters" : {"identity":{"hairType":"male56"}} },
	{ "npc" : "crylan", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "delphox", "npcTypeName" : "sbqVoreVillager", "npcParameters" : {"identity":{"hairType":"male56"}} },
	{ "npc" : "dragon", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "eevee", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "eeveetwo", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "elysian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "everis", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "familiar", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "felin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "fennix", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "gnolls", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "lucario", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "lycanroc", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "lyceen", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "myfirsttest", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "novali", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "rodent", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "sergal", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "Umbreon", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "synth", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "vulpes", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "kazdra", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "elduukhar", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "Attarran", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "neki", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "mechineki", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "lastree", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "zoroark", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "hisuzor", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "bunnykin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "sylveonoid", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "yharian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "saurian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "viera", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "dreemurrers", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "espeon", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "jolte", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "glaceonfox", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "twilitwolves", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "mons", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "spirittree", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "squamaeft", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "orcana", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "vesperian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "crewkin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "crewmate", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "gallifreyan", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "cyberman", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "gardevan", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "deerkin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "mauskin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "pengukin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "mindflayer", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "shoggoth", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "plasmoid", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "majin", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "inkling", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "octoling", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "saiyan", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "lamia", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "skumks", "npcTypeName" : "sbqVoreVillager" },

	{ "npc" : "apex", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "human", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "avian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "fenerox", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "floran", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "glitch", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "hylotl", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "novakid", "npcTypeName" : "sbqVoreVillager" }
]
