{
	"animations" : ["/humanoid/any/sbqModules/tailInfuse/tailInfuse.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/tailInfuse/sbqOccupant.animation"],
	"settingsConfig" : {
		"overrideSettings" : {
			"any":{"tailSelectOverride" : true}
		}
	},
	"locations" :{
		"tail" : {
			"infuseType" : "tailInfuse",
			"infuseColors" : true,
			"activeSettings" : [
				{"infusePrefs":{"tailInfuse":{"pred":true}}}
			],
			"maxSize" : 0,
			"maxCount" : 0,
			"struggleSizes" : [0],
			"interpolateSizes" : [0]
		}

	},
	"states" : {
		"default" : {
			"actions" : {
				"tailVore" : {
					"targetSettings" : {
						"infusePrefs":{"tailInfuse":{"prey":true}},
						"vorePrefs":{"tailVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"tailInfuse":{"pred":true}},
						"vorePrefs":{"tailVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"tailInfuse" : {
					"targetSettings" : {"infusePrefs":{"tailInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"tailInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"tail",
					"voreAction":"tailInfuseExternal",
					"finishAction":"tailInfused"
				},
				"tailInfused" : {
					"targetSettings" : {"infusePrefs":{"tailInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"tailInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"tail",
					"infuseSlots" : [
						"tail"
					]
				},
				"tailInfuseExternal" : {
					"targetSettings" : {
						"infusePrefs":{"tailInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"tailInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["tailVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "tail"
				}

			},
			"locations" : {
			},
			"interactActions" : {
				"tailInfuse" : {
					"action":"tailInfuse",
					"aimPart":"tail","aim":"interact","aimRadius":2,
					"posPart":"tail","pos":"back"
				}

			}
		}
	},
	"availableVoreTypes" : {
		"tailVore":true
	},
	"availableInfuseTypes" : {
		"tailInfuse":true
	}
}
