{
	"sbqData" : {
		"merge" : [ "/humanoid/sbqDataQuadruped.config" ],

		"overrideSettings" : {
			"bra" : false,
			"underwear" : false,
			"pants" : false,
			"shirt" : false,

			"digestEnable" : false,
			"shaftDigestEnable" : false,
			"shaftSoftDigestEnable" : false,
			"ballsDigestEnable" : false,
			"wombDigestEnable" : false,
			"wombSoftDigestEnable" : false,

			"navelVorePred" : false,
			"breastVorePred" : false,
			"tailVorePred" : false,

			"shaftTFEnable" : false,
			"wombTFEnable" : false
		},
		"overridePreyEnabled" : {
			"digestAllow": false,
			"cumDigestAllow": false,
			"milkDigestAllow": false,
			"femcumDigestAllow": false,
			"femcumSoftDigestAllow": false,

			"navelVore" : false
		},
		"locations" : {
			"womb" : {"digest":false,"softDigest":false,
				"TF" : { "data": {"species" : "flareon", "playerSpeciesTF":true}}
			}
		}
	},
	"states": {
		"merge" : ["/humanoid/sbqDataQuadruped.config"]
	}
}
