{
	"includes" : ["/humanoid/any/sbqModules/pussy/sbqModule.config"], // TODO make this not inherit and just have its own data

	"animations" : ["/humanoid/wr/quadruped/sbqModules/pussy/pussy.animation"],
	"occupantAnimations" : [],

	"locations" : {
	},
	"states" : {
		"default" : {
			"actions" : {

			},
			"interactActions" : {

			},
			"locations" : {
				"womb" : {
					"struggleActions" : {
						"front" : {"indicate":false, "action":false},
						"back" : {"indicate":"green", "action":"moveToLocation", "args":["pussy"]},
						"up" : {"indicate":false, "action":false},
						"down" : {"indicate":false, "action":false}
					}
				},
				"pussy" : {
					"struggleActions" : {
						"front" : {"indicate":"cyan", "action":"moveToLocation", "args":["womb"]},
						"back" : {"indicate":"red", "action":"unbirthVoreLetout"},
						"up" : {"indicate":false, "action":false},
						"down" : {"indicate":false, "action":false}
					}
				}
			}
		}
	},
	"availableVoreTypes" : {

	},
	"availableInfuseTypes": {

	}
}
