{
    "sbq/belly.png": {
        "sourceImage": "/humanoid/any/sbqModules/belly/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/belly_noNavel.png": {
        "sourceImage": "/humanoid/any/sbqModules/belly/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/belly.png": {
        "sourceImage": "/humanoid/any/sbqModules/belly/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/belly_noNavel.png": {
        "sourceImage": "/humanoid/any/sbqModules/belly/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/cock.png": {
        "sourceImage": "/humanoid/any/sbqModules/cock/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/cock.png": {
        "sourceImage": "/humanoid/any/sbqModules/cock/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/ballsFront.png": {
        "sourceImage": "/humanoid/any/sbqModules/balls/default/front.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/ballsFront.png": {
        "sourceImage": "/humanoid/any/sbqModules/balls/default/front.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/ballsBack.png": {
        "sourceImage": "/humanoid/any/sbqModules/balls/default/back.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/ballsBack.png": {
        "sourceImage": "/humanoid/any/sbqModules/balls/default/back.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/pussy.png": {
        "sourceImage": "/humanoid/any/sbqModules/pussy/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/pussy.png": {
        "sourceImage": "/humanoid/any/sbqModules/pussy/default.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/breastsFront.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/breastsBack.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/breastsFront.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/breastsBack.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/breastsFront_noNipples.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/breastsBack_noNipples.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/breastsFront_noNipples.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
        "processingDirectives" : "?multiply=00000000;"
    },
    "sbq/infused/breastsBack_noNipples.png": {
        "sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
        "processingDirectives" : "?multiply=00000000;"
    }
}
