{
	"hidePredSettings":true,
	"overrideSettings" : {"any":{
		"acidDigestPower" : 0,
		"acidDigestDrops" : false,

		"cumDigestPower" : 0,
		"cumDigestDrops" : false,

		"femcumDigestPower" : 0,
		"femcumDigestDrops" : false,

		"milkDigestPower" : 0,
		"milkDigestDrops" : false,

		"miscDigestPower" : 0,
		"miscDigestDrops" : false
	}},
	"groupedOverrideSettings" : {"any":{
		"vorePrefs":{"pred":false}
	}},
	"states":{"default":{"actions":{
		"oralVore" : false,
		"tailVore" : false,
		"absorbVore" : false,
		"navelVore" : false,

		"analVore" : false,
		"unbirthVore" : false,
		"breastVore" : false,
		"cockVore" : false
	}}}

}
