{
	"hidePreySettings":true,
	"overrideSettings" : {"any":{
		"acidDigestResistance" : 0,
		"acidDigestDropsAllow" : false,
		"acidDigestFatalImmune" : true,

		"cumDigestResistance" : 0,
		"cumDigestDropsAllow" : false,
		"cumDigestFatalImmune" : true,

		"femcumDigestResistance" : 0,
		"femcumDigestDropsAllow" : false,
		"femcumDigestFatalImmune" : true,

		"milkDigestResistance" : 0,
		"milkDigestDropsAllow" : false,
		"milkDigestFatalImmune" : true,

		"miscDigestResistance" : 0,
		"miscDigestDropsAllow" : false,
		"miscDigestFatalImmune" : true
	}},
	"groupedOverrideSettings" : {"any":{
		"vorePrefs":{"prey":false}
	}}
}
