{

	"sbq/friend_tail/body/default.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/friend_tail/body/default.png",
		"remapDirectives" : [
			[
				"primary",
				"primary"
			],
			[
				"secondary",
				"secondary"
			]
		]
	},
	"sbq/friend_tail/head/default.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/friend_tail/head/default.png",
		"merge" : "sbq/friend_tail/body/default.png"
	},
	"sbq/friend_tail/head/maw.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/friend_tail/head/maw.png",
		"merge" : "sbq/friend_tail/body/default.png"
	},
	"sbq/friend_tail/head/secret.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/friend_tail/head/secret.png",
		"merge" : "sbq/friend_tail/body/default.png"
	},
	"sbq/belly_tight.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/tight/default.png",
		"merge" : "sbq/belly.png"
	},
	"sbq/belly_tight_noNavel.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/tight/default.png",
		"merge" : "sbq/belly_noNavel.png"
	},
	"sbq/infused/belly_tight.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/tight/default.png",
		"merge" : "sbq/infused/belly.png"
	},
	"sbq/infused/belly_tight_noNavel.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/tight/default.png",
		"merge" : "sbq/infused/belly_noNavel.png"
	},
	"sbq/belly_pregnant.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/pregnant/default.png",
		"merge" : "sbq/belly.png"
	},
	"sbq/belly_pregnant_noNavel.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/pregnant/default.png",
		"merge" : "sbq/belly_noNavel.png"
	},
	"sbq/infused/belly_pregnant.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/pregnant/default.png",
		"merge" : "sbq/infused/belly.png"
	},
	"sbq/infused/belly_pregnant_noNavel.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/belly/modules/pregnant/default.png",
		"merge" : "sbq/infused/belly_noNavel.png"
	}
}
