{
	"sbq/malebody.png" : {
		"sourceImage" : "malebody.png",
		"processingDirectives" : "?addmask=/humanoid/any/sbqImageMasks/removeTail_male.png;0;0;"
	},
	"sbq/femalebody.png" : {
		"sourceImage" : "femalebody.png",
		"processingDirectives" : "?addmask=/humanoid/any/sbqImageMasks/removeTail_female.png;0;0;"
	},
	"sbq/fg/malebody.png" : {
		"sourceImage" : "malebody.png",
		"processingDirectives" : "?addmask=/humanoid/any/sbqImageMasks/legMask.png;0;0;?addmask=/humanoid/any/sbqImageMasks/removeTail_male.png;0;0;"
	},
	"sbq/fg/femalebody.png" : {
		"sourceImage" : "femalebody.png",
		"processingDirectives" : "?addmask=/humanoid/any/sbqImageMasks/legMask.png;0;0;?addmask=/humanoid/any/sbqImageMasks/removeTail_female.png;0;0;"
	},
	"sbq/noLegs/malebody.png" : {
		"sourceImage" : "malebody.png",
		"processingDirectives" : "?addmask=/humanoid/any/sbqImageMasks/removeTail_male.png;0;0;?addmask=/humanoid/any/sbqImageMasks/noLegs_male.png;0;0;",
		"patches" : ["/humanoid/any/sbqImageMasks/noLegs_patch.lua"]
	},
	"sbq/noLegs/femalebody.png" : {
		"sourceImage" : "femalebody.png",
		"processingDirectives" : "?addmask=/humanoid/any/sbqImageMasks/removeTail_male.png;0;0;?addmask=/humanoid/any/sbqImageMasks/noLegs_male.png;0;0;",
		"patches" : ["/humanoid/any/sbqImageMasks/noLegs_patch.lua"]
	},

	"sbq/belly.png": {
		"sourceImage": "/humanoid/any/sbqModules/belly/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/belly_noNavel.png": {
		"sourceImage": "/humanoid/any/sbqModules/belly/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/belly.png": {
		"sourceImage": "/humanoid/any/sbqModules/belly/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/belly_noNavel.png": {
		"sourceImage": "/humanoid/any/sbqModules/belly/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/cock.png": {
		"sourceImage": "/humanoid/any/sbqModules/cock/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/cock.png": {
		"sourceImage": "/humanoid/any/sbqModules/cock/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/ballsFront.png": {
		"sourceImage": "/humanoid/any/sbqModules/balls/default/front.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/ballsFront.png": {
		"sourceImage": "/humanoid/any/sbqModules/balls/default/front.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/ballsBack.png": {
		"sourceImage": "/humanoid/any/sbqModules/balls/default/back.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/ballsBack.png": {
		"sourceImage": "/humanoid/any/sbqModules/balls/default/back.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/pussy.png": {
		"sourceImage": "/humanoid/any/sbqModules/pussy/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/pussy.png": {
		"sourceImage": "/humanoid/any/sbqModules/pussy/default.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/breastsFront.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/breastsBack.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/breastsFront.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/breastsBack.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/breastsFront_noNipples.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/breastsBack_noNipples.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/breastsFront_noNipples.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/front.png",
		"processingDirectives" : "?multiply=00000000;"
	},
	"sbq/infused/breastsBack_noNipples.png": {
		"sourceImage": "/humanoid/any/sbqModules/breasts/default/back.png",
		"processingDirectives" : "?multiply=00000000;"
	},

	"sbq/nickit_tail.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/nickit_tail/nickit_tail.png"
	},
	"sbq/infused/nickit_tail.png" : {
		"sourceImage" : "/humanoid/any/sbqModules/nickit_tail/nickit_tail.png"
	},

	"sbq/flareon_tail.png" : {
		"sourceImage" : "/humanoid/wr/flareon/tail.png"
	},
	"sbq/infused/flareon_tail.png" : {
		"sourceImage" : "/humanoid/wr/flareon/tail.png"
	},

	"sbq/vaporeon_tail.png" : {
		"sourceImage" : "/humanoid/wr/vaporeon/tail.png"
	},
	"sbq/infused/vaporeon_tail.png" : {
		"sourceImage" : "/humanoid/wr/vaporeon/tail.png"
	},

	"sbq/luxio_tail.png" : {
		"sourceImage" : "/humanoid/wr/luxio/tail.png",
		"processingDirectives" : "?replace;c39839=c39839FE;efbc46=efbc46FE;9a7627=9a7627FE"
	},
	"sbq/infused/luxio_tail.png" : {
		"sourceImage" : "/humanoid/wr/luxio/tail.png",
		"processingDirectives" : "?replace;c39839=c39839FE;efbc46=efbc46FE;9a7627=9a7627FE"
	}


}
