{
	"occupantAnimation" : "/humanoid/any/sbqModules/base/occupant.animation",
	"scripts" : ["/humanoid/any/voreScripts.lua"],
	"states" : {
		"default" : {
			"actions" : {
				"releaseOccupant" : {
					"script" : "releaseOccupant",
					"availableScript" : "releaseOccupantAvailable"
				},
				"letout" : {
					"script" : "letout"
				},
				"reform" : {
					"script" : "reform"
				},
				"reformed" : {
					"script" : "reformed"
				},
				"turboReform" :{
					"availableScript" : "turboReformAvailable",
					"script" : "turboReform"
				},
				"turboDigest" :{
					"availableScript" : "turboDigestAvailable",
					"script" : "turboDigest"
				},
				"turboHeal" :{
					"availableScript" : "turboHealAvailable",
					"script" : "turboHeal"
				},
				"eggify" :{
					"availableScript" : "eggifyAvailable",
					"script" : "eggify"
				},
				"digested" : {
					"script" : "digested"
				},
				"digest" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"softDigest" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"heal" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"none" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"fatal" : {
					"availableScript" : "fatalAvailable",
					"script" : "fatal"
				},
				"transform" : {
					"targetSettings":{"speciesTF":true},
					"script" : "transform"
				},
				"transformed" : {
					"targetSettings":{"speciesTF":true},
					"script" : "transformed"
				},

				"lockDown" : {
					"script" : "lockDown"
				},
				"lockDownClear" : {
					"script" : "lockDownClear"
				},

				"chooseLocation" : {
					"script" : "chooseLocation"
				},
				"sendDeeper" : {
					"script" : "trySendDeeper",
					"availableScript" : "trySendDeeperAvailable"
				},
				"moveToLocation" : {
					"cooldown" : 1,
					"script" : "moveToLocation",
					"availableScript" : "moveToLocationAvailable"
				},

				"rpActionReset" : {
					"animations" : { "rpActionState":["none", false]}
				}
			}
		}
	}
}
