{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"listLocations" : [
			"belly",
			"breasts",
			"tail",
			"womb",
			"shaft",
			"balls"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"unbirth" : "womb",
			"cockVore" : "shaft",
			"analVore" : "belly",
			"breastVore" : "breasts"
		},

		"locations" : {
			"womb" : {
				"TF" : false
				//"TF" : { "data": {"species" : "catfox", "playerSpeciesTF":true}}
			}
		}
	}
}
