{
	"merge" : ["/humanoid/speciesAnimOverride.config", "/humanoid/sbqLoki_LokiVulpix/sbqAnimOverrideParts.config"],

	"partImages" : {
		"emote_fg" : "/humanoid/<species>/foreground/emote.png",
		"facialMask" : false
	},
	"globalTagDefaults":{
		"frontlegsMask1" : "/humanoid/animOverrideMasks/gnolls/malebody.png"
	}
}
