{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"overrideSettings" : {
		},
		"overridePreyEnabled" : {
			"preyEnabled" : true,

			"digestAllow": true,
			"softDigestAllow" : true,
			"digestItemDropsAllow" : true,

			"cumDigestAllow": true,
			"cumSoftDigestAllow": true,
			"cumDigestItemDropsAllow" : true,

			"femcumDigestAllow": false,
			"femcumSoftDigestAllow": true,
			"femcumDigestItemDropsAllow" : true,

			"milkDigestAllow": false,
			"milkSoftDigestAllow" : true,
			"milkDigestItemDropsAllow" : true,

			"transformAllow": true,
			"cumTransformAllow": true,
			"genderswapAllow": false,
			"eggAllow": true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : false,

			"analVore" : false,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : false,

			"bellyInfusion" : false,
			"cockInfusion" : true,
			"pussyInfusion" : false,
			"breastsInfusion" : true
		}
	}
}
