{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],
		"locations" : {
			"breasts" : {
				"requiresInfusion":true,"infusionAccepts":{"characters":true}
			},
			"womb" : {
				"requiresInfusion":true,"infusionAccepts":{"characters":true},
				"TF" : { "digest" : false, "softDigest" : false, "data": {"species" : "meowscarada", "playerSpeciesTF":true}}
			},
			"shaft" : {
				"digest" : false, "softDigest" : false
			}
		}
	}
}
