{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"overrideSettings" : {
			"tailVorePred" : false,
			"absorbVorePred" : false,
			"navelVorePred" : false,

			"digestEnable" : false,
			"bellyDigestEnable" : false,
			"wombDigestEnable" : false,
			"ballsDigestEnable" : false,
			"shaftDigestEnable" : false
		},
		"overridePreyEnabled" : {
			"tailVore" : false,
			"navelVore" : false,
			"absorbVore" : false,
			"cockVore" : false,

			"transformAllow": false,
			"digestAllow": false,
			"cumDigestAllow": false,
			"femcumDigestAllow": false,
			"milkDigestAllow": false,
			"genderswapAllow": false,
			"cumTransformAllow": false,
			"eggAllow": false
		},
		"locations" : {
			"womb" : {
				"TF" : { "data": {"species" : "hellhound", "playerSpeciesTF":true}}
			},
			"shaft" : {
				"requiresInfusion":true,"infusionAccepts":{"characters":true}
			},
			"balls" : {
				"requiresInfusion":true,"infusionAccepts":{"characters":true}
			}
		}
	}
}
