{

	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts/quadruped",
			"remapColors" : [
				["primary","tertiary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","tertiary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","tertiary"]
			]
		}
	}
}
