{
	"gui" : {
		"panefeature" : {
			"type" : "panefeature",
			"anchor" : "bottomRight",
			"offset" : [0, 0],
			"persistent" : true,
			"positionLocked" : true
		},
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/humanoid/meowscarada/mask/3.png",
			"fileBody" : "/interface/scripted/sbq/preyHud/background.png"
		},
		"indicator": {
			"type" : "canvas",
			"rect" : [ 13, 10, 74, 49 ],
			"zlevel" : 1
		}
	},
	"dismissable" : false,
	"paneLayer" : "Hud",
	"sourceRadius": -1,
	"dismissPrev":false,

	"scriptWidgetCallbacks" : [],

	"scripts" : [ "/interface/scripted/sbq/preyHud/preyHud.lua" ],
	"scriptDelta" : 1
}
