{

	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				{"a94783":"d39c6c", "check" : {"visibleNavel":true}},
				{"a94783":"ffc181", "check" : {"visibleNavel":false}},
				["primary","primary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"breastsCover" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"],
				["flesh","flesh", {"nipples":true}],
				["flesh","primary", {"nipples":false}]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"],
				["flesh","flesh", {"nipples":true}],
				["flesh","primary", {"nipples":false}]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"],
				["flesh","flesh", {"nipples":true}],
				["flesh","primary", {"nipples":false}]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","flesh"]
			]
		},
		"ballsBack" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsFront" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		}
	},
	"infusedParts" :{
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","primary"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"breastsCover" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"],
				["flesh","flesh", {"nipples":true}],
				["flesh","secondary", {"nipples":false}]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"],
				["flesh","flesh", {"nipples":true}],
				["flesh","secondary", {"nipples":false}]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"],
				["flesh","flesh", {"nipples":true}],
				["flesh","secondary", {"nipples":false}]
			]
		}
	}
}
