[ "/humanoid/any/basicActions.config", {
	"scripts" : ["/humanoid/any/voreScripts.lua", "/humanoid/sbq/IcyVixen/Fray/voreScripts.lua", "/humanoid/any/eyeTracking.lua"],
	"species" : "Fray",
	"eyeTrackingDeadzone" : [3,3],
	"defaultSettings" : {
	},
	"pred" : {},
	"prey" : {},

	"locations" : {
		"grabbed" : {},
		"belly" : {
			"activeSettings" : [
				{"vorePrefs":{"oralVore":{"pred":true}}},
				{"vorePrefs":{"analVore":{"pred":true}}}
			],
			"maxFill" : 2,
			"struggleSizes":[0,1,2],
			"interpolateSizes":[
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1,
				1.125,1.25,1.375,1.5,1.625,1.75,1.875,2
			],
			"sizeChangeAnims" : { "bellyExpandState" : ["expand", true] }
		},
		"cock" : {
			"activeSettings" : {"vorePrefs":{"cockVore":{"pred":true}}, "cock":true},
			"maxCount" : 1,
			"maxFill" : 1.1,
			"struggleSizes":[0,1],
			"interpolateSizes":[
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1
			],
			"sizeChangeAnims" : { "cockExpandState" : ["expand", true] },
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["balls"]
			}
		},
		"balls" : {
			"activeSettings" : {"vorePrefs":{"cockVore":{"pred":true}}, "cock":true, "balls":true},
			"symmetrySettings" : {"ballsSymmetric":true},
			"subLocationBehavior" : "largest",
			"maxFill" : 1.1,
			"struggleSizes":[0,1],
			"interpolateSizes":[
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1
			],
			"subLocations" : {
				"<left>" : {"sizeChangeAnims" : { "balls_<left>ExpandState" : ["expand", true] }},
				"<right>" : {"sizeChangeAnims" : { "balls_<right>ExpandState" : ["expand", true] }}
			}
		}
	},
	"states" : {
		"default" : {
			"actions" : {
				"grab" : {
					"location" : "grabbed",
					"script" : "grab"
				},
				"grabTarget" : {
					"targetSettings" : {"grabbed":true},
					"ignoreTargetOccupants" : true,
					"location" : "grabbed",
					"script" : "grabTarget"
				},
				"grabRelease" : {
					"location" : "grabbed",
					"script" : "grabRelease"
				},
				"vore" : {
					"script" : "actionSequence",
					"availableScript" : "actionSequenceAvailable",
					"untilFirstSuccess" : true,
					"actionList" : [
						["oralVore"],
						["analVore"],
						["cockVore"]
					]
				},
				"oralVore" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"headState" : ["eat", true],
						"<occupant>State" : ["oralVore",true],
						"<occupant>Location" : ["none",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"oralVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"headState" : ["eat", true, true],
						"<occupant>State" : ["oralVore",true, true],
						"<occupant>Location" : ["none",true]
					},
					"throughput" : 1.25
				},

				"analVore" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["analVore",true],
						"<occupant>Location" : ["none",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"analVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["analVore",true, true],
						"<occupant>Location" : ["none",true]
					},
					"throughput" : 1.25
				},

				"cockVore" : {
					"targetSettings" : [
						{"vorePrefs":{"cockVore":{"prey":true}}}
					],
					"settings" : [
						{
							"cock" : true,
							"vorePrefs":{"cockVore":{"pred":true}}
						}
						// {
						// 	"infusePrefs":{"cockInfuse":{"pred":true}},
						// 	"vorePrefs":{"cockVore":{"pred":true}}
						// }
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["cockVore",true],
						"<occupant>Location" : ["none",true]
					},
					"location" : "cock",
					"throughput" : 1.25,
					"failureScript" : "trySendDeeper",
					"hideSlots" : {
						"legs" : true
					}
				},
				"cockVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"cockVore":{"prey":true}}},
					"settings" : {
						"cock" : true,
						"vorePrefs":{"cockVore":{"pred":true}}
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["cockVore",true, true],
						"<occupant>Location" : ["none",true]
					},
					"throughput" : 1.25,
					"hideSlots" : {
						"legs" : true
					}
				}
			},
			"locations" : {
				"grabbed" : {
					"struggleActions" : {
						"any":{
							"pressAnimations" :{"<occupant>State":["s_<s_direction>",false,false,true]},
							// minimum, maximum
							"time" : [3,5], // hold time for struggles to trigger action, checked once for every second held
							"count" : [5,10], // count of struggles to trigger action
							"indicate" : "red", "action":"grabRelease"
						},
						"up" : {},
						"down" : {},
						"front" : {},
						"back" : {}
					}
				},
				"belly" : {
					"entryTypes" : ["oralVore","analVore","navelVore","absorbVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"bellyState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"red", "action":"oralVoreLetout"},
						"down" : {"indicate":"red", "action":"analVoreLetout"},
						"front" : {"indicate":"red", "action":"navelVoreLetout"},
						"back" : {}
					}
				},
				"cock" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"cockState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"cockState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"cockState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls"]},
						"down" : {"indicate":"red", "action":"cockVoreLetout"},
						"front" : {},
						"back" : {}
					}
				},
				"balls" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"ballsState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"ballsState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"ballsState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
						"down" : {},
						"front" : {},
						"back" : {}
					},
					"subLocations" : {
						"<right>" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"balls_<right>State" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"balls_<right>State" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"balls_<right>State" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
							"down" : {},
							"front" : {},
							"back" : {},
							"left" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls","<left>"]}
						}},
						"<left>" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"balls_<left>State" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"balls_<left>State" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"balls_<left>State" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
							"down" : {},
							"front" : {},
							"back" : {},
							"right" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls","<right>"]}
						}}

					}
				}
			},
			"interactActions" : {
				"oralVore" : {
					"action":"oralVore",
					"aimPart":"head","aim":"interact","aimRadius":3,
					"posPart":"head","pos":"interact", "posRadius":5
				},
				"cockVore" : {
					"action":"cockVore",
					"aimPart":"cock","aim":"interact","aimRadius":3,
					"posPart":"cock","pos":"interact","posRadius":5
				},
				"analVore" : {
					"action":"analVore",
					"aimPart":"body","aim":"analInteract","aimRadius":3,
					"posPart":"body","pos":"back", "posRadius":5
				}
			}
		}
	},
	"actionList" : [
		{"action":"vore"},
		{"action":"oralVore"},
		{"action":"analVore"},
		{"action":"cockVore"},
		{"action":"grab", "noDisplay":{"request":true}}
	],
	"availableVoreTypes" : {
		"oralVore":true,
		"analVore":true,
		"unbirthVore":true,
		"cockVore":true
	},
	"availableInfuseTypes" : {
		"cockInfuse":false,
		"bellyInfuse":false,
		"pussyInfuse":false
	},

	"legsHide" : {
		"cockHiddenState" : "none",
		"ballsHiddenState" : "none",
		"pussyHiddenState" : "none"
	},
	"chestHide" : {
		"breastsHiddenState" : "none"
	},

	"pussyShow" : {
		"pussyHiddenState" : "ignore"
	},
	"cockShow" : {
		"cockHiddenState" : "ignore"
	},
	"ballsShow" : {
		"ballsHiddenState" : "ignore"
	},
	"breastsShow" : {
		"breastsHiddenState" : "ignore"
	},

	"pussyHide" : {
		"pussyHiddenState" : "none"
	},
	"cockHide" : {
		"cockHiddenState" : "none"
	},
	"ballsHide" : {
		"ballsHiddenState" : "none"
	},
	"breastsHide" : {
		"breastsHiddenState" : "none"
	}


}]
