{
	"sbqData" : {
		"merge" : [ "/humanoid/sbqDataQuadruped.config" ],
		"overrideSettings" : {
			"breasts" : false,
			"navel" : false,

			"bra" : false,
			"underwear" : false,
			"pants" : false,
			"shirt" : false,

			"digestEnable" : false,
			"bellyDigestEnable" : false,
			"bellySoftDigestEnable" : false,
			"shaftDigestEnable" : false,
			"shaftSoftDigestEnable" : false,
			"ballsDigestEnable" : false,
			"ballsSoftDigestEnable" : false,
			"wombDigestEnable" : false,
			"wombSoftDigestEnable": false,

			"tailVorePred" : false,
			"absorbVorePred" : false,
			"navelVorePred" : false,
			"breastVorePred" : false,
			"cockVorePred" : false,

			"bellySounds" : false,
			"wombSounds" : false
		},
		"overridePreyEnabled" : {
			"navelVore" : false,

			"digestAllow": false,
			"cumDigestAllow": false,
			"milkDigestAllow": false,
			"cumTransformAllow": false,
			"femcumDigestAllow": false,
			"femcumSoftDigestAllow": false,

			"transformAllow": false,
			"genderswapAllow": false
		}
	},
	"states": {
		"merge" : ["/humanoid/sbqDataQuadruped.config"]
	}
}
