{
	"sbqData" : {
		"merge" : [ "/humanoid/sbqDataQuadruped.config" ],

		"overrideSettings" : {
			"digestEnable" : false,
			"bellyDigestEnable" : false,
			"bellySoftDigestEnable" : false,
			"shaftDigestEnable" : false,
			"shaftSoftDigestEnable" : false,
			"ballsDigestEnable" : false,
			"ballsSoftDigestEnable" : false,
			"wombDigestEnable" : false,
			"wombSoftDigestEnable": false,

			"tailVorePred" : false,
			"absorbVorePred" : false,
			"navelVorePred" : false,
			"breastVorePred" : false,

			"defaultSounds" : false,
			"bellySounds" : false,
			"wombSounds" : false,
			"ballsSounds" : false,
			"shaftSounds" : false,
			"tailSounds" : false,

			"defaultStruggleSounds" : false,
			"bellyStruggleSounds" : false,
			"wombStruggleSounds" : false,
			"ballsStruggleSounds" : false,
			"shaftStruggleSounds" : false,
			"tailStruggleSounds" : false
		},
		"overridePreyEnabled" : {
			"navelVore" : false,

			"digestAllow": false,
			"cumDigestAllow": false,
			"milkDigestAllow": false,
			"cumTransformAllow": false,
			"femcumDigestAllow": false,
			"femcumSoftDigestAllow": false,

			"transformAllow": false,
			"genderswapAllow": false
		},
		"locations" : {
			"belly": {"digest":false,"softDigest":false},
			"womb" : {"digest":false,"softDigest":false,
				"TF" : { "data": {"species" : "flareon", "playerSpeciesTF":true}}
			},
			"shaft" : { "requiresInfusion":true,"infusionAccepts":{"characters":true}, "digest":false,"softDigest":false, "TF" : false },
			"balls" : { "requiresInfusion":true,"infusionAccepts":{"characters":true}, "digest":false,"softDigest":false, "TF" : false },
			"breasts" : {"digest":false,"softDigest":false, "TF" : false },
			"tail" : {"digest":false,"softDigest":false, "TF" : false }
		}
	},
	"states": {
		"merge" : ["/humanoid/sbqDataQuadruped.config"],
		"stand" : {
			"unbirthEscape" : {
				"releaseEffects" : {}
			},
			"cockEscape" : {
				"releaseEffects" : {}
			}
		}
	}
}
