{
	"animations" : ["/humanoid/any/sbqModules/breasts/breasts.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/breasts/sbqOccupant.animation"],

	"chestHide" : {
		"breastsHiddenState" : ["true"]
	},
	"chestShow" : {
		"breastsHiddenState" : ["false"]
	},
	"breastsParticleEmitters" : [
		"breasts_right_leak_1",
		"breasts_left_leak_1",
		"breasts_right_leak_2",
		"breasts_left_leak_2"
	],
	"transformGroupAnimProperties" : {
		"breasts_right_particles" : {"part":"breasts_right","translate":"<breasts_rightSize>-particles"},
		"breasts_left_particles" : {"part":"breasts_left","translate":"<breasts_leftSize>-particles"}
	},
	"bodyFullbrightParts" : [
		"breasts_left",
		"breasts_right"
	],

	"locations" : {
		"breasts" : {
			"infuseType" : "breastInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [{"vorePrefs":{"breastVore":{"pred":true}}}],
			"symmetrySettings" : {"breastsSymmetric":true},
			"subLocationBehavior" : "average",
			"maxSize" : 1.5, // just to allow things that are slightly off to be allowed in
			"struggleSizes":[0,0.5,1],
			"interpolateSizes":[ 0,
				0.1,0.2,0.3,0.4,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
				0.6,0.7,0.8,0.9,1
			],
			"subLocations" : {
				"left" : {"sizeChangeAnims" : { "breasts_leftExpandState" : ["expand", true] }},
				"right" : {"sizeChangeAnims" : { "breasts_rightExpandState" : ["expand", true] }}
			},
			"sizeChangeAnims" : { "breastsExpandState" : ["expand", true] },
			"emitterSetting" : "breastsLeakiness",
			"climaxEmitters" : [
				"breasts_right_climax",
				"breasts_left_climax"
			]
		}
	},
	"states" : {
		"default" : {
			"actions" : {

				"breastVore" : {
					"targetSettings" : {"vorePrefs":{"breastVore":{"prey":true}}},
					"settings" : [
						{
							"vorePrefs":{"breastVore":{"pred":true}}
						},
						{
							"infusePrefs":{"breastInfuse":{"pred":true}},
							"vorePrefs":{"breastVore":{"pred":true}}
						}
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["breastVore",true],
						"<occupant>Location" : ["default",true]
					},
					"location" : "breasts",
					"throughput" : 1.5,
					"hideSlots" : {
						"chest" : true
					}
				},
				"breastVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"breastVore":{"prey":true}}},
					"settings" : {
						"vorePrefs":{"breastVore":{"pred":true}}
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["breastVore",true, true],
						"<occupant>Location" : ["default",true]
					},
					"throughput" : 1.5,
					"hideSlots" : {
						"chest" : true
					},
					"applyStatusEffects" : [
						["sbqWetMilk"]
					]
				},

				"breastInfuse" : {
					"targetSettings" : {"infusePrefs":{"breastInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"breastInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"breasts",
					"voreAction":"breastInfuseExternal",
					"finishAction":"breastInfused"
				},
				"breastInfused" : {
					"targetSettings" : {"infusePrefs":{"breastInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"breastInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"breasts",
					"infuseSlots" : [
						"breasts"
					]
				},
				"breastInfuseExternal" : {
					"targetSettings" : {
						"infusePrefs":{"breastInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"breastInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["breastVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "breasts",
					"throughput" : 1.5,
					"hideSlots" : {
						"chest" : true
					}
				}

			},
			"interactActions" : {
				"breastVore" : {
					"action":"breastVore",
					"aimPart":"breasts","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			},
			"locations" : {
				"breasts" : {
					"entryTypes" : ["breastVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {
								"breasts_rightState" : ["s_<s_direction>_press", false],
								"breasts_leftState" : ["s_<s_direction>_press", false]
							},
							"holdAnimations" : {
								"breasts_rightState" : ["s_<s_direction>_hold",false,false,true],
								"breasts_leftState" : ["s_<s_direction>_hold",false,false,true]
							},
							"releaseAnimations" : {
								"breasts_rightState" : ["s_<s_direction>_release", false],
								"breasts_leftState" : ["s_<s_direction>_release", false]
							},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {},
						"down" : {},
						"front" : {"indicate":"red", "action":"breastVoreLetout"},
						"back" : {}
					},
					"subLocations" : {
						"right" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"breasts_rightState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"breasts_rightState" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"breasts_rightState" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {},
							"down" : {},
							"front" : {"indicate":"red", "action":"breastVoreLetout"},
							"back" : {}
						}},
						"left" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"breasts_leftState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"breasts_leftState" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"breasts_leftState" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {},
							"down" : {},
							"front" : {"indicate":"red", "action":"breastVoreLetout"},
							"back" : {}
						}}

					}
				}

			}
		}
	},
	"availableVoreTypes" : {
		"breastVore" :true
	},
	"availableInfuseTypes": {
		"breastInfuse":true
	}
}
