{
	"animations" : ["/humanoid/any/sbqModules/ballsInfuse/ballsInfuse.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/balls/sbqOccupant.animation"],
	"settingsConfig" : {
		"overrideSettings" : {
			"any":{"ballsSelectOverride" : true}
		}
	},
	"locations" : {
		"balls" : {
			"infuseType" : "cockInfuse",
			"activeSettings" : [{"infusePrefs":{"cockInfuse":{"pred":true}}}],
			"maxSize" : 0,
			"maxCount" : 0,
			"struggleSizes" : [0]
		}
	},
	"states" : {
		"default": {
			"actions" : {
			},
			"locations" : {
			},
			"interactActions" : {
			}
		}
	},
	"availableVoreTypes" : {
	},
	"availableInfuseTypes" : {
	}
}
