{
	"scripts" : ["/humanoid/avali/vore_anim_overrides.lua"],
	"sbqBreastCoverRemap" : {
		"species" : "avali",
		"remapColors" : [
			["primary","primary"],
			["secondary","primary"]
		]
	},
	"remapParts" : {
		"belly" : {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","primary"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsCover2" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsFront" :  {
			"species" : "avali",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsBack" :  {
			"species" : "avali",
			"remapColors" : [
				["primary","primary"]
			]
		}
	}
}
