{
	"animations":["/humanoid/sbq/quadruped/sbq/grab/grab.animation"],
	"occupantAnimations":["/humanoid/sbq/quadruped/sbq/grab/sbqOccupant.animation"],
	"locations" : {
		"grabbed" : {
			"actions" : [
				{"action":"shoulderRide"},
				{"action":"cleavageRide"},
				{"action":"sockRide"},
				{"action":"vore"},
				{"action":"oralVore"},
				{"action":"navelVore"},
				{"action":"absorbVore"},
				{"action":"tailVore"},
				{"action":"analVore"},
				{"action":"cockVore"},
				{"action":"unbirthVore"},
				{"action":"breastVore"},
				{"action":"bellyInfuse"},
				{"action":"tailInfuse"},
				{"action":"cockInfuse"},
				{"action":"breastInfuse"},
				{"action":"pussyInfuse"}
			]
		}
	},
    "states" : {
        "default" : {
            "actions" : {
				"grab" : {
					"location" : "grabbed",
					"script" : "grab"
				},
				"grabTarget" : {
					"targetSettings" : {"grabbed":true},
					"ignoreTargetOccupants" : true,
					"location" : "grabbed",
					"script" : "grabTarget"
				},
				"grabRelease" : {
					"location" : "grabbed",
					"script" : "grabRelease"
				}
            },
			"locations" : {
				"grabbed" : {
					"struggleActions" : {
						"any":{
							"pressAnimations" :{"<occupant>State":["s_<s_direction>",false,false,true]},
							// minimum, maximum
							"time" : [3,5], // hold time for struggles to trigger action, checked once for every second held
							"count" : [5,10], // count of struggles to trigger action
							"indicate" : "red", "action":"grabRelease"
						},
						"up" : {},
						"down" : {},
						"front" : {},
						"back" : {}
					}
				}
			}
        }
    }
}
