{
	"includes" : ["/humanoid/any/sbqModules/breasts/sbqModule.config"],
	"animations" : ["/humanoid/any/sbqModules/breasts/doubleBreasts/doubleBreasts.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/breasts/doubleBreasts/sbqOccupant.animation"],
	"cosmeticAnimations" : ["/humanoid/any/sbqModules/breasts/doubleBreasts/cosmetic.animation"],
	"hideChest" : {
		"lowerBreastsHiddenState" : ["true"]
	},
	"showChest" : {
		"lowerBreastsHiddenState" : ["false"]
	},
	"transformGroupAnimProperties" : {
		"breasts_secondary_right_particles" : {"part":"breasts_secondary_right","translate":"<breasts_secondary_rightSize>-particles"},
		"breasts_secondary_left_particles" : {"part":"breasts_secondary_left","translate":"<breasts_secondary_leftSize>-particles"}
	},
	"bodyFullbrightParts" : [
		"breasts_secondary_left",
		"breasts_secondary_right"
	],

	"locations" : {
		"breasts" : {
			"name" : ":breasts_1"
		},
		"breasts_secondary" : {
			"name" : ":breasts_2",
			"infuseType" : "breastInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [{"vorePrefs":{"breastVore":{"pred":true}}}],
			"symmetrySettings" : {"breastsSymmetric":true},
			"subLocationBehavior" : "average",
			"maxSize" : 1.5, // just to allow things that are slightly off to be allowed in
			"struggleSizes":[0,0.5,1],
			"interpolateSizes":[ 0,
				0.1,0.2,0.3,0.4,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
				0.6,0.7,0.8,0.9,1
			],
			"subLocations" : {
				"left" : {"sizeChangeAnims" : { "breasts_secondary_leftExpandState" : ["expand", true] }},
				"right" : {"sizeChangeAnims" : { "breasts_secondary_rightExpandState" : ["expand", true] }}
			},
			"sizeChangeAnims" : { "breastsExpandState" : ["expand", true] },
			"climaxEmitters" : {
				"breasts_secondary_right_climax":{ "blockingStats" : ["sbq_hideChest", "sbq_breasts_secondaryCovered"], "setting":"breastsLeakiness"},
				"breasts_secondary_left_climax":{ "blockingStats" : ["sbq_hideChest", "sbq_breasts_secondaryCovered"], "setting":"breastsLeakiness"}
			},
			"leakEmitters" : {
				"breasts_secondary_right_leak_1":{ "blockingStats" : ["sbq_hideChest", "sbq_breasts_secondaryCovered"], "setting":"breastsLeakiness"},
				"breasts_secondary_right_leak_2":{ "blockingStats" : ["sbq_hideChest", "sbq_breasts_secondaryCovered"], "setting":"breastsLeakiness"},
				"breasts_secondary_left_leak_1":{ "blockingStats" : ["sbq_hideChest", "sbq_breasts_secondaryCovered"], "setting":"breastsLeakiness"},
				"breasts_secondary_left_leak_2":{ "blockingStats" : ["sbq_hideChest", "sbq_breasts_secondaryCovered"], "setting":"breastsLeakiness"}
			}
		}

	},
	"states" : {
		"default" : {
			"actions" : {
				"breastVore" : {
					"failureAction" : "breastVore2"
				},
				"breastVore2" : {
					"targetSettings" : {"vorePrefs":{"breastVore":{"prey":true}}},
					"settings" : [
						{
							"vorePrefs":{"breastVore":{"pred":true}}
						},
						{
							"infusePrefs":{"breastInfuse":{"pred":true}},
							"vorePrefs":{"breastVore":{"pred":true}}
						}
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["breastVore2",true],
						"<occupant>Location" : ["default",true]
					},
					"location" : "breasts_secondary",
					"throughput" : 1.5,
					"hideSlots" : {
						"chest" : true
					}
				},
				"breastVoreLetout2" : {
					"targetSettings" : {"vorePrefs":{"breastVore":{"prey":true}}},
					"settings" : {
						"vorePrefs":{"breastVore":{"pred":true}}
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["breastVore2",true, true],
						"<occupant>Location" : ["default",true]
					},
					"throughput" : 1.5,
					"hideSlots" : {
						"chest" : true
					},
					"applyStatusEffects" : [
						["sbqWetMilk"]
					]
				},
				"breastInfuse" : {
					"failureAction" : "breastInfuse2"
				},
				"breastInfuse2" : {
					"targetSettings" : {"infusePrefs":{"breastInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"breastInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"breasts_secondary",
					"voreAction":"breastInfuseExternal",
					"finishAction":"breastInfused2"
				},
				"breastInfused2" : {
					"targetSettings" : {"infusePrefs":{"breastInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"breastInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"breasts_secondary",
					"infuseSlots" : [
						"breasts_secondary"
					]
				},
				"breastInfuseExternal2" : {
					"targetSettings" : {
						"infusePrefs":{"breastInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"breastInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["breastVore2",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "breasts_secondary",
					"throughput" : 1.5,
					"hideSlots" : {
						"chest" : true
					}
				}

			},
			"locations" : {
				"breasts_secondary" : {
					"entryTypes" : ["breastVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {
								"breasts_secondary_rightState" : ["s_<s_direction>_press", false],
								"breasts_secondary_leftState" : ["s_<s_direction>_press", false]
							},
							"holdAnimations" : {
								"breasts_secondary_rightState" : ["s_<s_direction>_hold",false,false,true],
								"breasts_secondary_leftState" : ["s_<s_direction>_hold",false,false,true]
							},
							"releaseAnimations" : {
								"breasts_secondary_rightState" : ["s_<s_direction>_release", false],
								"breasts_secondary_leftState" : ["s_<s_direction>_release", false]
							},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {},
						"down" : {},
						"front" : {"indicate":"red", "action":"breastVoreLetout2"},
						"back" : {}
					},
					"subLocations" : {
						"right" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"breasts_secondary_rightState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"breasts_secondary_rightState" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"breasts_secondary_rightState" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {},
							"down" : {},
							"front" : {"indicate":"red", "action":"breastVoreLetout2"},
							"back" : {}
						}},
						"left" : {"struggleActions" :{
							"any" : {
								"givePredResource" : {"sbqLust":1},
								"givePreyResource" : {"sbqLust":1},

								"pressAnimations" : {"breasts_secondary_leftState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
								"holdAnimations" : {"breasts_secondary_leftState" : ["s_<s_direction>_hold",false,false,true]},
								"releaseAnimations" : {"breasts_secondary_leftState" : ["s_<s_direction>_release", false]},
								// minimum, maximum
								"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
								"count" : [10,30] // count of struggles to trigger action
							},
							"up" : {},
							"down" : {},
							"front" : {"indicate":"red", "action":"breastVoreLetout2"},
							"back" : {}
						}}

					}
				}

			}
		}
	},
	"availableVoreTypes" : {
	},
	"availableInfuseTypes": {
	}
}
