{
	"pred" : {
		"toolUsageSuppressed" : false,
		"itemTagBlacklist" : []
	},
	"prey" : {},
	"locations" : {
		// "grabbed" : {
		// 	"actions" : [
		// 		{"action":"shoulderRide"},
		// 		{"action":"oralVore"},
		// 		{"action":"absorbVore"},
		// 		// {"action":"analVore"},
		// 		// {"action":"cockVore"},
		// 		// {"action":"unbirthVore"},
		// 		// {"action":"bellyInfuse"},
		// 		// {"action":"cockInfuse"},
		// 		// {"action":"pussyInfuse"}
		// 	]
		// },
		"belly" : {
			"activeSettings" : [
				{"vorePrefs":{"oralVore":{"pred":true}}},
				{"vorePrefs":{"analVore":{"pred":true}}},
				{"vorePrefs":{"absorbVore":{"pred":true}}}
			],
			// "sharedWith" : ["womb"],
			// "addFill" : ["womb"],
			"maxFill" : 2,
			"struggleSizes" : [0,1,2],
			"interpolateSizes" : [ 0,
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1,
				1.125,1.25,1.375,1.5,1.625,1.75,1.875,2
				// 2.125,2.25,2.375,2.5,2.625,2.75,2.875,3
			],
			"sizeChangeAnims" : { "bellyExpandState" : "expand" },
			"secondaryEffects" : {
				"transform" : ["sbqTransformation"]
			},
			"digestedEffects" :{
				"transformDigested" : ["sbqTransformation"]
			},
			"actions" : [
				{"action":"letout"},
				{"action":"turboDigest"},
				{"action":"turboHeal"},
				{"action":"transform"},
				{"action":"bellyInfuse"},
				{"action":"heal"},
				{"action":"softDigest"},
				{"action":"digest"},
				{"action":"none"}
			],
			"digestedActions" : [
				{"action":"reform"},
				{"action":"turboReform"},
				{"action":"transform"},
				{"action":"bellyInfuse"},
				{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
				{"action":"chooseLocation", "description":"chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
				{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}} // for prey requesting where they get sent
			],
			"infusedActions" : [
				{"action":"reform"},
				{"action":"turboReform"}

			]
		},
		// "ass" : {
		// 	"activeSettings" : {"vorePrefs":{"analVore":{"pred":true}}},
		// 	"maxCount" : 1,
		// 	"actions" : [
		// 		{"action":"letout"},
		// 		{"action":"turboDigest"},
		// 		{"action":"turboHeal"},
		// 		{"action":"thighsInfuse"}
		// 	],
		// 	"digestedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"},
		// 		{"action":"thighsInfuse"},
		// 		{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
		// 		{"action":"chooseLocation", "description":"chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
		// 		{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}} // for prey requesting where they get sent
		// 	],
		// 	"infusedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"}
		// 	]
		// },
		// "pussy" : {
		// 	"activeSettings" : {"vorePrefs":{"unbirthVore":{"pred":true}}, "pussy":true},
		// 	"maxCount" : 1,
		// 	"sendDeeperAction" : {
		// 		"action" : "moveToLocation",
		// 		"args" : ["womb"]
		// 	},
		// 	"actions" : [
		// 		{"action":"letout"},
		// 		{"action":"pussyInfuse"}
		// 	],
		// 	"digestedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"},
		// 		{"action":"pussyInfuse"},
		// 		{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
		// 		{"action":"chooseLocation", "description":"chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
		// 		{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}} // for prey requesting where they get sent
		// 	],
		// 	"infusedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"}
		// 	]
		// },
		// "womb" : {
		// 	"activeSettings" : {"vorePrefs":{"unbirthVore":{"pred":true}}, "pussy":true},
		// 	"sharedWith" : ["belly"],
		// 	"maxFill" : 2,
		// 	"secondaryEffects" : {
		// 		"transform" : ["sbqTransformation"],
		// 		"eggify" : ["sbqEggify"]
		// 	},
		// 	"digestedEffects" :{
		// 		"transformDigested" : ["sbqTransformation"]
		// 	},
		// 	"actions" : [
		// 		{"action":"letout"},
		// 		{"action":"turboDigest"},
		// 		{"action":"turboHeal"},
		// 		{"action":"transform"},
		// 		{"action":"eggify"},
		// 		{"action":"pussyInfuse"}
		// 	],
		// 	"digestedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"},
		// 		{"action":"transform"},
		// 		{"action":"pussyInfuse"},
		// 		{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
		// 		{"action":"chooseLocation", "description":"chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
		// 		{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}} // for prey requesting where they get sent
		// 	],
		// 	"infusedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"}
		// 	]
		// },
		// "cock" : {
		// 	"activeSettings" : {"vorePrefs":{"cockVore":{"pred":true}}, "cock":true},
		// 	"maxFill" : 1,
		// 	"maxCount" : 1,
		// 	"struggleSizes":[0,0.5,1],
		// 	"interpolateSizes":[ 0,
		// 		0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
		// 		0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1
		// 	],
		// 	"sizeChangeAnims" : { "cockExpandState" : "expand" },
		// 	"sendDeeperAction" : {
		// 		"action" : "moveToLocation",
		// 		"args" : ["balls"]
		// 	},
		// 	"actions" : [
		// 		{"action":"letout"},
		// 		{"action":"turboDigest"},
		// 		{"action":"turboHeal"},
		// 		{"action":"cockInfuse"}
		// 	],
		// 	"digestedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"},
		// 		{"action":"cockInfuse"},
		// 		{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
		// 		{"action":"chooseLocation", "description":"chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
		// 		{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}} // for prey requesting where they get sent
		// 	],
		// 	"infusedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"}
		// 	]
		// },
		// "balls" : {
		// 	"activeSettings" : {"vorePrefs":{"cockVore":{"pred":true}}, "cock":true, "balls":true},
		// 	"symmetrySettings" : {"ballsSymmetric":true},
		// 	"subLocationBehavior" : "average",
		// 	"maxFill" : 2,
		// 	"struggleSizes":[0,0.5,1,2],
		// 	"interpolateSizes":[ 0,
		// 		0.15,0.3,0.5,0.65,0.8,1,
		// 		1.15,1.3,1.5,1.65,1.8,2
		// 	],
		// 	"subLocations" : {
		// 		"<left>" : {"sizeChangeAnims" : { "balls_<left>ExpandState" : "expand" }},
		// 		"<right>" : {"sizeChangeAnims" : { "balls_<right>ExpandState" : "expand" }},
		// 	},
		// 	"sizeChangeAnims" : { "ballsExpandState" : "expand" },
		// 	"actions" : [
		// 		{"action":"letout"},
		// 		{"action":"turboDigest"},
		// 		{"action":"turboHeal"},
		// 		{"action":"cockInfuse"}
		// 	],
		// 	"digestedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"},
		// 		{"action":"cockInfuse"},
		// 		{"action":"chooseLocation", "args":[true], "noDisplay":{"request":true}}, // for pred choosing where to send prey
		// 		{"action":"chooseLocation", "description":"chooseLocationPreyDesc", "args":[false], "noDisplay":{"request":true}}, // for a pred letting their prey choose where to get sent
		// 		{"action":"chooseLocation", "args":[false], "noDisplay":{"predRadialMenuSelect":true, "predHudSelect":true}} // for prey requesting where they get sent
		// 	],
		// 	"infusedActions" : [
		// 		{"action":"reform"},
		// 		{"action":"turboReform"}
		// 	]
		// }
	},
	"scripts" : ["/humanoid/any/voreScripts.lua"],
	"states" : {
		"default" : {
			"actions" : {
				"letout" : {
					"script" : "letout"
				},
				"reform" : {
					"script" : "reform"
				},
				"turboReform" :{
					"availableScript" : "turboReformAvailable",
					"script" : "turboReform"
				},
				"turboDigest" :{
					"availableScript" : "turboDigestAvailable",
					"script" : "turboDigest"
				},
				"turboHeal" :{
					"availableScript" : "turboHealAvailable",
					"script" : "turboHeal"
				},
				"digested" : {
					"script" : "digested"
				},
				"digest" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"softDigest" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"heal" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"none" : {
					"availableScript" : "mainEffectAvailable",
					"script" : "setMainEffect"
				},
				"fatal" : {
					"script" : "fatal"
				},
				"transform" : {
					"targetSettings":{"speciesTF":true},
					"transformResult": {"species": "vaporeon"},
					"script" : "transform"
				},
				"chooseLocation" : {
					"script" : "chooseLocation"
				},
				"moveToLocation" : {
					"throughput" : 1.25,
					"script" : "moveToLocation"
				},
				"grab" : {
					"location" : "grabbed",
					"script" : "grab"
				},
				"grabTarget" : {
					"targetSettings" : {"grabbed":true},
					"ignoreTargetOccupants" : true,
					"location" : "grabbed",
					"script" : "grabTarget"
				},
				"grabRelease" : {
					"location" : "grabbed",
					"script" : "grabRelease"
				},
				"vore" : {
					"script" : "actionSequence",
					"availableScript" : "actionSequenceAvailable",
					"untilFirstSuccess" : true,
					"actionList" : [
						["oralVore"],
						// ["cockVore"],
						// ["unbirthVore"],
						["analVore"],
						["absorbVore"]
					]
				},
				"oralVore" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["oralVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"oralVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["oralVore",true, true]
					},
					"throughput" : 1.25
				},

				// "unbirthVore" : {
				// 	"targetSettings" : {"vorePrefs":{"unbirthVore":{"prey":true}}},
				// 	"settings" : {
				// 		"pussy" : true,
				// 		"vorePrefs":{"unbirthVore":{"pred":true}}
				// 	},
				// 	"script" : "tryVore",
				// 	"animations" : {
				// 		"<occupant>State" : ["unbirthVore",true]
				// 	},
				// 	"location" : "womb",
				// 	"throughput" : 1.25,
				// 	"failureScript" : "trySendDeeper"
				// },
				// "unbirthVoreLetout" : {
				// 	"targetSettings" : {"vorePrefs":{"unbirthVore":{"prey":true}}},
				// 	"settings" : {
				// 		"pussy" : true,
				// 		"vorePrefs":{"unbirthVore":{"pred":true}}
				// 	},
				// 	"script" : "tryLetout",
				// 	"animations" : {
				// 		"<occupant>State" : ["unbirthVore",true, true]
				// 	},
				// 	"throughput" : 1.25
				// },

				"analVore" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["analVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"analVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["analVore",true, true]
					},
					"throughput" : 1.25
				},

				"absorbVore" : {
					"targetSettings" : {"vorePrefs":{"absorbVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"absorbVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["absorbVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"absorbVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"absorbVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"absorbVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["absorbVore",true, true]
					},
					"throughput" : 1.25
				},

				// "cockVore" : {
				// 	"targetSettings" : {"vorePrefs":{"cockVore":{"prey":true}}},
				// 	"settings" : {
				// 		"cock" : true,
				// 		"vorePrefs":{"cockVore":{"pred":true}}
				// 	},
				// 	"script" : "tryVore",
				// 	"animations" : {
				// 		"<occupant>State" : ["cockVore",true]
				// 	},
				// 	"location" : "cock",
				// 	"throughput" : 1.25,
				// 	"failureScript" : "trySendDeeper"
				// },
				// "cockVoreLetout" : {
				// 	"targetSettings" : {"vorePrefs":{"cockVore":{"prey":true}}},
				// 	"settings" : {
				// 		"cock" : true,
				// 		"vorePrefs":{"cockVore":{"pred":true}}
				// 	},
				// 	"script" : "tryLetout",
				// 	"animations" : {
				// 		"<occupant>State" : ["cockVore",true, true]
				// 	},
				// 	"throughput" : 1.25
				// },
			},
			"locations" : {
				"grabbed" : {
					"struggleActions" : {
						"any":{
							"pressAnimations" :{"<occupant>State":["s_<s_direction>",false,false,true]},
							// minimum, maximum
							"time" : [3,5], // hold time for struggles to trigger action, checked once for every second held
							"count" : [5,10], // count of struggles to trigger action
							"indicate" : "red", "action":"grabRelease"
						},
						"up" : {},
						"down" : {},
						"front" : {},
						"back" : {}
					}
				},
				"belly" : {
					"entryTypes" : ["oralVore","analVore","navelVore","absorbVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"bellyState" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : "s_<s_direction>_release"},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"red", "action":"oralVoreLetout"},
						"down" : {"indicate":"red", "action":"analVoreLetout"},
						"front" : {"indicate":"red", "action":"navelVoreLetout"},
						"back" : {}
					}
				},
				// "womb" : {
				// 	"entryTypes" : ["unbirthVore"],
				// 	"struggleActions" : {
				// 		"any" : {
				// 			"pressAnimations" : {"bellyState" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
				// 			"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
				// 			"releaseAnimations" : {"bellyState" : "s_<s_direction>_release"},
				// 			// minimum, maximum
				// 			"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
				// 			"count" : [10,30] // count of struggles to trigger action
				// 		},
				// 		"up" : {},
				// 		"down" : {"indicate":"red", "action":"unbirthVoreLetout"},
				// 		"front" : {},
				// 		"back" : {}
				// 	}
				// },
				// "pussy" : {
				// 	"entryTypes" : ["unbirthVore"],
				// },
				// "cock" : {
				// 	"entryTypes" : ["cockVore"],
				// 	"struggleActions" : {
				// 		"any" : {
				// 			"pressAnimations" : {"cockState" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
				// 			"holdAnimations" : {"cockState" : ["s_<s_direction>_hold",false,false,true]},
				// 			"releaseAnimations" : {"cockState" : "s_<s_direction>_release"},
				// 			// minimum, maximum
				// 			"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
				// 			"count" : [10,30] // count of struggles to trigger action
				// 		},
				// 		"up" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls"]},
				// 		"down" : {"indicate":"red", "action":"cockVoreLetout"},
				// 		"front" : {},
				// 		"back" : {}
				// 	}
				// },
				// "balls" : {
				// 	"entryTypes" : ["cockVore"],
				// 	"struggleActions" : {
				// 		"any" : {
				// 			"pressAnimations" : {"ballsState" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
				// 			"holdAnimations" : {"ballsState" : ["s_<s_direction>_hold",false,false,true]},
				// 			"releaseAnimations" : {"ballsState" : "s_<s_direction>_release"},
				// 			// minimum, maximum
				// 			"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
				// 			"count" : [10,30] // count of struggles to trigger action
				// 		},
				// 		"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
				// 		"down" : {},
				// 		"front" : {},
				// 		"back" : {}
				// 	},
				// 	"subLocations" : {
				// 		"<right>" : {"struggleActions" :{
				// 			"any" : {
				// 				"pressAnimations" : {"balls_<right>State" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
				// 				"holdAnimations" : {"balls_<right>State" : ["s_<s_direction>_hold",false,false,true]},
				// 				"releaseAnimations" : {"balls_<right>State" : "s_<s_direction>_release"},
				// 				// minimum, maximum
				// 				"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
				// 				"count" : [10,30] // count of struggles to trigger action
				// 			},
				// 			"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
				// 			"down" : {},
				// 			"front" : {},
				// 			"back" : {},
				// 			"left" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls","<left>"]}
				// 		}},
				// 		"<left>" : {"struggleActions" :{
				// 			"any" : {
				// 				"pressAnimations" : {"balls_<left>State" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
				// 				"holdAnimations" : {"balls_<left>State" : ["s_<s_direction>_hold",false,false,true]},
				// 				"releaseAnimations" : {"balls_<left>State" : "s_<s_direction>_release"},
				// 				// minimum, maximum
				// 				"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
				// 				"count" : [10,30] // count of struggles to trigger action
				// 			},
				// 			"up" : {"indicate":"green", "action":"moveToLocation", "args":["cock"]},
				// 			"down" : {},
				// 			"front" : {},
				// 			"back" : {},
				// 			"right" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls","<right>"]}
				// 		}}

				// 	}
				// },
				"ass" : {
					"entryTypes" : ["analVore"],
				}
			},
			"interactActions" : {
				//"defaultVore" : { "action" : "vore" },
				"oralVore" : {
					"action":"oralVore",
					"aimPart":"head","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				},
				// "cockVore" : {
				// 	"action":"cockVore",
				// 	"aimPart":"cock","aim":"interact","aimRadius":2,
				// 	"posPart":"body","pos":"front"
				// },
				// "unbirthVore" : {
				// 	"action":"unbirthVore",
				// 	"aimPart":"cock","aim":"interact","aimRadius":2,
				// 	"posPart":"body","pos":"front"
				// },
				"absorbVore" : {
					"action":"absorbVore",
					"aimPart":"belly","aim":"absorbInteract","aimRadius":2,
					"posPart":"body","pos":"front"
				},

				"analVore" : {
					"action":"analVore",
					"aimPart":"body","aim":"analInteract","aimRadius":2,
					"posPart":"body","pos":"back"
				}
			}
		}
	},
	"actionList" : [
		{"action":"shoulderRide", "noDisplay":{"assign":true}},
		{"action":"vore"},
		{"action":"oralVore"},
		{"action":"absorbVore"},
		{"action":"analVore"},
		{"action":"cockVore"},
		{"action":"unbirthVore"},
		{"action":"bellyInfuse"},
		{"action":"cockInfuse"},
		{"action":"pussyInfuse"},
		{"action":"physicalAttack", "noDisplay":{"request":true}},
		{"action":"specialAttack", "noDisplay":{"request":true}},
		{"action":"grab", "noDisplay":{"request":true}},
		{"action":"inhale", "noDisplay":{"request":true}}
	],
	"availableVoreTypes" : {
		"oralVore":true,
		"tailVore":false,
		"absorbVore":true,
		"navelVore":false,
		"analVore":true,
		"unbirthVore":false,
		"breastVore":false,
		"cockVore":false
	},
	"availableInfuseTypes" : {
		"cockInfuse":false,
		"bellyInfuse":true,
		"breastInfuse":false,
		"pussyInfuse":false
	},

	"settingUpdateScripts" : {
	},
	// array of settings to check and the animations to attempt play depending on if the values match
	// [1] object the settings to match
	// [2] the animation states to set if the active settings matched, using SpeciesScript:doAnimations(anims)
	"settingAnimationStates" : [
		[{"cock":true}, {
			"cockHiddenState" : "ignore"
		}],
		[{"cock":false}, {
			"cockHiddenState" : "none"
		}],
		// [{"balls":true}, {
		// 	"ballsHiddenState" : "ignore"
		// }],
		// [{"balls":false}, {
		// 	"ballsHiddenState" : "none"
		// }],
		// [{"pussy":true}, {
		// 	"pussyHiddenState" : "ignore"
		// }],
		// [{"pussy":false}, {
		// 	"pussyHiddenState" : "none"
		// }],
	]
}
