{

	"remapParts" : {
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","primary"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsCover" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		}
	}
}
