{
	"animations" : ["/humanoid/any/sbqModules/breastsInfuse/breastsInfuse.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/breasts/sbqOccupant.animation"],
	"settingsConfig" : {
		"overrideSettings" : {
			"any":{"breastsSelectOverride" : true}
		}
	},
	"locations" : {
		"breasts" : {
			"infuseType" : "breastInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [{"infusePrefs":{"breastInfuse":{"pred":true}}}],
			"maxSize" : 0,
			"maxCount" : 0,
			"struggleSizes":[0],
			"interpolateSizes":[0]
		}
	},
	"states" : {
		"default" : {
			"actions" : {
				"breastVore" : {
					"targetSettings" : {
						"infusePrefs":{"breastInfuse":{"prey":true}},
						"vorePrefs":{"breastVore":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"breastInfuse":{"pred":true}},
						"vorePrefs":{"breastVore":{"pred":true}}
					},
					"script": "simpleReturn",
					"availableScript": "simpleReturn",
					"returnValue": [false, "needsInfusion"]
				},
				"breastInfuse" : {
					"targetSettings" : {"infusePrefs":{"breastInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"breastInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"breasts",
					"voreAction":"breastInfuseExternal",
					"finishAction":"breastInfused"
				},
				"breastInfused" : {
					"targetSettings" : {"infusePrefs":{"breastInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"breastInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"breasts",
					"infuseSlots" : [
						"breasts",
						"breasts_secondary"
					]
				},
				"breastInfuseExternal" : {
					"targetSettings" : {
						"infusePrefs":{"breastInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"breastInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["breastVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "breasts",
					"hideSlots" : {
						"chest" : true
					}
				}

			},
			"interactActions" : {
				"breastInfuse" : {
					"action":"breastInfuse",
					"aimPart":"breasts","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			},
			"locations" : {
			}
		}
	},
	"availableVoreTypes" : {
		"breastVore" :true
	},
	"availableInfuseTypes": {
		"breastInfuse":true
	}
}
