[ "/humanoid/any/basicActions.config", {
	"pred" : {
		"toolUsageSuppressed" : false,
		"itemTagBlacklist" : []
	},
	"prey" : {},
	"transformResult": {"species": "sbq/vaporeon"},
	"locations" : {
		"grabbed" : {},
		"belly" : {
			"activeSettings" : [
				{"vorePrefs":{"oralVore":{"pred":true}}},
				{"vorePrefs":{"analVore":{"pred":true}}},
				{"vorePrefs":{"absorbVore":{"pred":true}}}
			],
			"maxFill" : 2,
			"struggleSizes" : [0,1,2],
			"interpolateSizes" : [ 0,
				0.125,0.25,0.375,0.5,0.625,0.75,0.875,1,
				1.125,1.25,1.375,1.5,1.625,1.75,1.875,2
			],
			"sizeChangeAnims" : { "bellyExpandState" : "expand" }
		}
	},
	"scripts" : ["/humanoid/any/voreScripts.lua"],
	"states" : {
		"default" : {
			"actions" : {
				"grab" : {
					"location" : "grabbed",
					"script" : "grab"
				},
				"grabTarget" : {
					"targetSettings" : {"grabbed":true},
					"ignoreTargetOccupants" : true,
					"location" : "grabbed",
					"script" : "grabTarget"
				},
				"grabRelease" : {
					"location" : "grabbed",
					"script" : "grabRelease"
				},
				"vore" : {
					"script" : "actionSequence",
					"availableScript" : "actionSequenceAvailable",
					"untilFirstSuccess" : true,
					"actionList" : [
						["oralVore"],
						["analVore"],
						["absorbVore"]
					]
				},
				"oralVore" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["oralVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"oralVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"oralVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"oralVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["oralVore",true, true]
					},
					"throughput" : 1.25
				},

				"analVore" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["analVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"analVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"analVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"analVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["analVore",true, true]
					},
					"throughput" : 1.25
				},

				"absorbVore" : {
					"targetSettings" : {"vorePrefs":{"absorbVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"absorbVore":{"pred":true}}},
					"script" : "tryVore",
					"animations" : {
						"<occupant>State" : ["absorbVore",true]
					},
					"location" : "belly",
					"throughput" : 1.25
				},
				"absorbVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"absorbVore":{"prey":true}}},
					"settings" : {"vorePrefs":{"absorbVore":{"pred":true}}},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["absorbVore",true, true]
					},
					"throughput" : 1.25
				}
			},
			"locations" : {
				"grabbed" : {
					"struggleActions" : {
						"any":{
							"pressAnimations" :{"<occupant>State":["s_<s_direction>",false,false,true]},
							// minimum, maximum
							"time" : [3,5], // hold time for struggles to trigger action, checked once for every second held
							"count" : [5,10], // count of struggles to trigger action
							"indicate" : "red", "action":"grabRelease"
						},
						"up" : {},
						"down" : {},
						"front" : {},
						"back" : {}
					}
				},
				"belly" : {
					"entryTypes" : ["oralVore","analVore","navelVore","absorbVore"],
					"struggleActions" : {
						"any" : {
							"pressAnimations" : {"bellyState" : "s_<s_direction>_press","<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"bellyState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"bellyState" : "s_<s_direction>_release"},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"red", "action":"oralVoreLetout"},
						"down" : {"indicate":"red", "action":"analVoreLetout"},
						"front" : {"indicate":"red", "action":"navelVoreLetout"},
						"back" : {}
					}
				}
			},
			"interactActions" : {
				//"defaultVore" : { "action" : "vore" },
				"oralVore" : {
					"action":"oralVore",
					"aimPart":"head","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				},
				"absorbVore" : {
					"action":"absorbVore",
					"aimPart":"belly","aim":"absorbInteract","aimRadius":2,
					"posPart":"body","pos":"front"
				},
				"analVore" : {
					"action":"analVore",
					"aimPart":"body","aim":"analInteract","aimRadius":2,
					"posPart":"body","pos":"back"
				}
			}
		}
	},
	"actionList" : [
		{"action":"vore"},
		{"action":"oralVore"},
		{"action":"absorbVore"},
		{"action":"analVore"},
		{"action":"bellyInfuse"},
		{"action":"physicalAttack", "noDisplay":{"request":true}},
		{"action":"specialAttack", "noDisplay":{"request":true}},
		{"action":"grab", "noDisplay":{"request":true}},
		{"action":"inhale", "noDisplay":{"request":true}}
	],
	"availableVoreTypes" : {
		"oralVore":true,
		"tailVore":false,
		"absorbVore":true,
		"navelVore":false,
		"analVore":true,
		"unbirthVore":false,
		"breastVore":false,
		"cockVore":false
	},
	"availableInfuseTypes" : {
		"cockInfuse":false,
		"bellyInfuse":true,
		"breastInfuse":false,
		"pussyInfuse":false
	}
}]
