{
	"animations" : ["/humanoid/any/sbqModules/humanoidBase/fingerPussy.animation"],
	"cosmeticAnimations" : ["/humanoid/any/sbqModules/humanoidBase/fingerPussy.cosmetic.animation"],

	"states" : {
		"default" : {
			"actions" : {
				"fingerPussy" : {
					"animations" : { "rpActionState":["fingerPussy", false]}
				}
			}
		}
	}
}
