{
	"animations" : ["/humanoid/any/sbqModules/humanoidBase/jackoff.animation"],
	"cosmeticAnimations" : ["/humanoid/any/sbqModules/humanoidBase/jackoff.cosmetic.animation"],

	"debug" : true,
	"states" : {
		"default" : {
			"actions" : {
				"jackoff" : {
					"animations" : { "rpActionState":["jackoff", false]}
				}
			}
		}
	}
}
