{
	"includes" : [
		"/humanoid/any/sbqModules/base/sbqModule.config",
		"/humanoid/any/sbqModules/grab/sbqModule.config"
	],
	"animations" : ["/humanoid/any/sbqModules/humanoidBase/humanoidBase.animation"],
	"cosmeticAnimations" : ["/humanoid/any/sbqModules/humanoidBase/humanoidBase.cosmetic.animation"],
	"hideCrotch" : {
		"body_fgHiddenState" : ["true"]
	},
	"showCrotch" : {
		"body_fgHiddenState" : ["false"]
	},
	"bodyFullbrightParts" : [
		"body_fg"
	]

}
