{
    "animations" : ["/humanoid/any/sbqModules/humanoidBase/squishBreasts.animation"],
    "cosmeticAnimations" : ["/humanoid/any/sbqModules/humanoidBase/squishBreasts.cosmetic.animation"],

    "states" : {
        "default" : {
            "actions" : {
                "squishBreasts" : {
					"animations" : { "rpActionState":["squishBreasts", false]}
				}
            }
        }
    }
}
