{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"overrideSettings" : {
		},
		"overridePreyEnabled" : {
			"tailVore" : false,
			"navelVore" : false,
			"absorbVore" : false,
			"cockVore" : false,

			"transformAllow": false,
			"digestAllow": false,
			"cumDigestAllow": false,
			"femcumDigestAllow": false,
			"milkDigestAllow": false,
			"genderswapAllow": false,
			"cumTransformAllow": false,
			"eggAllow": false

		}
	}
}
