{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"overrideSettings" : {
		},
		"overridePreyEnabled" : {
			"navelVore": false,

			"genderswapAllow": false,

			"femcumSoftDigestAllow": false,

			"digestAllow": false,
			"cumDigestAllow": false,
			"femcumDigestAllow": false,
			"milkDigestAllow": false
		}
	}
}
