{
	"scripts" : ["/humanoid/avali/vore_anim_overrides.lua"],
	"sbqBreastCoverRemap" : {
		"species" : "avali",
		"remapColors" : [
			["primary","secondary"]
		]
	},
	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","flesh"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"breastsCover" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"breastsFront" :  {
			"species" : "avali",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"breastsBack" :  {
			"species" : "avali",
			"remapColors" : [
				["primary","secondary"]
			]
		}
	}
}
