{
	"partImages" : {
		"breastsFront" : "/humanoid/fenerox/breastsFront.png",
		"breastsBack" : "/humanoid/fenerox/breastsBack.png"
	},
	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts/noNavel",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","flesh"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsCover" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"],
				["flesh","flesh"]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"],
				["flesh","flesh"]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"],
				["flesh","flesh"]
			]
		}
	}
}
