{
	"animations" : ["/humanoid/any/sbqModules/cock/cock.animation"],
	"occupantAnimations" : ["/humanoid/any/sbqModules/cock/sbqOccupant.animation"],
	"cosmeticAnimations" : ["/humanoid/any/sbqModules/cock/cosmetic.animation"],

	"crotchHide" : {
		"cockHiddenState" : ["true"]
	},
	"crotchShow" : {
		"cockHiddenState" : ["false"]
	},
	"cockParticleEmitters" : [
		"cock_leak_1",
		"cock_leak_2"
	],
	"transformGroupAnimProperties" : {
		"cock_particles" : {"part":"cock","translate":"<cockSize>-particles"}
	},
	"bodyFullbrightParts" : [
		"cock"
	],

	"locations" : {
		"cock" : {
			"infuseType" : "cockInfuse",
			"infuseColors" : true,
			"infuseSize" : true,
			"activeSettings" : [{"vorePrefs":{"cockVore":{"pred":true}}}],
			"maxSize" : 1.5, // just allow things that are slightly off to fit in
			"maxCount" : 1,
			"struggleSizes":[0,0.5,1],
			"interpolateSizes":[ 0,
				0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
				0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1
			],
			"sizeChangeAnims" : { "cockExpandState" : ["expand", true] },
			"sendDeeperAction" : {
				"action" : "moveToLocation",
				"args" : ["balls"]
			},
			"emitterSetting" : "cockLeakiness",
			"climaxEmitters" : [
				"cock_climax"
			]
		}
	},
	"states" : {
		"default": {
			"actions" : {
				"cockVore" : {
					"targetSettings" : [
						{"vorePrefs":{"cockVore":{"prey":true}}}
					],
					"settings" : [
						{
							"vorePrefs":{"cockVore":{"pred":true}}
						},
						{
							"infusePrefs":{"cockInfuse":{"pred":true}},
							"vorePrefs":{"cockVore":{"pred":true}}
						}
					],
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"failureScript" : "trySendDeeper",
					"animations" : {
						"<occupant>State" : ["cockVore",true],
						"<occupant>Location" : ["default",true]
					},
					"location" : "cock",
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					}
				},
				"cockVoreLetout" : {
					"targetSettings" : {"vorePrefs":{"cockVore":{"prey":true}}},
					"settings" : {
						"vorePrefs":{"cockVore":{"pred":true}}
					},
					"script" : "tryLetout",
					"animations" : {
						"<occupant>State" : ["cockVore",true, true],
						"<occupant>Location" : ["default",true]
					},
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					},
					"applyStatusEffects" : [
						["sbqWetCum"]
					]
				},
				"cockInfuse" : {
					"targetSettings" : {"infusePrefs":{"cockInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"cockInfuse":{"pred":true}}},
					"script":"tryInfuse",
					"availableScript":"infuseAvailable",
					"location":"cock",
					"voreAction":"cockInfuseExternal",
					"finishAction":"cockInfused"
				},
				"cockInfused" : {
					"targetSettings" : {"infusePrefs":{"cockInfuse":{"prey":true}}},
					"settings" : {"infusePrefs":{"cockInfuse":{"pred":true}}},
					"script":"infused",
					"availableScript":"infuseAvailable",
					"location":"cock",
					"infuseSlots" : [
						"cock",
						"balls"
					]
				},
				"cockInfuseExternal" : { // essentially just CV but checks cock infuse instead
					"targetSettings" : {
						"infusePrefs":{"cockInfuse":{"prey":true}}
					},
					"settings" : {
						"infusePrefs":{"cockInfuse":{"pred":true}}
					},
					"script" : "tryVore",
					"availableScript" : "voreAvailable",
					"animations" : {
						"<occupant>State" : ["cockVore",true],
						"<occupant>Location" : ["default",true]
					},
					"flags" : {"infusing" : true},
					"location" : "cock",
					"throughput" : 1.5,
					"hideSlots" : {
						"legs" : true
					}
				}

			},
			"locations" : {
				"cock" : {
					"entryTypes" : ["cockVore"],
					"struggleActions" : {
						"any" : {
							"givePredResource" : {"sbqLust":1},
							"givePreyResource" : {"sbqLust":1},

							"pressAnimations" : {"cockState" : ["s_<s_direction>_press", false],"<occupant>State":["s_<s_direction>",false,false,true]},
							"holdAnimations" : {"cockState" : ["s_<s_direction>_hold",false,false,true]},
							"releaseAnimations" : {"cockState" : ["s_<s_direction>_release", false]},
							// minimum, maximum
							"time" : [10,15], // hold time for struggles to trigger action, checked once for every second held
							"count" : [10,30] // count of struggles to trigger action
						},
						"up" : {"indicate":"cyan", "action":"moveToLocation", "args":["balls"]},
						"down" : {"indicate":"red", "action":"cockVoreLetout"},
						"front" : {},
						"back" : {}
					}
				}
			},
			"interactActions" : {
				"cockVore" : {
					"action":"cockVore",
					"aimPart":"cock","aim":"interact","aimRadius":2,
					"posPart":"body","pos":"front"
				}
			}
		}
	},
	"availableVoreTypes" : {
		"cockVore" : true
	},
	"availableInfuseTypes" : {
		"cockInfuse":true
	}
}
