{
	"type" : "layout", "id" : "<entityId>Layout", "mode":"manual", "scissoring" : false, "size" : [96,25], "children" : [
		{ "type" : "image", "noAutoCrop" : true, "position" : [80,-7], "file" : "portraitSlot.png" },
		{ "type" : "image", "noAutoCrop" : true, "position" : [0,0], "file" : "portrait.png"  },
		{ "type" : "canvas", "id" : "<entityId>PortraitCanvas", "position" : [8,4], "size" : [16,16] },
		{ "type" : "label", "id" : "<entityId>Name", "position" : [32,8.5], "size" : [48,10], "text" : "<entityName>" },
		{ "type" : "canvas", "id" : "<entityId>HealthBar", "data":{"bar":"topBar"}, "position" : [23,0], "size" : [61,5] },
		{ "type" : "canvas", "id" : "<entityId>ProgressBar",  "data":{"bar":"bottomBar"}, "position" : [23, 19 ], "size" : [61, 5 ] },
		{ "type" : "image", "noAutoCrop" : true, "position" : [0,0], "file" : "portraitCover.png"  },
		{ "type" : "iconButton", "id" : "<entityId>ActionButton", "noAutoCrop" : true, "position" : [0,0], "image" : "portrait.png?setcolor=FFFFFF?multiply=00000001"  }
	]
}
