{
	"sbqData" : {
		"victimAnimations": "/humanoid/victim_animations.config",
		"scripts" : ["/humanoid/sbq_vore_scripts.lua"],

		"locations" :{
			"belly" : {
				"combine":["womb"], "max": 2.25, "infusion" : true, "infusionSetting" : "bellyInfusion",
				"preyActions" : [
					{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "bellyEffectSlot" : ["softDigest", "digest"]} },
					{ "name":"Belly TF", "script":"infusePrey", "checkSettings": { "bellyInfusionPred" : true }, "single" : true }
				],
				"sizes":{
					"struggle":[0,0.25,0.5,0.75,1,2],
					"interpolate":[ 0,
						0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
						0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1,
						1.125,1.25,1.375,1.5,1.625,1.75,1.875,2
						//2.125,2.25,2.375,2.5,2.625,2.75,2.875,3
					]
				}
			},
			"womb" : {
				"combined" : true, "max": 2.25, "infusion" : true, "infusedVisual" : true, "infusionSetting" : "pussyInfusion",
				"passiveToggles" : ["Eggify","TF"], "preyActions" : [
					{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "wombEffectSlot" : ["softDigest", "digest"]} },
					{ "name":"Eggify", "script":"eggify" },
					{ "name":"Transform", "script":"transform"},
					{ "name":"Pussy TF", "script":"infusePrey", "checkSettings": { "pussyInfusionPred" : true }, "single" : true }
				],
				"sizes":{
					"struggle":[0,0.25,0.5,0.75,1,2],
					"interpolate":[ 0,
						0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
						0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1,
						1.125,1.25,1.375,1.5,1.625,1.75,1.875,2
						//2.125,2.25,2.375,2.5,2.625,2.75,2.875,3
					]
				}
			},
			"shaft" : {
				"max": 1.25, "infusion" : true, "infusedVisual" : true, "infusionSetting" : "cockInfusion",
				"passiveToggles" : ["TF"], "preyActions" : [
					{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "shaftEffectSlot" : ["softDigest", "digest"]} },
					{ "name":"Cum TF", "script":"transform" },
					{ "name":"Cock TF\n(Shaft)", "script":"infusePrey", "checkSettings": { "cockInfusionPred" : true }, "single" : true },
					{ "name":"Cock TF\n(Shaft+Balls)", "script":"cockTF", "checkSettings": { "cockInfusionPred" : true }, "single" : true }
				],
				"sizes":{
					"struggle":[0,0.5,1],
					"interpolate":[ 0,
						0.0625,0.125,0.1875,0.25,0.3125,0.375,0.4375,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
						0.5625,0.625,0.6875,0.75,0.8125,0.875,0.9375,1
					]
				}
			},
			"balls" : {
				"max": 2.25, "infusion" : true, "infusedVisual" : true, "infusionSetting" : "cockInfusion",
				"passiveToggles" : ["TF"], "preyActions" : [
					{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "ballsEffectSlot" : ["softDigest", "digest"]} },
					{ "name":"Cum TF", "script":"transform" },
					{ "name":"Cock TF\n(Balls)", "script":"infusePrey", "checkSettings": { "cockInfusionPred" : true }, "single" : true },
					{ "name":"Cock TF\n(Shaft+Balls)", "script":"cockTF", "checkSettings": { "cockInfusionPred" : true }, "single" : true }
				],
				"sizes":{
					"struggle":[0,0.5,1,2],
					"interpolate":[ 0,
						0.15,0.3,0.5,0.65,0.8,1,
						1.15,1.3,1.5,1.65,1.8,2
					]
				}
			},
			"ballsL" : {},
			"ballsR" : {},
			"bulge" : { "copy" : ["shaft", "ballsL", "ballsR"] },

			"breasts" : {
				"max": 2, "infusion" : true, "infusedVisual" : true, "infusionSetting" : "breastsInfusion",
				"preyActions" : [
					{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "breastsEffectSlot" : ["softDigest", "digest"]} },
					{ "name":"Breast TF", "script":"infusePrey", "checkSettings": { "breastsInfusionPred" : true }, "single" : true }
				],
				"sizes":{
					"struggle":[0,0.5,1],
					"interpolate":[ 0,
						0.1,0.2,0.3,0.4,0.5, // we are only ever going to get this small in decimals at the 0-1 levels
						0.6,0.7,0.8,0.9,1
					]
				}
			},
			"breastsL" : {},
			"breastsR" : {}
		},
		"autoSetSettings" : {
			"cockVorePred" : {
				"true" : { "penis" : true, "balls" : true }
			},
			"unbirthPred" : {
				"true" : { "pussy" : true }
			},
			"breastVorePred" : {
				"true" : { "breasts" : true }
			}
		},
		"defaultSettings" : {
			"ballsSymmetrical" : true,
			"breastsSymmetrical" : true,

			"underwear" : false,
			"bra" : false,

			"breasts" : false,
			"penis" : false,
			"balls" : false,
			"pussy" : false,
			"navel" : false,
			"tail" : false,
			"tailMaw" : false,
			"TGOnly" : false
		}

	},
	"states": {
		"stand": {
			"edible" : true,
			"transitions": {
				// directional = occupant0 can press that direction to transition
				"oralVore" : {
					"settings" : { "oralVorePred" : true },
					"lock" : true,
					"script" : "oralVore",
					"voreType" : "oralVore",
					"victimAnimation" : "oralVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"oralEscape" : {
					"settings" : { "oralVorePred" : true },
					"lock" : true,
					"script" : "oralEscape",
					"voreType" : "oralVore",
					"victimAnimation" : "oralEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analVore" : {
					"lock" : true,
					"settings" : { "analVorePred" : true, "underwear" : false, "pants" : false },
					"script" : "analVore",
					"voreType" : "analVore",
					"victimAnimation" : "analVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analEscape" : {
					"lock" : true,
					"settings" : { "analVorePred" : true, "underwear" : false, "pants" : false },
					"script" : "analEscape",
					"voreType" : "analVore",
					"victimAnimation" : "analEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"unbirth" : {
					"lock" : true,
					"settings" : { "unbirthPred" : true, "pussy" : true, "underwear" : false, "pants" : false },
					"script" : "unbirth",
					"voreType" : "unbirth",
					"victimAnimation" : "unbirth",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"unbirthEscape" : {
					"lock" : true,
					"settings" : { "unbirthPred" : true, "pussy" : true, "underwear" : false, "pants" : false },
					"script" : "unbirthEscape",
					"voreType" : "unbirth",
					"victimAnimation" : "unbirthEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"cockVore" : {
					"lock" : true,
					"settings" : { "cockVorePred" : true, "penis" : true, "underwear" : false, "pants" : false },
					"script" : "cockVore",
					"voreType" : "cockVore",
					"victimAnimation" : "cockVore",
					"timing" : "cock",
					"animation" : {
						"cock" : "dummyEat"
					}
				},
				"cockEscape" : {
					"lock" : true,
					"settings" : { "cockVorePred" : true, "penis" : true, "underwear" : false, "pants" : false },
					"script" : "cockEscape",
					"voreType" : "cockVore",
					"victimAnimation" : "cockEscape",
					"timing" : "cock",
					"animation" : {
						"cock" : "dummyEat"
					}
				},
				"ballsToShaft": { // 1 occupant
					"settings" : { "penis" : true },
					"location" : "shaft",
					"script": "moveToLocation"
				},
				"shaftToBalls": { // 1 occupant
					"settings" : { "balls" : true },
					"location" : "balls",
					"script": "moveToLocation"
				},
				"switchBalls": { // 1 occupant
					"settings" : { "balls" : true },
					"script": "switchBalls"
				},
				"breastVore" : {
					"lock" : true,
					"settings" : { "breasts" : true, "bra" : false, "shirt" : false },
					"script" : "breastVore",
					"voreType" : "breastVore",
					"victimAnimation" : "breastVore",
					"timing" : "breastsFront",
					"animation" : {
						"breastsFront" : "dummyEat",
						"breastsBack" : "dummyEat"
					}
				},
				"breastEscape" : {
					"lock" : true,
					"settings" : { "breasts" : true, "bra" : false, "shirt" : false },
					"script" : "breastEscape",
					"voreType" : "breastVore",
					"victimAnimation" : "breastEscape",
					"timing" : "breastsFront",
					"animation" : {
						"breastsFront" : "dummyEat",
						"breastsBack" : "dummyEat"
					}
				},

				"navelVore" : {
					"lock" : true,
					"settings" : { "navel" : true },
					"script" : "navelVore",
					"voreType" : "navelVore",
					"victimAnimation" : "navelVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"navelEscape" : {
					"lock" : true,
					"settings" : { "navel" : true },
					"script" : "navelEscape",
					"voreType" : "navelVore",
					"victimAnimation" : "navelEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				}
			},
			"shrinkAnims":{
				"belly": { "belly": "expand" },

				"shaft": { "cock": "expand" },

				"bulge": { "bulge": "expand" },

				"balls" : { "ballsFront": "expand", "ballsBack": "expand" },

				"breasts" : { "breastsFront": "expand", "breastsBack": "expand" }
			},
			"expandAnims":{
				"belly": { "belly": "expand" },

				"shaft": { "cock": "expand" },

				"bulge": { "bulge": "expand" },

				"balls" : { "ballsFront": "expand", "ballsBack": "expand" },

				"breasts" : { "breastsFront": "expand", "breastsBack": "expand" }
			},
			"locationCenters" : {
				"belly" : [0, -1],
				"womb" : [0, -1.25],

				"shaft" : [0, -1.75],

				"ballsL" : [0, -1.5],
				"ballsR" : [0, -1.5],

				"breastsL" : [0, -0.5],
				"breastsR" : [0, -0.5]
			},
			"struggle": {
				"belly" : {
					"parts" : ["belly"],
					"directions" : {
						"up": { "transition": "oralEscape", "indicate" : "red", "drivingEnabled" : true },
						"down": { "transition": "analEscape", "indicate" : "red", "drivingEnabled" : true, "settings" : { "underwear" : false, "pants" : false } },
						"front": { "transition": "navelEscape", "indicate" : "red", "drivingEnabled" : true, "settings" : { "navel" : true } },
						"back": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"womb" : {
					"parts" : ["belly"],
					"directions" : {
						"up": { },
						"down": { "transition": "unbirthEscape", "indicate" : "red", "drivingEnabled" : true, "settings" : { "pussy" : true, "underwear" : false, "pants" : false } },
						"front": {},
						"back": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"shaft" : {
					"parts" : ["cock"],
					"additionalParts" : ["bulge"],
					"directions":{
						"down": { "transition": "cockEscape", "indicate": "red", "drivingEnabled": true, "settings" : { "underwear" : false, "pants" : false } },
						"front": {},
						"back": {},
						"up": { "transition": "shaftToBalls", "indicate": "cyan", "drivingEnabled": true, "settings" : { "balls" : true } }
					},
					"chances": { "min": 5, "max": 10 }
				},
				"ballsL" : {
					"sided" :{
						"rightParts" : ["ballsBack"],
						"leftParts" : ["ballsFront"]
					},
					"additionalParts" : ["bulge"],
					"directions":{
						"up": { "transition": "ballsToShaft", "indicate": "green", "drivingEnabled": true, "settings" : { "penis" : true } },
						"front": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"back": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				},
				"ballsR" : {
					"sided" :{
						"rightParts" : ["ballsFront"],
						"leftParts" : ["ballsBack"]
					},
					"additionalParts" : ["bulge"],
					"directions":{
						"up": { "transition": "ballsToShaft", "indicate": "green", "drivingEnabled": true, "settings" : { "penis" : true } },
						"front": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"back": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				},

				"breastsL" : {
					"sided" :{
						"rightParts" : ["breastsBack"],
						"leftParts" : ["breastsFront"]
					},
					"directions":{
						"up": {},
						"front": { "transition": "breastEscape", "indicate": "red", "drivingEnabled": true, "settings" : { "bra" : false, "shirt" : false } },
						"back": {},
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				},
				"breastsR" : {
					"sided" :{
						"rightParts" : ["breastsFront"],
						"leftParts" : ["breastsBack"]
					},
					"directions":{
						"up": {},
						"front": { "transition": "breastEscape", "indicate": "red", "drivingEnabled": true, "settings" : { "bra" : false, "shirt" : false } },
						"back": {},
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				}
			}
		}
	}
}
